.background-bg{
    background-color:#fff;
  }
.news-bg{
    background-image: url(../../../../../assets/img/web-icons/BG_PNG.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    min-height: 344px;
   

    .news-hedding{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        color: #fff;
            font-size: 3rem;
            font-weight: 500;
            letter-spacing: 0px; 
            margin-bottom: 30px; 
    }
    .news-small-text{
        color: #fff;
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
        line-height: 30px;
    }
    .news-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 75px;
        width:70%;
    }
}

.banner-search{
    background-color: #fff;
    border: 1px solid #adadad;
    border-radius: 4px;
    padding: 12px 15px;
    width: 75%;
    margin: auto;
    min-height: 65px;
    .search{
        width:100%;
        .search-input{
            min-height: 48px;
            padding-left:0.6rem;
            font-size: 14px; 
            border:none;
            &::placeholder{
                color: black;
            }
        }
    }
    .search-find-button{
        margin-top: 5px;
        .btn-find{
            color: black !important;
            padding: 9px 24px;
            font-size: 14px;
            &:hover, &:focus{
                color:#fff;
            }                   
        }
    }
}

@media (max-width: 768px){
    .news-bg{ 
        .news-box{
            padding-top: 30px;
        }
            .news-hedding{
                font-size: 2.4rem; 
            }
      }
      .banner-search{
        padding: 6px 15px;
        width: 90%;
      }
}

@media (max-width: 576px){
    .news-bg{ 
        .news-box{
            padding-top: 45px;
        }
            .news-hedding{
                font-size: 1.7rem; 
                margin-bottom: 9px
            }
            .news-small-text{
                font-size: 1rem;
                line-height: 26px;
            }
      }
      .banner-search{
        padding: 6px 15px;
        width: 90%;
      }
}