<div class="news-bg">
    <div class="container news-box">
<h2 class="news-hedding">
    Subscribe to Our Newsletter
</h2>
<span class="news-small-text pb-4">
    Keep in touch with us to receive updates on new vendors in your area, Ordering options and more!
we'll also let you know when our mobile app is available, making it even easier to #buylocal
</span>
<form [formGroup]="subscribeEmailForm" (ngSubmit)="subscribeEmail()" class ="w-100 text-center">
    <div class="banner-search d-flex">

      <div class="search ml-0">
            <input type="text" class="search-input m-0 pl-0 form-control form-control-sm ml-0" formControlName="email" placeholder="Enter your email address">
        </div>
        <div class="ssearch-find-button ml-3 mt-1">
            <button
            [disabled]="subscribeEmailForm.invalid"
            class="btn btn-primary btn-find" style="line-height:31px;"
            type="submit"
          >Submit
          </button>
            </div>
    </div>
    <div class="clearfix" *ngIf="f.touched">
      <mat-error *ngIf="f.errors && f.errors?.required">This field is required</mat-error>
      <mat-error *ngIf="f.errors && f.errors?.email || f.errors?.pattern">This field is required</mat-error>
    </div>
  </form>
</div>
</div>



