<!-- for header section -->
<NA-webHeader></NA-webHeader>

<div class="container-fluid background-bg pl-0 pr-0" style="padding-top: 71px;">
  <router-outlet></router-outlet>
</div>

<NA-webFooter></NA-webFooter>






