.background-bg{
  background-color:#fff;
}

/* Remove the navbar's default margin-bottom and rounded borders */
 .navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgb(66 72 80 / 15%);
  padding: 0 10px 0 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1001;
 }

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: white;
  color: gray;
  padding: 15px;
}

#basic-addon2{
  background-color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.search-field {
  width: 100%;
  margin: auto;
  .search-input{
    min-height: 50px;
    border: 1px solid #c8ced3;
    &:hover, &:focus{
      border:1px solid #929eaa;
    }
  }
}



.card-image-title{
  mat-icon{
    height: auto;
    width: auto;
    font-size: 100px;
    color: white;
  }
    background-color: #4AD3CC;  
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    min-height: 180px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.center{
  margin: auto;
}


.list-style-none{
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-right {
  color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li{
    padding: 10px;
    a{
      color: gray;
      position: relative;
      padding: 0.2em 0;
      &:hover{
        color: #FFD540;
        // font-weight: bold;
        text-decoration: none;
      }
    }
    /* Fade in */
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #FFD540;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
  }
}


.btn-default{
  background: gray;
  color: white;
}


.google-map-container{  
  padding-top:80px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  .google-map{
    border: 6px solid #ffffff;
  }  
}
.search-Box{
  padding: 2rem 0px;
}

.connected-container{
  justify-content: center;
  padding: 1rem 0px 0px;
}