<h2 mat-dialog-title>{{title}}</h2>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <p class="mt-3">
    {{message}}
  </p>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-button-raised class="btn btn-primary" type="button" (click)="action(true)">Yes</button>
  &nbsp;<button mat-button-raised class="btn btn-danger" type="button" (click)="action(false)">No</button>
</div>
