<div class="vendor-top-banner">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12 float-left pl-0 pr-0">
        <div class="cheesy-details-banner">
          <!-- End of vendor title setction -->
          <div class="cheesy-details-view d-flex w-100">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-section float-left p-0">
              <div class="card mb-1 pt-3 border-0">
                <div class="card-body cheesy-details pl-3 pr-0 pt-0 d-flex m-0">
                  <div class="d-flex">
                    <img src="assets/img/web-icons/cheesy-logo.svg"/>
                  </div>
                  <div class="card-total float-left pt-1 pr-0 pl-3 w-100">
                    <div class="categories-name d-flex">
                      <div class="online-tag"><strong class="tag-cheesy pr-3">{{vendorData?.storeName}}</strong>
                        <span class="pl-3" *ngIf="vendorData?.favoriteVendors.length">
                            <img class="pr-1" height="24" src="assets/img/web-icons/heart_small-fill.svg"/>Favorites
                        </span>
                    </div>
                      <div class="filter-content cart-ratting-box mt-2 pb-3 pl-0 pr-2">
                        <div class="ratting-cell pr-4">
                          <span>{{vendorData?.businessAddress}}</span>
                        </div>
                      </div>
                      <div class="filter-content cart-ratting-box mt-0 pb-2 pl-0 pr-2">
                        <div class="ratting-cell profile-list-value pr-4">
                          <span class="pr-1"><img height="22" src="assets/img/web-icons/pin.svg" alt=""></span>
                          <span class="profile-total-value">{{vendorData?.city.name}} {{vendorData?.state.name}}, {{vendorData?.country.name}} </span>
                        </div>
                        <!-- <div class="ratting-cell pl-3">
                          <button class="btn btn-primary mapview-btn" type="button">Map View</button>
                        </div> -->
                      </div>
                    </div>
                    <div class="cheesy-find float-right text-right dsf pr-3">
                      <div class="order-text cheesy-order-view">
                        <span class="cheesy-rataing pr-3  pb-2">
                          <img height="16" class="ratting" src="assets/img/web-icons/star.svg"/>
                          <span *ngIf="!vendorData?.rating">0</span>
                          <span *ngIf="vendorData?.rating">{{vendorData?.rating}}</span>
                        </span>
                        <span class="cheesy-rataing cheesy-ordar-text pr-3 pb-2">Review</span>
                      </div>
                      <div class="order-text pb-2">
                        <span class="cheesy-rataing text-left pl-3 pb-2">{{vendorData?.categories.name}}</span>
                        <!-- <span class="cheesy-rataing text-left pl-3 pb-2">35min</span>   -->
                        <!-- <span class="cheesy-rataing cheesy-ordar-text text-left pl-3 pb-2">Delivery Time</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="vendor-details">
    <!-- <div>
    <NA-web-product-counter></NA-web-product-counter>
  </div> -->
    <div class="container">
        <div class="setup-profile-container">
            <div class="setup-tab">
                <div class="setup-nav">
                    <li [class.active]="currentTab == 'about'" (click)="currentTab = 'about'">
                        About the Store
                    </li>
                    <!-- <li [class.active]="currentTab == 'gallery'" (click)="userForm?.invalid ? '' : (currentTab = 'gallery')">
                        Gallery
                    </li> -->
                    <!-- <li [class.active]="currentTab == 'term-polices'" (click)="userForm?.invalid ? '' : (currentTab = 'term-polices')">
                        Term & Polices
                    </li> -->
                </div>
                <!-- End of Setup tab link section-->
            </div>
            <!-- End of Setup tab section-->
            <div class="setup-contant-body pl-0 pr-0">
                <div class="user-profile" *ngIf="currentTab == 'about'">
                    <div class="plan-content" fxLayout="row wrap">
                        <div class="col-md-3 col-sm-12 col-xs-12 float-left categories-box p-0">
                            <div class="title-text">
                                <h2>Categories</h2>
                            </div>
                            <ul class="categories-list pl-0">
                                <li *ngFor="let item of categoriesArray"><a [class.current]="item.isSelected == true" (click)="method_for_select_categories(item)" > {{item.name}} ({{item.productCount}})</a></li>
                            </ul>
                        </div>
                        <!-- End of Categories setction -->
                        <div class="col-md-6 col-sm-12 col-xs-12 float-left pl-0 pr-0">
                            <div class="details-vendor">
                                <div class="title-text details-title pb-3 pt-1 pl-3 pr-2">
                                    <h2 class="mb-0">Categories</h2>
                                    <div class="search-section ml-0">
                                        <input type="text" class="search-input m-0 form-control form-control-sm ml-0" placeholder="Search for here..." debounce [delay]="700" (func)="method_For_getting_product()" [(ngModel)]="productSearch" debounce="" />
                                    </div>
                                </div>
                                <!-- End of vendor title setction -->
                                <div class="categories-list-view d-flex w-100">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-section pt-3 float-left p-0">
                                        <div class="card mb-1 border-0" *ngFor="let item of productListArr">
                                            <div class="card-body online brand-section pl-3 pr-0 pt-0 d-flex m-0">
                                                <div class="rounded d-flex card-gallery">
                                                    <img *ngIf="!item.productImages.length" style="width: 122px;" src="assets/img/web-icons/gallery.svg" />
                                                    <img *ngIf="item.productImages.length" src="{{neighborhoodsApiService.config.imageBaseUrl}}{{item.productImages[0].productImage.url}}" />
                                                </div>
                                                <div class="card-total float-left pt-1 pr-0 pl-3 w-100">
                                                    <div class="categories-name d-flex">
                                                        <div class="online-tag-h4 pb-2">{{item.productName}}</div>
                                                        <p class="p-text online-tag-text mb-2">
                                                            {{item.description}}
                                                        </p>
                                                        <!-- <div class="filter-content cart-ratting-box mt-0 pb-2 pl-0 pr-2">
                                                            <div class="ratting-cell pr-4">
                                                                <em class="ratting-icon pr-1">
                                                                    <img src="../../../../../assets/img/web-icons/star.svg" alt=""/>
                                                                </em>
                                                                <span>4.5</span>
                                                            </div>
                                                            <div class="ratting-cell pr-4">
                                                                <em class="ratting-icon pr-1">
                                                                    <img src="../../../../../assets/img/web-icons/Veg.svg" alt=""/>
                                                                </em>
                                                                <span>35 min</span>
                                                            </div>
                                                        </div> -->
                                                        <span class="float-left w-100">
                                                            <strong class="mr-1" *ngIf="item.productPrices.length" >€ {{item.productPrices[0].unitPrice}}</strong>
                                                            <!-- <strong class="ml-1 mute-text text-decoration-line-through">€35.00</strong> -->
                                                        </span>
                                                    </div>
                                                    <div class="search-find-button float-right">
                                                        <button class="btn btn-primary add-btn" (click)="method_for_add_item_in_cart(item.id)" type="button">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of categories-list-view setction -->

                        <div class="col-md-3 col-sm-12 col-xs-12 pr-0 float-left">
                            <div class="title-text pb-3 pt-1 pl-0 pr-0 " *ngIf="!cartItemsArray.length">
                                <h2 class="mb-0">Cart Empty</h2>
                                <div class="cart-empty-box d-flex pt-3">
                                    <img height="110" class="img-fluid" src="assets/img/web-icons/empty-image.svg" alt="" />
                                    <p class="p-text empty-text pb-2 pt-3">
                                        Good food is always cooking! Go ahead, order some yummy items from the menu.
                                    </p>
                                </div>
                            </div>

                            <div class="title-text card-items-details pb-2 pt-1 pl-0 pr-0" *ngIf="cartItemsArray.length">
                                <h2 class="mb-1">Cart</h2>
                                <span class="items-count d-flex mb-3">{{cartItemsArray.length}} Items</span>
                                <div class="d-flex mb-2" *ngFor="let item of cartItemsArray">
                                    <div class="col-6 pl-0">
                                        <img *ngIf="!item.products?.productImages.length" src="assets/img/web-icons/gallery.svg" />
                                        <img *ngIf="item.products?.productImages.length" src="{{neighborhoodsApiService.config.imageBaseUrl}}{{item.products.productImages[0].productImage.url}}" />
                                        <span class="items-name">{{item.products?.productName}}</span>
                                        <!-- <p>{{item.quantity}}</p> -->
                                    </div>
                                    <div class="col-6 pl-0 pr-0 text-right">-
                                        <div class="number number-section mb-3">
                                            <button class="number-add increase" type="button" (click)="method_for_add_remove_item_quenty_from_card('minus', item)"><i class="fa fa-minus"></i></button>
                                            <input type="number" class="input-config"  [class.disabledBox]="disabled" [(ngModel)]="item.quantity" disabled="{{textDisabled}}"/>
                                            <button class="number-add decrease" type="button" (click)="method_for_add_remove_item_quenty_from_card('add', item)"><i class="fa fa-plus"></i></button>
                                        </div>
                                        <span class="items-name"><strong *ngIf="item.products?.productPrices.length">€ {{item.products?.productPrices[0].unitPrice}}</strong></span>
                                        <span class="items-name ml-4" (click)="method_for_remove_item_from_cart (item.id)"  ><i class="fa fa-trash-o" aria-hidden="true"></i></span>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="cartItemsArray.length">
                                <div class="card-total-box d-flex pt-2" >
                                    <h4>Subtotal</h4>
                                    <h4>€ {{cart_priceSubTotal}}</h4>
                                </div>
                                <p class="total-text mb-3">Extra charges may apply</p>
                                <button color="primary" class="btn mr-2 checkout-btn" (click)="method_for_routing()" mat-raised-button>Check Out</button>
                            </div>

                            <!-- End of categories-list-view setction -->
                        </div>
                        <!-- End of welcome to turf assistant top text  -->
                    </div>
                    <!-- End of User Profile section-->

                    <!-- <div class="facility-information" *ngIf="currentTab == 'gallery'">
                        Gallery
                    </div> -->
                    <div class="facility-information" *ngIf="currentTab == 'term-polices'">
                        <div class="plan-content" fxLayout="row wrap">
                            <!-- <div class="col-md-12 col-sm-12 col-xs-12 float-left Clearfix p-0">
                                <tabset>
                                  <tab heading="About Store"><div><p>about us</p></div></tab>
                                  <tab heading="Terms/Policies">
                                    <section>
                                        <h2 class="mb-0">Delivery Policy</h2>
                                        <p *ngIf="vendorsDetails?.deliveryPolicy;else notAvilable">{{vendorsDetails?.deliveryPolicy}}</p>
                                        <ng-template #notAvilable>
                                          <p>Not Available</p>
                                        </ng-template>
                                    </section>
                                    <section>
                                      <h2 class="mb-0">Click & Collect Policy</h2>
                                      <p *ngIf="vendorsDetails?.collectionPolicy;else notAvilable">{{vendorsDetails?.collectionPolicy}}</p>
                                      <ng-template #notAvilable>
                                        <p>Not Available</p>
                                      </ng-template>
                                  </section>

                                  <section>
                                    <h2 class="mb-0">Order Cancellation Policy</h2>
                                    <p *ngIf="vendorsDetails?.cancellationPolicy;else notAvilable">{{vendorsDetails?.cancellationPolicy}}</p>
                                    <ng-template #notAvilable>
                                      <p>Not Available</p>
                                    </ng-template>
                                 </section>
                                  </tab>
                                </tabset>
                              </div> -->
                        </div>
                    </div>

                    <!-- End of setup section  -->

                    <!-- End of setup form section  -->
                </div>
                <!-- End of setup contant body section  -->
            </div>
        </div>
    </div>
    </div>
