.vendor-top-banner{
    background-image: url(../../../assets/img/web-icons/background-base.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 239px;
    display: flex;
    align-content: center;
    align-items: center;
  
    .cheesy-details-banner{
      border:none;
    }
    .cheesy-details-view{ 
          height: auto;
          .card{
              background-color: transparent;
              border:none;
              .cheesy-details{
                border:none;
                .online-tag{
                   color:#fff;
                   position: relative;   
                    display: flex;
                   flex-direction: row;
                   align-items: center;
                   .categories-name{
                    max-width: 75%;
                    min-width: 75%;
                   }
                   .tag-cheesy{
                    position: relative;
                    font-weight: 500;
                    &::after{
                      background-color: #a9a9a9;
                      width: 1px;
                      height: 22px;
                      position: absolute;
                      right: 0px;
                      top: 0px;
                      content: "";
                   }                
                  }
                  span{
                    font-size:1rem;
                    font-weight: 500;
                    color:#B0B0B0;
                  }
                }
                .ratting-cell{
                  color:#B0B0B0;
                  font-weight: 400;
                  .mapview-btn{
                    color: #2B2B2B !important;
                    padding: 3px 6px;
                  }
                  &::after{
                    display: none;
                  }
                }           
              }
          }
  
        }
        .cheesy-find{
          max-width:25%;
          min-width:25%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          // align-items: center;
              .order-text{
                color: #B0B0B0;
                font-size: 0.9rem;
                font-weight: 400;
                position: relative;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                flex-wrap: nowrap;
                &.cheesy-order-view{
                  position: relative; 
                  &::after{
                    background-color: #a9a9a9;
                    width: 1px;
                    height: 42px;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    content: "";
                 }  
                 &:last-child::after{
                   display: none;
                 }
                 }
  
  
                .cheesy-rataing{
                  color:#fff;
                  position: relative;               
                
                }
                .cheesy-ordar-text{
                  color:#B0B0B0;
                  text-transform: capitalize;                     
                   } 
  
                 }
              .order-dispatched{
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                text-align: right;
                color: #B0B0B0;
                text-transform: uppercase;
                display: flex;
                align-content: center;
                justify-content: flex-end;
                align-items: center;
  
              }
        }
  }
   
.vendor-details{
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.setup-profile-container{
    padding: 1rem 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    .setup-tab{
        width:100%;
        border-bottom: 1px solid #c2c4c5;
    }
    .setup-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        li {
            padding: 10px 8px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
            color:#2B2B2B;
            min-height: 50px;
            margin-right: 16px;         
          &.active {
            color: #49D3CC;
            border-bottom: 3px solid #49D3CC;
          }
          
        }
      }
     
}
.setup-contant-body{
    padding: 10px 20px;
    // border: 1px solid #dde6e9;
    width: 100%;
   
      .plan-content{
          padding:0;
          .title-text {
            h2 {
              font-size: 1.3rem;
              margin-bottom: 17.5px;
              font-weight:700;
            }
            p {
              font-size: 10.5pt;
            }
            .items-count{
                font-weight: 500;
            }
            &.card-items-details{
                border-bottom: 1px dashed #D5D5DC;
                .items-name{
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }
          }
      }
      &.facility-tab{
        width:65em;
      } 
}
.categories-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    li{
        padding: 0px 0px 1px;
        width: 100%;
        display: flex;
        a{
            font-style: normal;
            font-weight: 500;
            color:#2B2B2B; 
            font-size: 14px;
            text-decoration: none;
            border-left: 3px solid transparent;
            width: 100%;
            padding: 8px 10px 8px 5px;
            &:hover, &:focus{
                color:#49D3CC; 
                font-weight: 500;
                text-decoration: none;
                border-left: 3px solid #49D3CC;
                background-color:  rgba(73, 211, 204, 0.15);
            }
            &.current{
                color:#49D3CC; 
                text-decoration: none;
                font-weight: 500;
                border-left: 3px solid #49D3CC;
                background-color:  rgba(73, 211, 204, 0.15);
            }
        }
    }
}
.details-title{
    display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
border-bottom: 1px solid #c2c4c5;
} 
.card-gallery{
    justify-content: center;
    align-items: center;
    background: #e8e8e8;
    min-height: 115px;
    min-width: 124px;
    border: 1px solid #D5D5DC;
    max-height: 115px;
    overflow: hidden;
    img{
      width:100%;
      height: 100%;
    }
}
.details-vendor{
    border-right: 1px solid #D5D5DC;
    border-left: 1px solid #D5D5DC;
}
.categories-list-view{    
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
}
.online-tag-text{
    font-size: 0.9rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    color: #2b2b2bc2;
}
.online-tag-h4{
  font-size:1rem;
  font-weight: 500;
  color:#2B2B2B;
}

.mute-text{
    color: #B5B5BE;
    text-decoration: line-through;
}
.search-section{
    width:50%;          
        .search-input{
            background-color: #fff;
            border: 1px solid #D5D5DC;
            min-height: 48px;
            padding: 12px 15px;
            border-radius: 4px;
            font-size: 14px; 
            &::placeholder{
                color: #2B2B2B;
            }
        }
}
.add-btn{
    color: #2B2B2B !important;
}
.categories-box{
    min-height: 100vh;
    max-height: 100%;
    overflow-y: auto;
    // border-right:1px solid #D5D5DC;
}
.card-total{
display: flex;
}
.categories-name{
    flex-direction: column;
    align-content: center;
    max-width: 83%;
    min-width: 83%;
}
.cart-ratting-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .ratting-cell{
    color: #2B2B2B;
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
    height: 17px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
      &::after{
        background-color: #a9a9a9;
        width: 1px;
        height: 13px;
        position: absolute;
        right: 11px;
        top: 3px;
        content: "";
      }
      &:last-child::after{
          background-color: transparent;
      }

    }
}
.cart-empty-box{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 253px;   
}
.card-total-box{
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    h4{
        font-size: 1rem;
        font-weight: 600;
        color: #2B2B2B;
        margin-bottom: 5px;
    }
}
.total-text{
    font-size: 0.8rem;
    color:#2b2b2bc2;
}
.checkout-btn{
    width:100%;
    min-height: 48px;
    font-size: 1rem;
    color: #2B2B2B !important;
}
.empty-text{
    color:#2B2B2B;
    font-size: 0.9rem;
    text-align: center;
}


@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 

  .card-total{
       display:inline-block;
       .categories-name{
         max-width: 100%;
         width:100%;
         margin-bottom: 10px;
       }
       .cheesy-find{
        max-width: 100%;
        width:100%;
        justify-content:flex-start;
       }
  }
  .categories-box{
    min-height: 100%;
    margin-bottom: 15px;
    max-height: 60vh;
  }
  .details-vendor{
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }

}




