<div class="modal-header pt-2 pb-2">
  <h5 class="modal-title mb-0" id="exampleModalCenteredLabel">
    <strong>Add Address </strong>
  </h5>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    (click)="cancel()"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body float-left pl-0 pr-0 pb-0">
  <form
    class="float-left mt-1 w-100 mb-0"
    [formGroup]="updateDetailsForm"
    (ngSubmit)="method_for_updateDetails()"
  >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left w-100 p-0">
      <div class="col-lg-6 col-md-12 float-left">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Address Line 1</mat-label>
          <input
            matInput
            name="Address Line 1"
            placeholder="Address Line 1"
            formControlName="street1"
          />
          <mat-error *ngIf="f.street1.errors" class="invalid-feedback">
            <div *ngIf="f.street1.errors.required">Address is required</div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-12 float-left">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Address Line 2</mat-label>
          <input
            matInput
            name="Address Line 2"
            placeholder="Address Line 2"
            formControlName="street2"
          />
          <mat-error *ngIf="f.street1.errors" class="invalid-feedback">
            <div *ngIf="f.street1.errors.required">Address is required</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-md-12 float-left">
        <ng-select         
          class="select-ng"
          appearance="outline"          
          [items]="countryList"
          bindLabel="name"
          bindValue="id"
          [clearable]="false"
          formControlName="country"
          placeholder="Select Country"
          (change)="method_for_change_in_country($event)"
        ></ng-select>
      </div>
      <div class="col-lg-6 col-md-12 float-left">
        <ng-select
          class="select-ng"
          appearance="outline"
          [items]="stateList"
          bindLabel="name"
          bindValue="id"
          [clearable]="false"
          formControlName="state"
          placeholder="Select State"
          (change)="method_for_change_in_state($event)"
        ></ng-select>
      </div>

      <div class="col-lg-6 col-md-12 float-left">
        <ng-select
          class="select-ng"
          appearance="outline"
          [items]="cityList"
          bindLabel="name"
          bindValue="id"
          [clearable]="false"
          formControlName="city"
          placeholder="Select city"
          (change)="method_for_change_in_city($event)"
        ></ng-select>
      </div>
      <div class="col-lg-6 col-md-12 float-left">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Postal Code</mat-label>
          <input
            matInput
            name="postal_code"
            placeholder="Postal Code"
            formControlName="postal_code"
          />
          <mat-error *ngIf="f.street1.errors" class="invalid-feedback">
            <div *ngIf="f.street1.errors.required">Postal Code is required</div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="modal-footer float-left w-100 pl-0 pr-0">
      <div class="col-lg-12 mt-0 btn-wrapper">
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save</button>
</div> -->
