.number-add, .input-config {
  background-color: transparent;
  text-align: center;
  border: 1px solid #F4AC00;
}

.number-section {
  padding:0px;
  display: flex;
}


.disabledBox {
  background: #eaeaea;
  border: 1px solid #d6d6d6;
  color: transparent;

}

.input-config{
  height: 35px;
  vertical-align: bottom;
  border-top: 1px solid #F4AC00;
  border-bottom: 1px solid #F4AC00;
  width: 28px;
 
}
/* Chrome, Safari, Edge, Opera */
input.input-config::-webkit-outer-spin-button,
input.input-config::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Firefox */
input.input-config[type=number] {
  -moz-appearance: none;
  -moz-appearance:textfield;
  position: relative;
}
input.input-config[type=number]::-moz-inner-spin-button,
input.input-config[type=number]::-moz-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



.number{
      &-add{
          background: rgba(244, 172, 0, 0.15);
          border: 1px solid #F4AC00;  
          padding: 3px 8px;

          i.fa{
            font-size: 12px;
          }
          &:hover, &:focus{
            outline: none;
            box-shadow: none;            
          }
                 
          &.increase{
            border-radius: 4px 0px 0px 4px;
          }
          &.decrease{
            border-radius: 0px 4px 4px 0px;
          }
      }
}