<div class="number number-section">
  <button class="number-add increase" type="button" (click)="progress(0)"><i class="fa fa-minus"></i></button>
  <input type="number" class="input-config"  [class.disabledBox]="disabled" [(ngModel)]="quantity" disabled="{{textDisabled}}"/>
  <button class="number-add decrease" type="button" (click)="progress(1)"><i class="fa fa-plus"></i></button>
</div>

