<div class="module-body">
  <div mat-dialog-content class="mat-typography" class="module">
  <button mat-dialog-close class="close-btn float-right"><img src="../../../../assets/img/web-icons/close.svg" alt=""> </button>
  <div class="col-md-11 mx-auto text-center">
    <form class="mt-3" [formGroup]="loginForm" (ngSubmit)="method_for_Login()">

      <h1 class="text-center pt-4 mb-0"><img class="img-fluid" height="40" src="../../../../assets/img/web-icons/Logo.svg" alt=""></h1>
      <p class="text-muted pt-2 mb-4 pb-2">Enter your details to proceed further</p>
      <!-- <div class="input-group mb-3">
          <label class="input-label mb-0">Email Address</label>
          <input type="text" class="input-box w-100" name="email">
      </div> -->
      <div class="input-group mb-1">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email Address*</mat-label>
          <input matInput formControlName="email" name="email" [errorStateMatcher]="matcher" >
          <mat-error class="error-msz" *ngIf="f.email.hasError && !f.email.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error class="error-msz" *ngIf="f.email.errors &&  f.email.errors.required">
            Email is required
        </mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="input-group mb-2">
          <label class="input-label mb-0">PASSWORD</label>
          <input type="password" class="input-box w-100" name="password">
      </div> -->
      <div class="input-group mb-3">
        <mat-form-field class="w-100 pb-0" appearance="outline">
          <mat-label class="pass-label">Password*</mat-label>
          <input class="enterpassword-inputfield" matInput [type]="hide ? 'password' : 'text'" name="password"  formControlName="password" placeholder="Enter your password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
              <mat-icon class="maticon-pass">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error class="error-msz" *ngIf="f.password.errors" class="invalid-feedback">
              <div class="error-mszsub" *ngIf="f.password.errors.required">Password is required</div>
              <div class="col-lg-12 col-sm-12 col-xs-12 float-left mb-0 p-0 mt-0">
              <div class="error-mszsub" *ngIf="f.password.errors.minlength">8 Digit is required</div>
              </div>
              <div class="col-lg-12 col-sm-12 col-xs-12 float-left text-left mb-0 p-0 mt-0">
                <div class="error-mszsub" style="font-size:10px;" *ngIf="f.password.errors.pattern">Password Must contains 1 alphabet letter, 1 number, and 1 special character.</div>
              </div>
              <div class="error-mszsub" *ngIf="f.password.errors.maxlength">Max Digit 25</div>
            </mat-error>
          </mat-form-field>
      </div>
      <div class="input-group mb-3">
        <div class="text-left w-50">
          <section class="example-section">
            <mat-checkbox color="primary" class="example-primary">Remember me</mat-checkbox>
          </section>
        </div>
          <div class="text-right w-50">
            <a href="javascript:volid();" class="forgot-link mt-0 px-0" (click)="forgotPassword()">Forgot password?</a>
          </div>
      </div>
      <button mat-button  class="btn btn-primary auth-btn w-100 mt-2 mb-2">Sign In User</button>
      <span class="signin-text pt-0" >Don’t have an account?<a (click)="userRegister()" > Sign up User</a></span>
    </form>
  </div>
  <button mat-button mat-dialog-close [routerLink]="['/auth/login']" class="btn btn-primary signup-vendor w-100 mt-4 mb-0">Sign in Vendor</button>

</div>

<!-- <div mat-dialog-actions> -->

  <!-- <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button> -->
<!-- </div> -->

</div>

