<div class="app-body" >
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form class="mt-3" [formGroup]="loginForm" (ngSubmit)="method_for_Login()">
              <h1 class="text-center mb-0">Welcome Back!</h1>
              <h5 class="text-center">Enter your details to proceed further</h5>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-1">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Email Address*</mat-label>
                  <input matInput formControlName="email" name="email" [errorStateMatcher]="matcher" >
                  <mat-error class="error-msz" *ngIf="f.email.hasError && !f.email.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error class="error-msz" *ngIf="f.email.errors &&  f.email.errors.required">
                    Email is required
                </mat-error>
                </mat-form-field>
              </div>
              <div class="input-group mb-3">
                <mat-form-field class="w-100 pb-0" appearance="outline">
                  <mat-label class="pass-label">Password*</mat-label>
                  <input class="enterpassword-inputfield" matInput [type]="hide ? 'password' : 'text'" name="password"  formControlName="password" placeholder="Enter your password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                      <mat-icon class="maticon-pass">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error class="error-msz" *ngIf="f.password.errors" class="invalid-feedback">
                      <div class="error-mszsub" *ngIf="f.password.errors.required">Password is required</div>
                      <div class="col-lg-12 col-sm-12 col-xs-12 float-left mb-0 p-0 mt-0">
                      <div class="error-mszsub" *ngIf="f.password.errors.minlength">8 Digit is required</div>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-xs-12 float-left text-left mb-0 p-0 mt-0">
                        <div class="error-mszsub" style="font-size:10px;" *ngIf="f.password.errors.pattern">Password Must contains 1 alphabet letter, 1 number, and 1 special character.</div>
                      </div>
                      <div class="error-mszsub" *ngIf="f.password.errors.maxlength">Max Digit 25</div>
                    </mat-error>
                  </mat-form-field>
                  <div class="text-right w-100">
                    <button type="button" class="btn btn-link px-0" [routerLink]="['/forgot-password']">Forgot password?</button>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <button mat-raised-button class="btn btn-primary w-100" type="submit">Sigin In</button>
                </div>
              </div>
              <!-- <div class="text-center">Don't have account?<button type="button" class="btn btn-link px-0" (click)="method_for_redirect('signUpModule')"> Sign Up</button></div> -->
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
