

<div class="col-md-5 col-sm-8 col-xs-12 mt-5" style="float: none; margin: auto" *ngIf="resetPasswordForm">
  <div class="card-box pl-0 pr-0 pb-0 pt-2">
    <div class="card-title card-modale-title pl-3 pr-3 mb-4"><h2 class="tetle-hedding">Reset Password</h2></div>
    <form id="changePassword" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">


        <div class="col-md-12">
          <div class="form-group">
            <label>New Password<span class="text-danger">*</span></label>
            <input

              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              formControlName="newPassword"
              required
            />
            <!-- <span class="font-13 text-muted"></span> -->
            <mat-error class="error-msz" *ngIf="f.newPassword.errors && (resetPasswordForm.touched || resetPasswordForm.dirty)" class="invalid-feedback1">
              <div class="error-mszsub" *ngIf="f.newPassword.errors.required">Password is required</div>
              <div >
              <div class="error-mszsub" *ngIf="f.newPassword.errors.minlength">8 Digit is required</div>
              </div>
              <div >
                <div class="error-mszsub" style="font-size:10px;" *ngIf="f.newPassword.errors.pattern">Password Must contains 1 alphabet letter, 1 number, and 1 special character.</div>
              </div>
              <div class="error-mszsub" *ngIf="f.newPassword.errors.maxlength">Max Digit 25</div>
            </mat-error>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Confirm Password<span class="text-danger">*</span></label>
            <input

              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              formControlName="confirmNewPassword"
              required
            />
            <mat-error class="error-msz" *ngIf="f.confirmNewPassword.errors && (resetPasswordForm.touched || resetPasswordForm.dirty)" class="invalid-feedback1">
              <div class="error-mszsub" *ngIf="f.confirmNewPassword.errors.required">Password is required</div>
              <div >
              <div class="error-mszsub" *ngIf="f.confirmNewPassword.errors.minlength">8 Digit is required</div>
              </div>
              <div >
                <div class="error-mszsub" style="font-size:10px;" *ngIf="f.confirmNewPassword.errors.pattern">Password Must contains 1 alphabet letter, 1 number, and 1 special character.</div>
              </div>
              <div class="error-mszsub" *ngIf="f.confirmNewPassword.errors.maxlength">Max Digit 25</div>
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.hasError('notSame')" class="error-mszsub">
              Passwords do not match
            </mat-error>
            <span class="font-13 text-muted"></span>
          </div>
        </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-footer pl-3 pr-3">
        <button
          type="submit"
          name="submit"
          class="btn btn-primary mr-3"

          >
          Submit
        </button>
        <button type="reset" class="btn btn-default" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
    </form>

    <!-- end row -->
  </div>
  <!-- end card-->
</div>
