<div class="bg-background text-center pb-4">
  <div class="col-sm-12 text-left p-0">
    <div class="bg-images text-center">
      <div class="container">
        <h1 class="h1-tag pb-2">Contact Us</h1>
        <p class="tag-p">
          For general inquiries write to: contact@neighbourgoods.fi or use this form!
        </p>
      </div>
    </div>
  </div>

  <div class="ziczak-img"></div>
  <form [formGroup]="contactUsForm" class="w-100" (ngSubmit)="create_contact_us()">
  <div class="container">
    <h3 class="hedding-gettouch d-flex pt-4">Get In Touch</h3>

    <div
      class="introduction-box contactus-section mt-2 pt-3 pb-3 mb-5 text-left"
    >
      <div class="col-md-12 col-sm-12 col-xs-12 p-0 float-left">
        <div class="col-md-6 col-sm-12 col-xs-12 float-left">
          <div class="input-group mb-3">
            <label class="input-label mb-0">First Name</label>
            <input
              type="text"
              class="input-box w-100"
              name="firstName"
              formControlName="firstName"
            />
            <div *ngIf="f['firstName'].touched && f['firstName'].errors">
              <mat-error *ngIf="f['firstName'].errors?.required">This field is required</mat-error>
          </div>
          </div>
          </div>

        <div class="col-md-6 col-sm-12 col-xs-12 float-left">
          <div class="input-group mb-3">
            <label class="input-label mb-0">Last Name</label>
            <input
              type="text"
              class="input-box w-100"
              name="lastName"
              formControlName="lastName"
            />
            <div *ngIf="f['lastName'].touched && f['lastName'].errors">
              <mat-error *ngIf="f['lastName'].errors?.required">This field is required</mat-error>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 p-0 float-left">
        <div class="col-md-6 col-sm-12 col-xs-12 float-left">
          <div class="input-group mb-3">
            <label class="input-label mb-0">Email</label>
            <input
              type="email"
              class="input-box w-100"
              name="email"
              formControlName="email"
            />
            <div *ngIf="f['email'].touched && f['email'].errors">
              <mat-error *ngIf="f['email'].errors?.required">This field is required</mat-error>
              <mat-error *ngIf="f['email'].errors?.email || f['email'].errors?.pattern">Inavlid Email</mat-error>
          </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 float-left">
          <div class="input-group mb-3">
            <label class="input-label mb-0">Phone No</label>
            <div class="location-fild">
              <input
              type="number"
              class="input-box w-100"
              name="phoneNo"
              formControlName="phoneNo"
            />
            <div *ngIf="f['phoneNo'].touched && f['phoneNo'].errors">
              <mat-error *ngIf="f['phoneNo'].errors?.required">This field is required</mat-error>
              <mat-error *ngIf="f['phoneNo'].errors?.email || f['phoneNo'].errors?.pattern">Invalid phone no</mat-error>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 float-left">
        <div class="input-group mb-3">
          <label class="input-label mb-0">Message</label>
          <textarea
            type="textarea"
            rows="3"
            cols="30"
            class="textarea-box w-100"
            name="massage"
            formControlName="massage"
          ></textarea>
          <div *ngIf="f['massage'].touched && f['massage'].errors">
            <mat-error *ngIf="f['massage'].errors?.required">This field is required</mat-error>
        </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 float-left text-center">
        <p class="text-center" style="font-size: 12px">
          By submitting this form you agree to our terms and conditions and our
          Privacy Policy which explains how we may collect, use and disclose
          your personal information including to third parties.
        </p>
        <button
          mat-button
          [disabled]="contactUsForm.invalid"
          class="btn btn-primary auth-btn w-25 mt-2 mb-2"
        >
          Send Now
        </button>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
      <div class="card-filter d-flex mb-0 pt-3 pb-3">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 float-left text-center pb-3">
          <img src="../../../assets/img/web-icons/icon_email us.svg" alt="" />
          <h3 class="mb-2 mt-3">Email us</h3>
          <p class="pl-4 pr-4">
            Email us for general queries, including marketing and partnership
            opportunities.
          </p>
          <a [routerLink]="['/contact-us']">wisam@neighbourgoods.fi</a>
        </div>
        <!-- End of Email section -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 float-left text-center pb-3">
          <img src="../../../assets/img/web-icons/icon_call us.svg" alt="" />
          <h3 class="mb-2 mt-3">Call us</h3>
          <p class="pl-5 pr-5">
            Call us to speak to a member of our team. We are always happy to
            help.
          </p>
          <a [routerLink]="['/contact-us']">+358 44 912 1159</a>
        </div>
        <!-- End of Email section -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 float-left text-center pb-3">
          <img src="../../../assets/img/web-icons/Icon_support.svg" alt="" />
          <h3 class="mb-2 mt-3">Support</h3>
          <p class="pl-5 pr-5">
            Check out helpful resources, FAQs and developer tools.
          </p>
          <a [routerLink]="['/contact-us']" class="support-link"
            >Support Center <mat-icon>arrow_right_alt</mat-icon>
          </a>
        </div>
        <!-- End of Email section -->
      </div>
    </div>
  </div>
</form>
</div>

