.bg-background{
    background-color: white;
     height: 100%;
}
.bg-images{
    background-image: url(../../../assets/img/web-icons/hero-images-bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    max-width: 100%;  
  }
.hedding-gettouch{
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #2B2B2B;
}
.h1-tag{
    color: #2B2B2B;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 10%;
}
p{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 22px;
}
.tag-p{
    width: 65%;
    margin: auto;
    line-height: 28px;
    a{
      color: #2B2B2B;
      text-decoration: none;
      position: relative;
      &:hover{
        color: #2B2B2B;
        text-decoration: none;
      }
      &::before{
        position: absolute;
        right: -1px;
        top: 2px;
        content: "";
        background-color: #2b2b2b;
        height: 14px;
        width: 1px;
  
      }
    }
    
}

  .introduction-box{
    position: relative;
      h3{
        color: #2B2B2B;
        font-size: 1rem;
        font-weight: 600; 
      } 
     &.contactus-section{
        width: 60%;
        margin: auto;
        line-height: 28px;
        background: #FFFFFF;
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
     } 
  }
  .ziczak-img{
    position: relative;
  &::after{
    position: absolute;
    top: 25px;
    left: 0px;
    content: '';
    background-image: url(../../../assets/img/web-icons/zig-zag.svg);
    background-position: center left;
    background-repeat: no-repeat;
    width: 115px;
    height: 32px;

  }
}
.auth-btn{
    min-height:43px;
    font-size: 0.9rem;
    color: #2B2B2B !important;
}
h3{
    color: #2B2B2B;
    font-size: 1rem;
    font-weight: 600; 
  } 
  .link{
    color:#49D3CC;

}
.input-box{
    background: #FFFFFF;
    border: 1px solid #E2E2EA;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    display: flex;
    
}
.textarea-box{
    background: #FFFFFF;
    border: 1px solid #E2E2EA;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    display: flex;
}
.input-label{
    color: #92929D;
    font-size: 12px;
    text-transform: uppercase;
}
textarea
{
   resize: none;
}
.location-fild{
    position: relative;
    width: 100%;
    .select-location{
        background: #FFFFFF;
        border: 1px solid #E2E2EA;
        box-sizing: border-box;
        border-radius: 4px;
        min-height: 40px;
        padding: 10px;
    }   
}
.support-link{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px){
  .introduction-box
  .contactus-section{
    width:60%;
  }
  .card-filter{
    flex-wrap: wrap;
  }
 
}

@media (min-width: 420px){
  .introduction-box{
    &.contactus-section{
      width:100%;
    }
  } 
  .card-filter{
    flex-wrap: wrap;
  }
  .tag-p{
     width: 100%;
     margin: 0px 0px 0px 0px;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
  .introduction-box{
    &.contactus-section{
      width:100%;
    }
  } 
  .card-filter{
    flex-wrap: wrap;
  }
   .tag-p{
     width: 100%;
     margin: 0px 0px 0px 0px;
  }
}


@media (min-width: 768px){
  .introduction-box{
    &.contactus-section{
      width: 65%;
    }
  } 
  .card-filter{
    flex-wrap: wrap;
  }
  
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) { 
  .card-filter{
    flex-wrap: wrap;
  }
}


