<!-- <button color="primary" class="btn mr-2 mt-4 checkout-btn" mat-raised-button>Check Out</button> -->

<div class="modal-header pt-2 pb-2 pl-2">
  <h2 class="modal-title mb-0" id="paymentMathedLabel">Payment Method</h2>
  <button type="button" class="close" data-dismiss="modal"  mat-dialog-close  aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body float-left w-100 p-0 pt-3">
    <div class="card p-0 mb-0 border-0" style="border:none;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left w-100">

        <div ngxStripeCardGroup [formGroup]="stripeTest" [elementsOptions]="elementsOptions">
          <!-- <input formControlName="name" />
          <input formControlName="amount" /> -->
          <div class="payment-input search-input form-control form-control-sm">
            <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
          </div>
          <div class="payment-input search-input form-control form-control-sm">
            <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
          </div>
          <div class="payment-input search-input form-control form-control-sm">
            <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
          </div>
          <!-- <button type="submit" (click)="pay()"> PAY</button> -->

        </div>
      </div>
    </div>
</div>
<div class="modal-footer float-left w-100 pl-0 pb-3 pr-0">
  <div class="col-lg-12 mt-0 btn-wrapper">
    <button color="primary" class="btn checkout-btn" (click)="pay()" mat-raised-button>Pay</button>
  </div>
</div>
