.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 10px 0 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 950;
    width: 100%;
   }
  
   .navbar-right {
    color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center{
    margin: auto;
  }
  
  
  .list-style-none{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      padding:8px 16px;
      display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
   
      a{
        color: black;
        position: relative;
        padding: 0.2em 0;
        cursor: pointer;
        &:hover{
          color: #FFD540;
          // font-weight: bold;
          text-decoration: none;
        }
      }
      .user-dorpdown{
          display: flex;
          justify-content: flex-start;
          align-items: center;
                  .user-icon{
                    width: 31px;
                    height: 31px;
                    background: #ccc;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                  }
                  &:hover{
                    color: black;
                  }
          }
          .user-dorpdown::after{
            display: none;
          }
     
            /* Fade in */
        a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: #FFD540;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
        }
        
        a:hover::after,
        a:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
        }
       
     
    }
    li.signin{
      background-color: #FFD540;
      border-radius: 4px;
      padding-top:0px;
      padding-bottom: 0px;
      .singin-link{
          color: black;
          &:hover{
              color: #ffffff;
              // font-weight: bold;
              text-decoration: none;
            }
        }
  }
   
    
.cart{
    position: relative;
    margin-right: 20px;
    .cart-link{   
        &::before{
            position: absolute;
            right: -18px;
            top: 2px;
            content: "";
            width: 1px;
            height: 23px;
            background: #e4e7ea;
        }    
    }
 .cart-icon{
     position: relative;
     .cart-img{
        position: relative;  
        margin-top: -2px;    
     }
     &::before{
        position: absolute;
        right: 3px;
        top: -4px;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: black;
    }
    
 }

}
  }

  .user-click-menu{
    background: none;
    border:none;
    outline: none;
    &:hover, &:focus{
      border:none;
      outline: none;
      box-shadow: none;
    }
  }
.navbar-toggler{
  border:none;
  outline: none;
  box-shadow: none;
  height: 70px;
  &:hover, &:focus{
    border:none;
    outline: none;
    box-shadow: none;
  }
      .material-icons {
        font-size: 32px;
        border: none;
        outline: none;
    }
}
.collapse.show.collapse-navbar-header .nav{
        width: 100%;
        background-color: #ffffff;
        padding: 10px;
        box-shadow: 0px 4px 5px 0px #fbfafa;
        border: 1px solid #f0f3f5;
        border-top: 0px;
}

@media (max-width: 991.98px){
  .navbar{
    padding:0px;
    width: 100%;
  }
  .navbar-header{
    padding-left: 15%;
  }
  .navbar-toggler{
    padding-right: 15%;
  }
  .navbar-header{
    padding-left: 15%;
  }
  .container-expand{
    width:100%;
    max-width: 100%;
  }
}

