<nav class="navbar navbar-inverse navbar-expand-lg">
    <div class="container container-expand">
      <div class="navbar-header">
        <a [routerLink]="['/']"><img
          src="assets/old/img/logo_2x.png"
          alt="logo"

          width="200px"
        />
      </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"><mat-icon> clear_all</mat-icon></span>
      </button>
      <div class="collapse navbar-collapse collapse-navbar-header justify-content-end" id="collapsibleNavbar">
      <ul class="nav navbar-right">
        <li><a [routerLink]="['/']">Home</a></li>
        <!-- *ngIf="!loginUserData" -->
        <li><a [routerLink]="['become-a-vendor']">Become a Vendor</a></li>
        <li class="cart" *ngIf="loginUserData" >
            <span class="cart-icon" [routerLink]="['/cart']">
                <img class="cart-img" src="../../../../assets/img/web-icons/Cart.svg" alt="">
            </span>
            <a class="cart-link" [routerLink]="['/cart']"> Cart</a>
        </li>
        <li *ngIf="!loginUserData" ><a [routerLink]="['contact-us']">Contact Us</a></li>

        <!-- <li class="dropdown" *ngIf="loginUserData">
          <a class="user-dorpdown dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="user-icon mr-2">sdf</span> Araa
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="active">Edit Profile</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">favorite Vendor</a></li>
            <li><a href="#">Addresses</a></li>
            <li class="log-out"><a href="#">Log Out</a></li>
          </ul>
        </li> -->
        <div class="right-nav-dropdown" *ngIf="loginUserData">
          <button class="user-click-menu" mat-button [matMenuTriggerFor]="menu">
            <span *ngIf="loginUserData?.firstName">{{loginUserData?.firstName}}</span>
            <span *ngIf="!loginUserData?.firstName">{{loginUserData?.email}}</span>
            <mat-icon>keyboard_arrow_down</mat-icon>

          </button>
          <mat-menu class="user-click-submenu" #menu="matMenu">
            <button class="user-click-menu"  mat-menu-item [routerLink]="['/user-profile']" >My Profile</button>
            <button class="user-click-menu"  mat-menu-item [routerLink]="['/change-password']" >Change Password</button>
            <!-- <button mat-menu-item>favorite Vendor</button>
            <button mat-menu-item>Addresses</button> -->
            <button class="user-click-menu logout-items" mat-menu-item (click)="logout()" >Logout</button>
          </mat-menu>
        </div>




        <li *ngIf="!loginUserData" class="signin mr-1"><a class="singin-link" (click)="webAuthInternalService.userLogin()">Login</a></li>
        <li *ngIf="!loginUserData" class="signin"><a class="singin-link" (click)="webAuthInternalService.userRegister()">Register</a></li>
      </ul>
      </div>
    </div>
  </nav>


