<div class="container-fluid mt-3 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="card-title card-modale-title"><h2 class="tetle-hedding">{{title}}</h2></div>
      <form [formGroup]="customerForm" (ngSubmit)="addUpdateCustomer()">
          <div class="row">
            <div class="col col-md-6 col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
              <mat-label>First Name *</mat-label>
              <input type="text" matInput formControlName="firstName">
              <mat-error>
                This Field is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
            <mat-label>Middle Name</mat-label>
            <input type="text" matInput formControlName="middleName">
            <mat-error>
              This Field is required
            </mat-error>
          </mat-form-field>
        </div>
          <div class="col col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
            <mat-label>Last Name *</mat-label>
            <input type="text" matInput formControlName="lastName">
            <mat-error>
              This Field is required
            </mat-error>
          </mat-form-field>
        </div>
            <div class="col col-md-6 col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email *</mat-label>
              <input type="input" matInput formControlName="email">
              <mat-error>
                This Field is required
              </mat-error>
            </mat-form-field>
          </div>
            <div class="col col-md-6 col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
              <mat-label>Phone Number</mat-label>
              <input type=" number" formControlName="phoneNo" matInput>
            </mat-form-field>
          </div>
            <!-- <div class="col col-md-6 col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
              <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div> -->
          <div class="col col-md-6 col-sm-12" *ngIf="action !== 'Update'">
            <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password *</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error *ngIf="getCustomerForm.password.errors" class="invalid-feedback">
                <div *ngIf="getCustomerForm.password.errors.required">Account Password is required</div>
                <div class="col-lg-12 col-sm-12 col-xs-12 float-left mb-0 p-0 mt-0">
                    <div class="error-mszsub" *ngIf="getCustomerForm.password.errors.minlength">8 Digit is required</div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 float-left text-left mb-0 p-0 mt-0">
                    <div class="error-mszsub" style="font-size:10px;" *ngIf="getCustomerForm.password.errors.pattern">Password Must contains 1 alphabet letter, 1 number, and 1 special character.</div>
                </div>
                <div class="error-mszsub" *ngIf="getCustomerForm.password.errors.maxlength">Max Digit 25</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col col-md-6 col-sm-12" *ngIf="action !== 'Update'">
          <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirm Password *</mat-label>
            <input matInput type="password" formControlName="cnf_password">
            <mat-error *ngIf="getCustomerForm.cnf_password.errors" class="invalid-feedback">
              <div *ngIf="getCustomerForm.cnf_password.errors.required">Account cnf_password is required</div>
              <div class="col-lg-12 col-sm-12 col-xs-12 float-left mb-0 p-0 mt-0">
                  <div class="error-mszsub" *ngIf="getCustomerForm.cnf_password.errors.minlength">8 Digit is required</div>
              </div>
              <div class="col-lg-12 col-sm-12 col-xs-12 float-left text-left mb-0 p-0 mt-0">
                  <div class="error-mszsub" style="font-size:10px;" *ngIf="getCustomerForm.cnf_password.errors.pattern">cnf_password Must contains 1 alphabet letter, 1 number, and 1 special character.</div>
              </div>
              <div class="error-mszsub" *ngIf="getCustomerForm.cnf_password.errors.maxlength">Max Digit 25</div>
          </mat-error>
        </mat-form-field>
      </div>
          </div>

          <ng-container formArrayName="addresses">
            <hr>
           <div class="row" *ngFor="let add of getAddresses.controls, let adIndex = index" >
            <ng-container [formGroupName]="adIndex">
              <div class="col col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Address Line *</mat-label>
                <input type="text" matInput formControlName="street1">
                <mat-error>
                  This Field is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col col-md-6 col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
              <mat-label>Country *</mat-label>
              <mat-select (selectionChange)="method_for_change_in_country($event.value)" formControlName="countryId">
                  <mat-option>--select--</mat-option>
                  <mat-option *ngFor="let c of countryList" [value]="c.id">{{c.name}}</mat-option>
              </mat-select>
              <mat-error>
                This Field is required
              </mat-error>
            </mat-form-field>
          </div>
            <div class="col col-md-6 col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
              <mat-label>State/Province *</mat-label>
              <mat-select (selectionChange)="method_for_change_in_state($event.value)" formControlName="stateId">
                <mat-option>--select--</mat-option>
                <mat-option *ngFor="let s of stateList" [value]="s.id">{{s.name}}</mat-option>
            </mat-select>
            <mat-error>
              This Field is required
            </mat-error>
            </mat-form-field>
          </div>
            <div class="col col-md-6 col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
              <mat-label>City</mat-label>
              <mat-select (selectionChange)="method_for_change_in_city($event.value)" formControlName="cityId">
                <mat-option>--select--</mat-option>
                <mat-option *ngFor="let c of cityList" [value]="c.id">{{c.name}}</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
            <div class="col col-md-6 col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
              <mat-label>Postal Code</mat-label>
              <input type="text" matInput formControlName="postalCode">
              <mat-error>
                This Field is required
              </mat-error>
            </mat-form-field>
          </div>

        </ng-container>
          </div>
        </ng-container>

          <!-- <div class="row mt-3">
            <div class="col">
                <mat-label>Upload Profile Pic</mat-label>
                <input type="file" accept="image/*" (change)="showPreview($event)">

            </div>
            <div class="col">
              <div class="image-preview w-100" *ngIf="imageURL && imageURL !== ''">
                <img [src]="imageURL" class="w-100 rounded"  [alt]="uploadForm.value.name">
              </div>
            </div>
          </div> -->
          <div class="row">
             <div class="col">
               <button class="btn btn-primary">{{action}}</button>
               <button class="btn btn-default" type="button" [routerLink]="['/home/customer']" >Cancel</button>
             </div>
          </div>
      </form>
    </div>
  </div>
</div>
