<div class="container-fluid">
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th style="width:22%;">Vendor Store </th>
            <th style="width:10%;">Amount</th>
            <th style="width:10%;">App Fee</th>
            <th style="width:11%;">Order Id</th>
            <th style="width:22%;">Status</th>
            <th style="width:12%;">Date/Time</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paymentInternalService.paymentDetailsData | paginate: paginationService.paginationConfig; let i = index">
              <td>{{item.vendors?.storeName}}</td>
              <td>&euro;{{item.paymentObj?.amount / 100}}</td>
              <td>&euro;{{item.paymentObj?.application_fee_amount / 100}}</td>
              <td>{{item.orders?.orderNumber}}</td>
              <td>{{item.status}}</td>
              <td>{{item.paymentObj?.created | date}}</td>
            </tr>
           <tr class="text-center" *ngIf="paymentInternalService.paymentDetailsData.length === 0">
             <td colspan="6">No Record found</td>
           </tr>
        </tbody>
      </table>
      <div class="row" *ngIf="paymentInternalService.paymentDetailsData.length">
        <div class="col-md-12 pt-2 pb-3">
          <div class="col-md-6 float-left">
          <div class="page-status float-left pt-1">
            <span class="pagenation-status">
              <span *ngIf="paginationService.total_page == 0">0</span>
              <span *ngIf="paginationService.total_page !=0">{{paginationService.paginationConfig.currentPage}}</span>-{{paginationService.total_page}} of {{paginationService.total_count}} items</span>
          </div>
        </div>

          <div class="col-md-6 float-left">
            <select class="form-control form-control-sm pagination-showe-entries pagination-dropdown number-input float-right ml-4" name="page-size" id="pageSize" (change)="method_for_change_pagination_dropdown()" [(ngModel)]="paginationService.paginationConfig.itemsPerPage" name="pagination">
              <option *ngFor="let item of paginationService['pagination_dropdown']" [value]="item">{{item}}</option>
            </select>
          <pagination-controls class="pagination float-right" (pageChange)="pageChanged($event)"></pagination-controls>

        </div>
        </div><!-- col-md-12 -->
      </div><!-- row -->
    </div>
  </div>
</div>
