<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th style="width: 60%">Name</th>
      <th style="width: 30%">Status</th>
      <th style="width: 10%" *ngIf="logedInUser?.role !== 'Vendor'">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of venderList; let i = index">
      <td>
        <!-- <div class="d-inline-block thumbnail-list"><img src="{{neighborhoodsApiService.config.imageBaseUrl}}{{item?.images?.url}}" class="rounded mx-auto " onerror="this.src = 'assets/img/placeholder.png'"></div> -->
        {{ item.name }}
      </td>
      <td>
        <span class="status-wrapper" 
        [ngClass]="{'text-success': item.status == 'Approve', 'text-danger': item.status == 'Rejected'}">
        {{ item.status }}</span>

        <!-- <span class="status-wrapper" 
                  [ngClass]="{'text-success status-active': item.status, 'text-danger status-isactive': !item.status}">
                  {{ item.status }}</span>         -->
      </td>
      <td *ngIf="logedInUser?.role == 'Root'">
        <span
          class="cursor-pointer"
          (click)="approveAndReject(item, 1)"
          [ngClass]="{ 'disabled-action': item.status !== 'Requested' }"
        >
          <mat-icon class="">check_circle_outline</mat-icon>
        </span>
        &nbsp;
        <span
          class="cursor-pointer"
          (click)="approveAndReject(item, 2)"
          [ngClass]="{ 'disabled-action': item.status !== 'Requested' }"
        >
          <mat-icon> highlight_off </mat-icon>
        </span>
      </td>
    </tr>
    <tr *ngIf="venderList.length == 0 && hasLoaded == true" class="text-center">
      <td colspan="{{ logedInUser?.role !== 'Vendor' ? 2 : 3 }}">
        No Record Found
      </td>
    </tr>
  </tbody>
</table>
