// Profile Style css
.avatar-profile-pic{
    background-color: #ffde65;
    border:6px solid #FFD63F;
    border-radius:50%;
    width: 108px;
    height: 108px;
    display: inline-flex;
    overflow:hidden;
  }
  .bg-images.profile-top-header-img{
    background-image: url(../../../assets/img/web-icons/profile-hero-images.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:275px;
    max-width: 100%;  
  }
  .profile-tag-text{
        color: #2B2B2B;
        font-size: 1.5rem;
        font-weight: 600;
  
  }
  .tag-p{
    width: 65%;
    margin: auto;
    line-height: 28px;
    a{
      color: #2B2B2B;
      text-decoration: none;
      position: relative;
      &:hover{
        color: #2B2B2B;
        text-decoration: none;
      }
      &::before{
        position: absolute;
        right: -1px;
        top: 2px;
        content: "";
        background-color: #2b2b2b;
        height: 14px;
        width: 1px;
  
      }
    }
    
}
  .setup-profile-container{
    padding: 1rem 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    .setup-tab{
        width:100%;
        border-bottom: 1px solid #c2c4c5;
    }
    .setup-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        li {
            padding: 10px 8px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
            color:#2B2B2B;
            min-height: 50px;
            margin-right: 16px;         
          &.active {
            color: #49D3CC;
            border-bottom: 3px solid #49D3CC;
          }
          
        }
      }
     
  }
  .setup-contant-body{
    padding: 10px 20px;
    // border: 1px solid #dde6e9;
    width: 100%;
   
      .plan-content{
          padding:0;
          .title-text {
            h2 {
              font-size: 1.1rem;
              margin-bottom: 17.5px;
              font-weight:700;
            }
            p {
              font-size: 10.5pt;
            }
            .items-count{
                font-weight: 500;
            }
            &.card-items-details{
                border-bottom: 1px dashed #D5D5DC;
                .items-name{
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }
          }
      }
      &.facility-tab{
        width:65em;
      } 
  }
  
  .profile-topbar {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      background: #F3F3F3;
      border: 1px solid #D5D5DC
  } 
  .card-gallery{
    justify-content: center;
    align-items: center;
    background: #e8e8e8;
    min-height: 115px;
    min-width: 124px;
    border: 1px solid #D5D5DC;
    overflow: hidden;
    img{
      width:100%;
      height: 100%;
    }
  }
  .details-vendor{
    border: 1px solid #D5D5DC;
    border-top: none;
    overflow-y: auto;
  }
  .vendor{
           .filter{
                    display: flex;
                    position: relative;
                    padding: 0px 0px 0px 0px;
                    align-items: center;
                    align-content: center;
               li{
                    padding: 0px 10px;
                    list-style: none;
                    position: relative;
                    display: flex;
                   a{
                       color: black;
  
                       &:hover, &:focus{
                        color:#2B2B2B;
                        text-decoration: none;
                       }
                   }
  
                   .select-location{
                       height: calc(1.2em + 0.75rem + 2px);
                       border: none;
                       color:#2B2B2B;
                       font-weight: 500;
                       padding-left: 1px;
                       background-color: transparent;
                       border:none;
                        // &::placeholder{
                        //     color:#ffc107;
                        // }
                }
               }
               .filter-icon{
                   padding-left: 31px;
                        &::before{
                            background-image: url(../../../../src/assets/img/web-icons/Filter.svg);
                            background-position: 0px center;
                            background-repeat: no-repeat;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            left:0px;
                            top: 0px;
                            content: '';
                        }
  
  
               }
               .favorite-icon{
                      padding-left: 31px;
                   &::before{
                    background-image: url(../../../../src/assets/img/web-icons/heart.svg);
                    background-position: 0px center;
                            background-repeat: no-repeat;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            left:0px;
                            top: 0px;
                            content: '';
                   }
  
  
               }
           }
  }
  
  .categories-list-view{
    
    max-height: 100vh;
    min-height: 100vh;
  }
  .online {
    border-bottom: 1px solid #D5D5DC;
  }
  .online-tag-text{
    font-size: 0.9rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    color: #2b2b2bc2;
  }
  
  
  .mute-text{
    color: #B5B5BE;
    text-decoration: line-through;
  }
  .search-section{   
        .search-input{
            background-color: #fff;
            border: 1px solid #D5D5DC;
            min-height: 48px;
            padding: 12px 15px;
            border-radius: 4px;
            font-size: 14px; 
            &::placeholder{
                color: black;
            }
        }
  }
  .add-btn{
    color: #2B2B2B !important;
  }
  .categories-box{
    min-height: 100vh;
    max-height: 100%;
    overflow-y: auto;
    border-right:1px solid #D5D5DC;
  }
  .card-total{
  display: flex;
  }
  .categories-name{
    flex-direction: column;
    align-content: center;
    max-width: 72%;
    min-width: 72%;
    align-items:flex-start;
    
  }
  .cart-ratting-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .ratting-cell{
          color:#2B2B2B;
          font-size: 0.9rem;
          font-weight: 500;
          position: relative;
          height: 17px;
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: center;
          align-items: center;
          .custom-select-profile{
            height: calc(1.2em + 0.75rem + 2px);
            border: none;
            color:#49D3CC;;
            font-weight: 500;
            padding-left: 1px;
            background-color: transparent;
            border:none;
          }
  
          .profile-total-value{
            color:#92929D;
            min-width: 63px;
            em{
              color:#2B2B2B;
              font-style: normal;
            }
          }
      &::after{
        background-color: #a9a9a9;
        width: 1px;
        height: 13px;
        position: absolute;
        right: 11px;
        top: 3px;
        content: "";
      }
      &:last-child::after{
          background-color: transparent;
      }
    }
  }
  .cart-empty-box{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 253px;   
  }
  .card-total-box{
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    h4{
        font-size: 1rem;
        font-weight: 600;
        color: #2B2B2B;
        margin-bottom: 5px;
    }
  }
  .total-text{
    font-size: 0.8rem;
    color:#2b2b2bc2;
  }
  .checkout-btn{
    width:100%;
    min-height: 48px;
    font-size: 1rem;
    color: #2B2B2B !important;
  }
  .empty-text{
    color:#2B2B2B;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .search-find-button{
          max-width: 28%;
          min-width: 28%;
      .order-text{
        color:#92929D;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 500;
  
      }
      .order-dispatched{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        color: #2B2B2B;
        text-transform: uppercase;
        display: flex;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
  
      }
  }
  
  // Profile tab Order History style
  
  .web-card-body{
    border: 1px solid #d0cfcf;
    box-shadow: none;
    .card-filter-body{
        padding: 0px;
        .card-gallery{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e8e8e8;
            min-height: 167px;
            overflow: hidden;
            max-height: 167px;
            img {
              max-width: 100%;
            }
            &.profile-card-gallery{
              display: flex;
              justify-content: center;
              align-items: center;
              background: #ffd540;
              min-height: 115px;
              min-width: 124px;
              border:none;
            }
        }
  
  
        .card-filter-content{
            .card-hedding{
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                color: black;
                font-size: 1rem;
                font-weight: 500;
                line-height: 0;
                cursor: pointer;
            }
            .card-small-text{
                color: #a9a9a9;
                font-size: 0.8rem;
                font-weight: normal;
                display: flex;
            }
  
            .cart-ratting-box{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .ratting-cell{
                color: black;
                font-size: 0.8rem;
                font-weight: 500;
                position: relative;
                  &::after{
                    background-color: #a9a9a9;
                    width: 1px;
                    height: 13px;
                    position: absolute;
                    right: 11px;
                    top: 3px;
                    content: "";
                  }
                  &:last-child::after{
                      background-color: transparent;
                  }
  
                }
            }
        }
    }
  }
  .card-filter{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .user-card-filter{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .delivery-address-box{
    border: 1px solid #D5D5DC;
    min-height: 150px;
    .top-header-bar{
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    } 
    .add-new-address{
        min-height: 165px;
        min-width: 124px;
        background: rgba(255, 214, 63, 0.15);        
        border: 1px dashed #FFD63F;
        box-sizing: border-box;
        flex-direction: column;
        text-decoration: none;
        .add-new-address-text{
            font-size: 1rem;
            font-weight: 500;
            color: #2B2B2B;  
        }
  
    }
    .tag-text{
            font-size: 0.9rem;
            font-weight: 500;
            color: #2b2b2bc2;
    }
    .action-card{
      .action-link{
          font-size: 0.85rem;
          color: #2B2B2B;
          font-weight: 500;
          &:hover, &:focus{
              color: #C94D3B;
              text-decoration: none;
          }
      }
  }
  }