

<div class="bg-background text-center pb-4">
    <div class="col-sm-12 text-left p-0">
      <div class="bg-images profile-top-header-img text-center pt-4">
        <div class="container">
          <span class="avatar-profile-pic" (click)="method_for_upload_profile_pic()" >
            <img src="{{loginUser_profileImage}}" alt="" />
          </span>
          <h1 class="profile-tag-text pb-0 pt-2 mb-2">{{loginUserData?.firstName}} {{loginUserData?.moddleName}} {{loginUserData?.lastName}}</h1>
          <p class="tag-p">
            <a href="javascript:volid();" class="pr-2 mr-2">{{loginUserData?.email}}</a>{{loginUserData?.phoneNo}}
          </p>
          <button class="btn btn-primary add-btn mt-2" type="button" (click)="editProfile()">Edit Profile</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="setup-profile-container">
        <div class="setup-tab">
          <div class="setup-nav">
            <li [class.active]="currentTab == 'order-history'" (click)="currentTab = 'order-history'">
              Order History
            </li>
            <li [class.active]="currentTab == 'favorite-vendor'" (click)="userForm?.invalid ? '' : (currentTab = 'favorite-vendor')">
              favorite Vendor
            </li>
            <li [class.active]="currentTab == 'addresses'" (click)="userForm?.invalid ? '' : (currentTab = 'addresses')">
              Addresses
            </li>
          </div>
          <!-- End of Setup tab link section-->
        </div>
        <!-- End of Setup tab section-->
        <div class="setup-contant-body pl-0 pr-0">
          <div class="user-profile" *ngIf="currentTab == 'order-history'">
            <div class="plan-content" fxLayout="row wrap">
              <!-- End of Categories setction -->
              <div class="col-md-12 col-sm-12 col-xs-12 float-left pl-0 pr-0">
                <div class="title-text profile-topbar pb-2 pt-2 pl-3 pr-2">
                  <h2 class="mb-0">Order History</h2>
                  <div class="vendor search-section ml-0">
                    <!-- <ul class="filter mb-0">
                      <li class="filter-icon">
                        <a class="pt-1" href=""><strong>Filter :</strong></a>
                      </li>
                      <li class="filter-select mt-1 p-0">
                        <select name="location" id="cars" class="select-location custom-select-md form-control">
                          <option value="Past 3 Months">Past 3 Months</option>
                        </select>
                      </li>
                    </ul> -->
                  </div>
                </div>
                <div class="details-vendor">

                  <!-- End of vendor title setction -->
                  <div class="categories-list-view d-flex w-100">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-section float-left p-0" >
                      <div class="card mb-1 pt-3" *ngFor="let order of orderList">
                        <div class="card-body online brand-section pl-3 pr-0 pt-0 d-flex m-0">
                          <div class="rounded d-flex card-gallery">
                            <img *ngIf="!order.vendors?.bannerImage.length" src="../../../../assets/img/placeholder.png" >
                            <img *ngIf="order.vendors?.bannerImage.length" src="{{neighborhoodsApiService.config.imageBaseUrl}}{{order.vendors?.bannerImage[0].bannerImage.url}}" />
                          </div>
                          <div class="card-total float-left pt-1 pr-0 pl-3 w-100">
                            <div class="categories-name d-flex">
                              <div class="online-tag h4">{{order.vendors?.businessName}}</div>
                              <div class="filter-content cart-ratting-box mt-2 pb-3 pl-0 pr-2">
                                <!-- <div class="ratting-cell pr-4">
                                  <em class="ratting-icon pr-1">
                                    <img src="../../../../../assets/img/web-icons/Veg.svg" alt=""/>
                                  </em>
                                  <span>Veg</span>
                                </div> -->
                                <div class="ratting-cell pr-4">
                                  <span>ORDER #{{order.orderNumber}} </span>
                                </div>
                                <div class="ratting-cell pr-4">
                                  <span class="font-weight-normal">{{order.orderDate | date: 'medium'}}</span>
                                </div>
                              </div>
                              <div class="filter-content cart-ratting-box mt-0 pb-2 pl-0 pr-2">
                                <div class="ratting-cell profile-list-value pr-4">
                                  <span class="profile-total-value">TOTAL :<em>€ {{order.grandTotal / 100}}</em> ({{order.orderItems.length}} item)</span>
                                </div>
                                <div class="ratting-cell pr-4" *ngIf="order.orderAddresses.length">
                                  <span class="profile-total-value">SHIP TO :  </span>
                                  {{order.orderAddresses[0]['fullAddress']}}
                                </div>
                              </div>
                            </div>
                            <div class="search-find-button float-right text-right pr-3">
                              <div class="order-text pb-2">Order STATUS</div>
                             <div class="order-dispatched">
                               <img *ngIf="order.deliveryStatus != 'Delivered'" src="../../../assets/img/web-icons/Pendings.svg" alt="" class="pr-1">
                               <img *ngIf="order.deliveryStatus == 'Delivered'" src="../../../assets/img/web-icons/checkmark-circle.svg" alt="" class="pr-1">
                               {{order.deliveryStatus}}
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="card mb-1 pt-3">
                        <div
                          class="
                            card-body
                            online
                            brand-section
                            pl-3
                            pr-0
                            pt-0
                            d-flex
                            m-0
                          "
                        >
                          <div class="rounded d-flex card-gallery">
                            <img
                              src="../../../../../assets/img/web-icons/gallery.svg"
                            />
                          </div>
                          <div class="card-total float-left pt-1 pr-0 pl-3 w-100">
                            <div class="categories-name d-flex">
                              <div class="online-tag h4">Crispy Chilli Potato</div>
                              <div
                                class="filter-content cart-ratting-box mt-2 pb-3 pl-0 pr-2
                                "
                              >

                                <div class="ratting-cell pr-4">
                                  <em class="ratting-icon pr-1"
                                    ><img
                                      src="../../../../../assets/img/web-icons/Veg.svg"
                                      alt=""
                                  /></em>
                                  <span>Veg</span>
                                </div>
                                <div class="ratting-cell pr-4">
                                  <span>ORDER #65689305722 </span>
                                </div>
                                <div class="ratting-cell pr-4">
                                  <span class="font-weight-normal">Tue, Jun 25, 2021, 12:31 PM</span>
                                </div>
                              </div>
                              <div
                              class="
                                filter-content
                                cart-ratting-box
                                mt-0
                                pb-2
                                pl-0
                                pr-2
                              "
                            >

                              <div class="ratting-cell profile-list-value pr-4">
                                <span class="profile-total-value">TOTAL :<em>€25.00</em> (1 item)</span>
                              </div>
                              <div class="ratting-cell pr-4">
                                <span class="profile-total-value">SHIP TO :  </span>
                                <select name="location" id="cars" class="select-location custom-select-md pt-0 pb-0 custom-select-profile form-control">
                                  <option value="Past 3 Months">Past 3 Months</option>
                                </select>
                              </div>

                            </div>
                            </div>
                            <div class="search-find-button float-right text-right pr-3">
                              <div class="order-text pb-2">
                                Order STATUS
                              </div>
                             <div class="order-dispatched">
                               <img src="../../../assets/img/web-icons/checkmark-circle.svg" alt="" class="pr-1">
                                Delivered on Tue, Jun 29, 2021, 01:02 PM
                              </div>
                              <button class="btn btn-primary add-btn mt-3" type="button">
                                Reorder</button>

                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Order History section-->

          <div class="facility-information" *ngIf="currentTab == 'favorite-vendor'">
            <div class="col-md-12 col-sm-12 col-xs-12 float-left pl-0 pr-0">
              <div class="title-text profile-topbar pb-2 pt-2 pl-3 pr-2">
                <h2 class="mb-0"><strong>favorite Vendor</strong></h2>
              </div>
              <!-- End of vendor title setction -->
              <div class="details-vendor">

                <div class="categories-list-view w-100">
                  <div class="card card-filter mb-0 pt-3 pb-3">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" *ngFor="let favVendor of favroiteVendor">sdfs
                      <div class="card card-container web-card-body mb-0">
                        <div class="card-body card-body-content card-filter-body">
                          <div class="card-gallery">
                            <!-- <img src="../../../../../assets/img/web-icons/gallery.svg" /> -->
                            <img *ngIf="!favVendor.vendors?.bannerImage.length" src="../../../../assets/img/placeholder.png" >
                            <img *ngIf="favVendor.vendors?.bannerImage.length" src="{{neighborhoodsApiService.config.imageBaseUrl}}{{favVendor.vendors?.bannerImage[0].bannerImage.url}}" />
                          </div>
                          <div class="card-filter-content pl-0 pr-0">
                            <div class="filter-content mt-2 pb-2 pl-2 pr-2">
                              <h3 class="card-hedding mb-0">{{favVendor.vendors?.businessName}}
                                <em class="heart-icon">
                                  <img height="20" (click)="method_for_delete_favorite_vendor(favVendor.vendors?.favoriteVendors)" src="../../../../../assets/img/web-icons/heart_small-fill.svg"/>
                                </em>
                              </h3>
                              <span class="card-small-text">{{favVendor.vendors?.city.name}} {{favVendor.vendors?.state.name}}, {{favVendor.vendors?.country.name}}</span>
                            </div>
                            <div class="filter-content cart-ratting-box mt-2 pb-2 pl-2 pr-2">
                              <div class="ratting-cell pr-4">
                                <em class="ratting-icon"><img src="../../../../../assets/img/web-icons/star.svg" alt=""></em>
                                <span *ngIf="favVendor.vendors?.rating"> {{favVendor.vendors?.rating}}</span>
                                <span *ngIf="!favVendor.vendors?.rating"> 0</span>
                              </div>
                              <!-- <div class="ratting-cell pr-4">
                                <span>35 min</span>
                              </div> -->
                              <div class="ratting-cell" *ngIf="favVendor.vendors?.priceForOne">
                                <span>&euro; {{favVendor.vendors?.priceForOne}}  for one</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
               <!-- End of favorite Vendor section-->

          <div class="facility-information" *ngIf="currentTab == 'addresses'">
            <div class="col-md-12 col-sm-12 col-xs-12 float-left pl-0 pr-0">
              <div class="title-text profile-topbar pb-2 pt-2 pl-3 pr-2">
                <h2 class="mb-0"><strong>Manage Address</strong></h2>
                <button class="btn btn-primary add-btn mt-0"  (click)="method_for_add_address()" type="button">Add Address</button>
              </div>
              <!-- End of vendor title setction -->
              <div class="details-vendor">

                <div class="categories-list-view w-100">
                  <div class="card card-filter mb-0 pt-3 pb-3">
                    <div class="card-filter d-flex mb-0 pt-3 pb-3">
                      <div class="col-md-4 col-sm-12 col-xs-12" *ngFor="let item of addressArray">
                        <div class="delivery-address-box pt-3 pl-2 pr-2 pb-3">
                          <div class="top-header-bar d-flex pb-3">
                            <h3 class="m-0">{{item.type}}</h3>
                            <div class="action-card">
                              <a (click)="method_for_add_address(item)" class="action-link pr-4">Edit</a>
                            </div>
                          </div>
                          <p class="p-text tag-text mb-2 text-left">
                            {{item.street1}} {{item.street2}}, {{item.city?.name}}, {{item.state?.name}}, {{item.country?.name}} {{item.postalCode}}
                          </p>
                        </div>
                      </div>
                      <!-- <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="delivery-address-box pt-3 pl-2 pr-2 pb-3">
                          <div class="top-header-bar d-flex pb-3">
                            <h3 class="m-0">Office</h3>
                            <div class="action-card">
                              <a href="#" class="action-link pr-4">Edit</a>
                              <a href="#" class="action-link">Remove</a>
                            </div>
                          </div>
                          <p class="p-text tag-text mb-2 text-left">
                            D- 247/32, Sector 63 Rd, D Block, Sector 63, Noida, Uttar
                            Pradesh 201301, India
                          </p>
                        </div>
                      </div> -->
                    </div>
                  </div>
    <!-- End of Card row one-->
                </div>
              </div>
            </div>
          </div>

          <!-- End of setup section  -->

          <!-- End of setup form section  -->
        </div>
        <!-- End of setup contant body section  -->
      </div>
    </div>
  </div>

