<NA-breadcrumb *ngIf="userRole == 'Root' || userRole == 'Vendor'">
  <div class="row breadcrumb-row" >
    <div class="col col-md-2">Change Password</div>
    <!-- <div class="col text-right">
      <button class="btn btn-secondary" mat-raised-button type="button"><i class="fa fa-undo" aria-hidden="true"></i> Back</button>
  </div> -->
  </div>
</NA-breadcrumb>

<div class="col-md-5 col-sm-8 col-xs-12 mt-5 pb-3" style="float: none; margin: auto" *ngIf="changePasswordForm">
  <div class="card-box pl-0 pr-0 pb-0 pt-2">
    <div class="card-title card-modale-title pl-3 pr-3 mb-4"><h2 class="tetle-hedding">Change Password</h2></div>
    <form id="changePassword" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

        <div class="col-md-12">
          <div class="form-group">
            <label>Current Password<span class="text-danger">*</span></label>
            <input

              type="password"
              class="form-control"
              name="currentPassword*"
              formControlName="oldPassword"
            />

            <mat-error class="error-msz" *ngIf="f.oldPassword.errors && (changePasswordForm.touched || changePasswordForm.dirty)" class="invalid-feedback1">
              <div class="error-mszsub" *ngIf="f.oldPassword.errors.required">Password is required</div>
              <div >
              <div class="error-mszsub" *ngIf="f.oldPassword.errors.minlength">8 Digit is required</div>
              </div>
              <div >
                <div class="error-mszsub" style="font-size:10px;" *ngIf="f.oldPassword.errors.pattern">Password Must contains 1 alphabet letter, 1 number, and 1 special character.</div>
              </div>
              <div class="error-mszsub" *ngIf="f.oldPassword.errors.maxlength">Max Digit 25</div>
            </mat-error>
            <span class="font-13 text-muted"></span>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>New Password<span class="text-danger">*</span></label>
            <input

              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              formControlName="newPassword"
              required
            />
            <!-- <span class="font-13 text-muted"></span> -->
            <mat-error class="error-msz" *ngIf="f.newPassword.errors && (changePasswordForm.touched || changePasswordForm.dirty)" class="invalid-feedback1">
              <div class="error-mszsub" *ngIf="f.newPassword.errors.required">Password is required</div>
              <div >
              <div class="error-mszsub" *ngIf="f.newPassword.errors.minlength">8 Digit is required</div>
              </div>
              <div >
                <div class="error-mszsub" style="font-size:10px;" *ngIf="f.newPassword.errors.pattern">Password Must contains 1 alphabet letter, 1 number, and 1 special character.</div>
              </div>
              <div class="error-mszsub" *ngIf="f.newPassword.errors.maxlength">Max Digit 25</div>
            </mat-error>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Confirm Password<span class="text-danger">*</span></label>
            <input

              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              formControlName="cnfPassword"
              required
            />
            <mat-error class="error-msz" *ngIf="f.cnfPassword.errors && (changePasswordForm.touched || changePasswordForm.dirty)" class="invalid-feedback1">
              <div class="error-mszsub" *ngIf="f.cnfPassword.errors.required">Password is required</div>
              <div >
              <div class="error-mszsub" *ngIf="f.cnfPassword.errors.minlength">8 Digit is required</div>
              </div>
              <div >
                <div class="error-mszsub" style="font-size:10px;" *ngIf="f.cnfPassword.errors.pattern">Password Must contains 1 alphabet letter, 1 number, and 1 special character.</div>
              </div>
              <div class="error-mszsub" *ngIf="f.cnfPassword.errors.maxlength">Max Digit 25</div>
            </mat-error>
            <mat-error *ngIf="changePasswordForm.hasError('notSame')" class="error-mszsub">
              Passwords do not match
            </mat-error>
            <span class="font-13 text-muted"></span>
          </div>
        </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-footer pl-3 pr-3">
        <button
          type="submit"
          name="submit"
          class="btn btn-primary mr-3"
          [disabled]="changePasswordForm.invalid"
          >
          Submit
        </button>
        <button type="reset" class="btn btn-default" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
    </form>

    <!-- end row -->
  </div>
  <!-- end card-->
</div>
