<div>
    <!-- --{{vendorData?.stripeConnectedAccountId}} -->
    <button mat-raised-button type="button" class="btn btn-docs-link blink" *ngIf="!vendorData?.stripeConnectedAccountId" (click)="method_for_vendor_onboarding()">Stripe</button>
    <button mat-raised-button type="button" class="btn btn-docs-link" *ngIf="vendorData?.stripeConnectedAccountId" (click)="method_for_getting_vendorDetails()">Stripe</button>
</div>
