.bg-background{
    background-color: white;
    height: auto;
    width: 100%;
    max-height: 100%;
    display: flex;
}
.bg-images{
    background-image: url(../../../assets/img/web-icons/hero-images-bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    max-width: 100%;  
  }
.user-card-filter{
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;
    // height: 100%;
    width: 100%;
    overflow: auto;
}
h3, .online-tag{
    color: #2B2B2B;
    font-size: 1rem;
    font-weight: 600; 
  } 
  .signup-vendor{
    color: #2B2B2B !important;
}


// Card details style
.details-vendor{
    
    .details-title{
        display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    h2{
        font-size: 1rem;
        font-weight: 600;
        color: #2B2B2B;
        margin-bottom: 5px;
    }
    } 
    .card-gallery{
        justify-content: center;
        align-items: center;
        background: #e8e8e8;
        min-height: 115px;
        min-width: 124px;
        border: 1px solid #D5D5DC;
        overflow:auto;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .categories-list-view{    
        max-height: 100vh;
        border: 1px solid #D5D5DC;
        border-bottom: 0px;
        &.delivery-card-view{
            border: 1px solid #D5D5DC;
        }
    }
}
.card-list{
    border:none;
    border-radius:0px;
}
.brand-section{
    display: flex;
    border-bottom: 1px solid #D5D5DC;
    border-radius:0px;
}
.categories-box{
    min-height: 100vh;
    max-height: 100%;
    overflow-y: auto;
    border-right:1px solid #D5D5DC;
}
.card-total{
display: flex;
justify-content: space-between;
}
.categories-name{
    flex-direction: column;
    align-content: center;
    max-width: 83%;
    min-width: 83%;
}
.cart-ratting-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .ratting-cell{
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
    height: 17px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
      &::after{
        background-color: #a9a9a9;
        width: 1px;
        height: 13px;
        position: absolute;
        right: 11px;
        top: 3px;
        content: "";
      }
      &:last-child::after{
          background-color: transparent;
      }

    }
}


.cart-empty-box{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 253px;   
}
.card-total-box{
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    h4{
        font-size: 1rem;
        font-weight: 600;
        color: #2B2B2B;
        margin-bottom: 5px;
    }
}
.total-text{
    font-size: 0.8rem;
    color:#2b2b2bc2;
}
.checkout-btn{
    width:100%;
    min-height: 48px;
    font-size: 1rem;
    color: #2B2B2B !important;
}
.empty-text{
    color:#2B2B2B;
    font-size: 0.9rem;
    text-align: center;
}

.action-card{
    .action-link{
        font-size: 0.85rem;
        color: #2B2B2B;
        font-weight: 500;
        &:hover, &:focus{
            color: #fdc501;
            text-decoration: none;
        }
    }
}

.title-text {
    h2 {
      font-size: 1.3rem;
      margin-bottom: 17.5px;
      font-weight:700;
    }
    p {
      font-size: 10.5pt;
    }
    .items-count{
        font-weight: 500;
    }
    &.card-items-details{
        border-bottom: 1px dashed #D5D5DC;
        .items-name{
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
  }
  .card-total-box{
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    h4{
        font-size: 1rem;
        font-weight: 600;
        color: #2B2B2B;
        margin-bottom: 5px;
    }
}
.total-text{
    font-size: 0.8rem;
    color:#2b2b2bc2;
}
.checkout-btn{
    width:100%;
    min-height: 48px;
    font-size: 1rem;
    background: #49D3CC;
     border-radius: 4px;
    color: #2B2B2B !important;
}
.empty-text{
    color:#2B2B2B;
    font-size: 0.9rem;
    text-align: center;
}
.delivery-address-box{
    border-right: 1px dashed #D5D5DC;
    min-height: 150px;
    .top-header-bar{
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    &.delivery-address-box:last-child{
        border-right:0px;
    }
    .add-new-address{
        min-height: 165px;
        min-width: 124px;
        background: rgba(255, 214, 63, 0.15);        
        border: 1px dashed #FFD63F;
        box-sizing: border-box;
        flex-direction: column;
        text-decoration: none;
        img{
            height: auto;
            width:auto;
        }
        .add-new-address-text{
            font-size: 1rem;
            font-weight: 500;
            color: #2B2B2B;  
        }

    }
    .online-tag-text{
        font-size: 0.9rem;
            font-weight: 500;
    }
}




@media (min-width: 992px){
    .container.box-container {
        max-width: 100%;
    }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    .container.box-container {
        max-width: 100%;
    }
    .delivery-address-box{
        border:none;
        border-bottom: 1px dashed #D5D5DC;
        min-height: auto;
        margin-bottom: 10px;
        .add-new-address{
          margin-bottom: 10px;
        }
    }
    .card-total{
           display: inline-table;
           .categories-name{
               max-width: 100%;
                min-width: 100%;

           }
           .search-find-button{
            max-width: 100%;
            min-width: 100%;
           }
    }
    

}
