<div class="bg-background text-center pb-5" *ngIf="!cartItemsArray.length">

    <div class="card-filter user-card-filter d-flex mb-0 pt-3 pb-3" style="justify-content: center;">
      <div class="text-center">
        <img src="../../../assets/img/web-icons/card-img-frame.svg" alt="">
        <h3 class="mb-2 mt-3">Your Cart is Empty</h3>
        <p class="pl-4 pr-4">You can go to home page to view more Vendor/restaurants</p>
        <button mat-button class="btn btn-primary signup-vendor w-100 mt-4 mb-0" [routerLink]="['/']">Find a store near
          you!</button>
      </div>
      <!-- End of Email section -->
    </div>

  </div>

  <div class="container box-container pb-5 d-flex" *ngIf="cartItemsArray.length" >
    <div class="col-sm-12 text-left p-0">
      <!-- End of vendor title setction -->
      <div class="col-md-8 col-sm-12 col-xs-12 float-left">

        <div class="details-vendor pt-3">
          <div class="title-text details-title pb-3 pt-1 pl-0 pr-2">
            <h2 class="mb-0">Your Cart: {{cartItemsArray.length}} items</h2>
          </div>
          <!-- End of vendor title setction -->
          <div class="categories-list-view d-flex w-100">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-section p-0 float-left p-0 ">
              <div class="card card-list mb-0" *ngFor="let item of cartItemsArray">
                <div class="card-body online brand-section p-3 d-flex m-0">
                  <div class="rounded d-flex card-gallery">
                    <img *ngIf="!item.products?.productImages.length"
                      src="../../../../../assets/img/web-icons/gallery.svg" />
                    <img *ngIf="item.products?.productImages.length"
                      src="{{neighborhoodsApiService.config.imageBaseUrl}}{{item.products.productImages[0].productImage.url}}" />
                  </div>
                  <div class="card-total float-left pt-1 pr-0 pl-3 w-100">
                    <div class="categories-name d-flex">
                      <div class="online-tag h4">{{item.products?.productName}}</div>
                      <p class="p-text online-tag-text mb-2">
                        {{item.products?.description}}
                      </p>
                      <!-- <div class="filter-content cart-ratting-box mt-0 pb-2 pl-0 pr-2">
                        <div class="ratting-cell pr-4">
                          <em class="ratting-icon pr-1">
                            <img src="../../../../../assets/img/web-icons/star.svg" alt="" /></em>
                          <span>4.5</span>
                        </div>
                        <div class="ratting-cell pr-4">
                          <em class="ratting-icon pr-1">
                            <img src="../../../../../assets/img/web-icons/Veg.svg" alt="" /></em>
                          <span>35 min</span>
                        </div>
                      </div> -->
                      <span class="float-left w-100">
                        <strong class="mr-1" *ngIf="item.products?.productPrices.length">€
                          {{item.products?.productPrices[0].unitPrice}}</strong>
                      </span>
                    </div>
                    <div class="search-find-button float-right text-right">
                        <!-- <NA-web-product-counter></NA-web-product-counter> -->
                        <div class="number number-section">
                          <button class="number-add increase" type="button" (click)="method_for_add_remove_item_quenty_from_card('minus', item)"><i class="fa fa-minus"></i></button>
                          <input type="number" class="input-config"  [class.disabledBox]="disabled" [(ngModel)]="item.quantity" disabled="{{textDisabled}}"/>
                          <button class="number-add decrease" type="button" (click)="method_for_add_remove_item_quenty_from_card('add', item)"><i class="fa fa-plus"></i></button>
                        </div>
                      <div class="action-card pt-5">
                        <a (click)="method_for_delete_cardItem(item.id)" class="action-link pr-2">Remove</a>
                        <!-- <a href="#" class="action-link">Edit</a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of first card  -->


            </div>
          </div>
        </div>
        <!-- End of card items -->

        <div class="details-vendor pt-3">
          <div class="title-text details-title pb-2 pt-1 pl-0 pr-2">
            <h2 class="mb-0">Delivery Address</h2>
          </div>
          <!-- End of vendor title setction -->
          <div class="categories-list-view delivery-card-view d-flex w-100">
            <div class="card-filter user-card-filter d-flex mb-0 pt-3 pb-3">
              <div class="text-center " *ngIf="!addressArray.length" >
                <img src="../../../assets/img/web-icons/sr-map-placemarker.svg" alt="" />
                <p class="pl-4 mt-2 pr-4">You haven't added any address yet</p>
                <button mat-button (click)="method_for_add_address()" class="btn btn-primary signup-vendor w-100 mt-2 mb-2">Add New Address</button>
              </div>
              <!-- End of Delivery Address added section-->

              <div class="col-md-4 col-sm-12 col-xs-12 delivery-address-box" *ngFor="let item of addressArray">
                <div class="top-header-bar d-flex pb-3">
                  <h3 class="m-0">{{item.type}}</h3>
                  <div class="action-card">
                    <a  class="action-link pr-4" (click)="method_for_add_address(item)">Edit</a>
                    <!-- <a (click)="method_for_delete_address(item)" class="action-link">Remove</a> -->
                  </div>
                </div>
                <p class="p-text online-tag-text mb-2 text-left">
                  {{item.street1}} {{item.street2}}, {{item.city?.name}}, {{item.state?.name}}, {{item.country?.name}} {{item.postalCode}}
                </p>
                <!-- <button mat-button mat-dialog-close class="btn btn-primary signup-vendor w-100 mt-2 mb-2">Deliver to this address</button> -->
                <div>
                  <mat-checkbox class="primary example-margin"  [(ngModel)]="item.isDefault" (change)="method_for_making_default_address($event.checked, item)" color="primary">Deliver to this address</mat-checkbox>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12 delivery-address-box"  *ngIf="addressArray.length">
                <a (click)="method_for_add_address()" class="rounded d-flex card-gallery add-new-address">
                  <img src="../../../../../assets/img/web-icons/plus.svg" />
                  <span class="add-new-address-text">Add New Address</span>
                </a>
              </div>

              <!-- End of Delivery Address section-->
            </div>
            <!-- End of Delivery Address filter section-->
          </div>
        </div>




        <!-- <NA-customerPayment></NA-customerPayment> -->
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 float-left">
        <div class="details-vendor pt-3">
          <div class="title-text details-title pb-3 pt-1 pl-0 pr-2">
            <h2 class="mb-0"> Bill Details</h2>
          </div>
          <div class="categories-list-view delivery-card-view d-flex w-100 p-3">
            <div class="card-filter user-card-filter mb-0">
              <div class="title-text card-items-details pb-2 pt-1 pl-0 pr-0">
                <div class="d-flex mb-3">
                  <div class="col-8 pl-0">
                    <span class="items-name">Item Total</span>
                  </div>
                  <div class="col-4 pl-0 pr-0 text-right">
                    <span class="items-name"><strong>€ {{cart_priceSubTotal}}</strong></span>
                  </div>
                </div>
                <!-- <div class="d-flex mb-3">
                  <div class="col-8 pl-0">
                    <span class="items-name">Delivery Charges (0.10 kms)</span>
                  </div>
                  <div class="col-4 pl-0 pr-0 text-right">
                    <span class="items-name"><strong>€2.00</strong></span>
                  </div>
                </div> -->
              </div>
              <div class="title-text card-items-details pb-2 pt-1 pl-0 pr-0">
                <div class="d-flex mb-3 mt-3">
                  <div class="col-8 pl-0">
                    <span class="items-name">Taxes & Charges</span>
                  </div>
                  <div class="col-4 pl-0 pr-0 text-right">
                    <span class="items-name"><strong>€ {{cart_grandTotal - cart_priceSubTotal}}</strong></span>
                  </div>
                </div>
              </div>
              <div class="card-total-box d-flex pt-2">
                <h4>Total Pay</h4>
                <h4>€ {{cart_grandTotal}}</h4>
              </div>



              <!-- End of categories-list-view setction -->
              <!-- End of Email section -->
            </div>
          </div>
          <button color="primary" class="btn mr-2 mt-4 checkout-btn" (click)="method_for_checkout ()" mat-raised-button>Pay Now</button>



        </div>
      </div>

    </div>
  </div>
