<div class="container-fluid">
<div class="card">

  <div class="card-body">
    <div class="card-title">
      <div class="row breadcrumb-row">
        <div class="col col-md-4">
          <strong>{{productDetails?.productName}}</strong>  
        </div>  
       
  
      <div class="col text-right">
       
        <!-- <button type="button" class="btn btn-danger" (click)="delete_product()">Delete</button> -->
        <button color="primary" class=" btn mr-2"  mat-raised-button (click)="back()"><i class="fa fa-undo" aria-hidden="true"></i> Back</button>
        <button type="button" class="btn btn-primary" (click)="editProduct()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
      </div>
    </div>
    </div>
    <div class="row">
        <div class="col col-md-4 col-sm-12 pl-0 pr-0">
              <div class="image-wrapper">
                    <!-- <img class="rounded" src="https://1homepages.cae.wisc.edu/~ece533/images/peppers.png" onerror="this.src = 'assets/img/placeholder.png'" width=100%> -->
                    <div class="col title-image-list">
                      <div class="card-banner-container">
                        <img class="rounded" *ngIf="!productImage.length" src="../../../../assets//img/placeholder.png" onerror="this.src = 'assets/img/placeholder.png'" width=100%>
                        <img class="rounded" *ngIf="productImage.length && productImage[0].productImage.url" src="{{neighborhoodsApiService.config.imageBaseUrl}}{{productImage[0].productImage.url}}" onerror="this.src = 'assets/img/placeholder.png'" width=100%>
                        <span class="card-upload-image"(click)="uploadProfilePic()">
                          <mat-icon>photo_camera</mat-icon>
                        </span>
                      </div>
                  </div>

              </div>
        </div>
        <div class="col col-md-8 col-sm-12">
          <div>
            <div class="card-title card-modale-title">
              <h2 class="tetle-hedding">Summary</h2>
            </div>
              
              <table class="table table-responsive-sm table-hover table-outline mb-0">
                <tbody>
                  <tr>
                    <td>Age Restriction</td>
                    <td>&nbsp;
                      <span *ngIf="productDetails?.ageRange;else noAge">18+</span>
                      <ng-template #noAge>NA</ng-template>
                    </td>
                  </tr>
                  <tr>
                    <td>Category</td>
                    <td>&nbsp; {{productDetails?.categories?.name || 'NA'}}</td>
                  </tr>
                  <tr>
                    <td>VAT</td>
                    <td>&nbsp; <span *ngIf="productDetails?.vatAvailable">Yes</span> <span *ngIf="!productDetails?.vatAvailable">No</span></td>
                  </tr>
                  <tr>
                    <td>Allergens</td>
                    <td>&nbsp; {{productDetails?.allergens || 'NA'}}</td>
                  </tr>
                  <tr>
                    <td>Expiry Date</td>
                    <td>&nbsp;
                      <span *ngIf="productDetails?.expiryDate">{{productDetails?.expiryDate| date: 'dd-MM-yyyy' || 'NA'}}</span>
                      <span *ngIf="!productDetails?.expiryDate">NA</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Available Stock</td>
                    <td>&nbsp; {{this.productDetails?.avaliableStock || 'NA' }}</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>&nbsp; {{productDetails?.status? 'Available' : 'Unavilable'}}</td>
                  </tr>
                  <tr>
                    <td>Tags</td>
                    <td>&nbsp; {{tags}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>

    <div class="mt-3">
      <div class="card-title card-modale-title">
        <h2 class="tetle-hedding">Price Info</h2>
      </div>      
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
            <tr>
              <th style="width:33%">Unit</th>
              <th style="width:33%">Unit Price</th>
              <th style="width:33%">Selling Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productDetails?.productPrices">
              <td>{{product.productUnit}}{{product.unitType}}</td>
              <td>&euro; {{product.unitPrice || 0}}</td>
              <td>&euro;{{product.sellingPrice || 0}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body pt-2">  
    <div class="card-title card-modale-title">
      <h2 class="tetle-hedding">Stock Sales History</h2>
    </div>  
    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <thead class="thead-light">
        <tr>
          <th>Order Id</th>
          <th>Sold Qty</th>
          <th>Order Date</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of stockSalesHistory_list">
          <td>{{item.orders?.orderNumber}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.orders?.orderDate | date: "medium"}}</td>
          <td>{{item.sellingPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
