.card-banner-container{
  position: relative;

.card-upload-image{
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 0;
  cursor: pointer;
  color: lightgray;
  visibility: hidden;
}

&:hover  .card-upload-image {
    visibility: visible;
  }

}
