<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-3">
      <strong>Customer</strong>
    </div>
    <div id="data-table_filter" class="dataTables_filter d-flex justify-content-end pr-3 pt-0">
      <label class="label-data search-label d-flex justify-content-center align-items-center mb-0">
        <!-- Search:  -->
        <!-- <input type="search"class="form-control form-control-sm ml-2" placeholder="Search" aria-controls="data-table"/> -->
        <input type="text" class="form-control form-control-sm ml-2" placeholder="Search here..." debounce [delay]="700" (func)="method_for_change_in_filter()" [(ngModel)]="customerIntrnalService.filter.search" debounce="">
        </label>
    </div>
    <div class="col text-right pr-0">
      <button
        class="btn btn-primary mr-3"
        mat-raised-button
        type="button"
        [routerLink]="['add-customer']"
      >
        <mat-icon class="align-middle">add</mat-icon>Add Customer
      </button>
    </div>
  </div>
</NA-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-md-2">
      <div class="card card-container">
        <div class="card-body card-body-content">
          <div class="card-total float-left">
            <div class="h4 mb-0">
              {{customerIntrnalService.totalCustomer}}
            </div>
            <small class="text-muted text-uppercase font-weight-bold">Total Customer</small>
          </div>
          <div class="card-icon">
            <div class="avatar-lg rounded-circle bg-soft-info border-info d-flex align-items-center justify-content-center border dashboard-icon h1 text-muted float-right mb-0">
              <i class="icon-people"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-3 col-sm-6 col-md-2">
      <div class="card card-container">
        <div class="card-body card-body-content">
          <div class="card-total float-left">
            <div class="h4 mb-0">
              {{customerIntrnalService.totalActiveCustomer}}
            </div>
            <small class="text-muted text-uppercase font-weight-bold">Active Customer</small>
          </div>
          <div class="card-icon">
            <div class="avatar-lg rounded-circle bg-soft-success border-success d-flex align-items-center justify-content-center border dashboard-icon h1 text-muted float-right mb-0">
              <i class="icon-user-follow"></i>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-3 col-sm-6 col-md-2">
      <div class="card card-container">
        <div class="card-body card-body-content">
          <div class="card-total float-left">
            <div class="h4 mb-0">{{customerIntrnalService.totalNewCustomer}}</div>
            <small class="text-muted text-uppercase font-weight-bold">New Customer</small>
          </div>
          <div class="card-icon">
            <div class="avatar-lg rounded-circle bg-soft-warning border-warning d-flex align-items-center justify-content-center border dashboard-icon h1 text-muted float-right mb-0">
              <i class="icon-basket-loaded"></i>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div class="container-fluid">
  <div class="card">
    <div
      id="data-table_wrapper"
      class="dataTables_wrapper dt-bootstrap4 no-footer"
    >
      <!-- <div class="row"> -->
        <!-- <div class="col-sm-12 col-md-6"> -->
          <!-- <div class="dataTables_length pl-3 pt-3 w-100" id="data-table_length">
            <label class="label-data"
              >Show
              <select
                name="data-table_length"
                aria-controls="data-table"
                class="
                  custom-select custom-select-sm
                  form-control form-control-sm
                "
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              entries</label
            >
          </div> -->
        <!-- </div> -->
        <!-- <div class="col-sm-12 col-md-6">
          <div id="data-table_filter" class="dataTables_filter d-flex justify-content-end  pr-3 pt-3">
            <label class="label-data search-label d-flex justify-content-center align-items-center">            
              <input type="text" class="form-control form-control-sm ml-2" placeholder="Search here..." debounce [delay]="700" (func)="method_for_change_in_filter()" [(ngModel)]="customerIntrnalService.filter.search" debounce="">
              </label>
          </div>
        </div> -->
      <!-- </div> -->
     
    </div>
    <div class="m-0">
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <!-- <th class="text-center">#SN</th> -->
            <th style="width:27%;">Customer Name</th>
            <th style="width:27%;">Email</th>
            <th style="width:20%;">Phone No</th>
            <th style="width:11%;">Status</th>
            <th style="width:11%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of customerIntrnalService.customerList  | paginate: paginationService.paginationConfig; let i = index">
            <!-- <td class="text-center">{{ i + 1 }}</td> -->
            <td>
              <div *ngIf="!(item.firstName || item.lastName)">--</div>
              <div *ngIf="item.firstName || item.lastName">
                {{ item.firstName }} {{ item.middleName }} {{ item.lastName }}
              </div>
            </td>
            <td>
              <div>{{ item.email }}</div>
            </td>
            <td>
              <div *ngIf="!item.phoneNo">--</div>
              <div *ngIf="item.phoneNo">{{ item.phoneNo }}</div>
            </td>
            <td>
              <div class="text-success status-active" *ngIf="item.isActive">Active</div>
              <div class="text-danger status-isactive" *ngIf="!item.isActive">InActive</div>
            </td>
            <td>
              <span class="pr-3" [routerLink]="['./customer-detail', item.id]" routerLinkActive="router-link-active"><i class="fa fa-eye" aria-hidden="true"></i></span>&nbsp;
              <span [routerLink]="['./edit-customer', item.id]"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row" *ngIf="customerIntrnalService.customerList.length">
        <div class="col-md-12 pt-2 pb-3">
          <div class="col-md-6 float-left">
          <div class="page-status float-left pt-1">
            <span class="pagenation-status">
              <span *ngIf="paginationService.total_page == 0">0</span>
              <span *ngIf="paginationService.total_page !=0">{{paginationService.paginationConfig.currentPage}}</span>-{{paginationService.total_page}} of {{paginationService.total_count}} items</span>
          </div>
        </div>
       
          <div class="col-md-6 float-left">
            <select class="form-control form-control-sm pagination-showe-entries pagination-dropdown number-input float-right ml-4" name="page-size" id="pageSize" (change)="method_for_change_pagination_dropdown()" [(ngModel)]="paginationService.paginationConfig.itemsPerPage" name="pagination">
              <option *ngFor="let item of paginationService['pagination_dropdown']" [value]="item">{{item}}</option>
            </select>
          <pagination-controls class="pagination float-right" (pageChange)="pageChanged($event)"></pagination-controls>
          
        </div>
        </div><!-- col-md-12 -->
      </div><!-- row -->


    </div>
  </div>
</div>
