<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-2"><strong>Dashboard</strong></div>
  </div>
</NA-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <NA-line-chart></NA-line-chart>
    </div>
    <div class="col">
      <NA-bar-chart></NA-bar-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="card card-container">
        <div class="card-body card-body-content">
          <div class="card-total float-left">
            <div class="h4 mb-0">
              {{ dashboardInternalService.totalVendorCount }}
            </div>
            <small class="text-muted text-uppercase font-weight-bold"
              >Total Vendors</small
            >
          </div>
          <div class="card-icon">
            <div
              class="
                avatar-lg
                rounded-circle
                bg-soft-success
                border-success
                d-flex
                align-items-center
                justify-content-center
                border
                dashboard-icon
                h1
                text-muted
                float-right
                mb-0
              "
            >
            <img src="../../../assets/img/vendor.png" alt="" height="35">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="card card-container">
        <div class="card-body card-body-content">
          <div class="card-total float-left">
            <div class="h4 mb-0">
              {{ dashboardInternalService.totalUserCount }}
              </div>
              <small class="text-muted text-uppercase font-weight-bold"
              >Total Customer</small
            >
              </div>

              <div class="card-icon">
                <div
                  class="
                    avatar-lg
                    rounded-circle
                    bg-soft-warning
                    border-warning
                    d-flex
                    align-items-center
                    justify-content-center
                    border
                    dashboard-icon
                    h1
                    text-muted
                    float-right
                    mb-0
                  "
                >
                <img src="../../../assets/img/person.png" alt="" height="35">
                </div>
                </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
          <div class="card card-container">
            <div class="card-body card-body-content">
              <div class="card-total float-left">
                <div class="h4 mb-0">
                  {{ dashboardInternalService.totalProductCount }}
                  </div>
                  <small class="text-muted text-uppercase font-weight-bold"
                  >Total Product</small
                >
                  </div>

            <div class="card-icon">
              <div
                class="
                  avatar-lg
                  rounded-circle
                  bg-soft-info
                  border-info
                  d-flex
                  align-items-center
                  justify-content-center
                  border
                  dashboard-icon
                  h1
                  text-muted
                  float-right
                  mb-0
                "
              >
              <img src="../../../assets/img/visitors.png" alt="" height="35">
              </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="card card-container">
        <div class="card-body card-body-content">
          <div class="card-total float-left">
            <div class="h4 mb-0">
              {{ dashboardInternalService.totalVendorCategoriesCount }}
              </div>
              <small class="text-muted text-uppercase font-weight-bold"
              >Total Vendor Categories</small
            >
              </div>
              <div class="card-icon">
                <div
                  class="
                    avatar-lg
                    rounded-circle
                    bg-soft-warning
                    border-warning
                    d-flex
                    align-items-center
                    justify-content-center
                    border
                    dashboard-icon
                    h1
                    text-muted
                    float-right
                    mb-0
                  "
                >
                <img src="../../../assets/img/product.png" alt="" height="35">
                </div>
                </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="card card-container">
        <div class="card-body card-body-content">
          <div class="card-total float-left">
            <div class="h4 mb-0">
              {{ dashboardInternalService.totalProductCategoriesCount }}
              </div>
              <small class="text-muted text-uppercase font-weight-bold"
              >Total Product Categories</small
            >
              </div>
              <div class="card-icon">
                <div
                  class="
                    avatar-lg
                    rounded-circle
                    bg-soft-info
                    border-info
                    d-flex
                    align-items-center
                    justify-content-center
                    border
                    dashboard-icon
                    h1
                    text-muted
                    float-right
                    mb-0
                  "
                >
                <img src="../../../assets/img/category.png" alt="" height="35">
                </div>
                </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card mt-3">
    <div class="card-body pt-2">
      <div class="card-title card-modale-title">
        <h2 class="tetle-hedding">Vendor Request</h2>
      </div>
      <div>
        <NA-vendor-request-list></NA-vendor-request-list>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body pt-2">
      <div class="card-title card-modale-title">
        <h2 class="tetle-hedding">Vendor Category Request</h2>
      </div>
      <div>
        <NA-vendor-category-request-list></NA-vendor-category-request-list>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body pt-2">
      <div class="card-title card-modale-title">
        <h2 class="tetle-hedding">Product Category Request</h2>
      </div>
      <div>
        <NA-product-category-request-list></NA-product-category-request-list>
      </div>
    </div>
  </div> -->
</div>
