<div class="card">
  <div class="card-header">
    <strong>Vendor and Product</strong>
    <!-- <div class="card-header-actions">
      <a class="docs-link text-muted" href="http://www.chartjs.org">
        <small>Docs</small>
      </a>
    </div> -->
  </div>
  <div class="card-body">
    <div class="chart-wrapper">
      <canvas baseChart class="chart"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColours"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
