<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-3">
      <strong>Order Detail</strong>
    </div>
    <div class="col text-right">
      <button class="btn btn-secondary mr-3" (click)="method_for_redirect()" mat-raised-button type="button"><i class="fa fa-undo" aria-hidden="true"></i> Back</button>
      <button class="btn btn-primary" mat-raised-button type="button" *ngIf="orderDetails?.deliveryStatus !== 'Cancelled'" (click)="changeOrderStatus()">Change Order Status</button>
      <button class="btn btn-primary" mat-raised-button type="button" (click)="method_for_view_bill()">View Payment</button>
  </div>
  </div>
</NA-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col col-md-3 col-sm-5 col-xs-12" *ngIf="orderDetails?.orderAddresses.length">
      <div class="card mb-2">
        <div class="card-body pl-0 pr-0 pt-2">
            <div class="card-title card-modale-title pl-2 pr-2">
              <h2 class="tetle-hedding">
                <mat-icon class="icon-allign">room</mat-icon>
                Delivery Location</h2>
            </div>
            <div class="m-3">
              {{orderDetails?.orderAddresses[0]['fullAddress']}}
            </div>
        </div>
      </div>
      <!-- <div class="card mb-2">
        <div class="card-body pl-0 pr-0 pt-2">
          <div class="card-title card-modale-title pl-2 pr-2">
            <h2 class="tetle-hedding">
              <mat-icon class="icon-allign">shopping_bag</mat-icon>
              Collection Date & Time</h2>
          </div>
        </div>
       </div> -->
       <div class="card mb-2">
        <div class="card-body pl-0 pr-0 pt-2">
          <div class="card-title card-modale-title pl-2 pr-2">
            <h2 class="tetle-hedding">
              <mat-icon class="icon-allign">home</mat-icon>
              Store</h2>
          </div>
          <div class="tex-center ml-4">
            {{orderDetails?.vendors.storeName}}
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-9 col-sm-7 col-xs-12">
      <div class="card mb-2">
        <div class="card-body pl-0 pr-0 pt-2">
          <div class="card-title card-modale-title pl-3 pr-3">
            <h2 class="tetle-hedding">
              <mat-icon class="icon-allign">info</mat-icon>
              Order Basic Info</h2>
          </div>
         <div class="card-content pl-3 pr-3">
  <div class="row">
    <div class="col col-md-6 col-sm-12 col-xs-12 pb-1">
        <strong>Order Number: </strong> {{orderDetails?.orderNumber}}
    </div>
    <div class="col col-md-6 col-sm-12 col-xs-12 pb-1">
      <strong>Order By</strong> {{orderDetails?.user.email}}
    </div>
    <div class="col col-md-6 col-sm-12 col-xs-12 pb-1">
      <strong>Order Status</strong> {{orderDetails?.deliveryStatus}}
    </div>
    <div class="col col-md-6 col-sm-12 col-xs-12 pb-1">
      <strong>Order Date And Time</strong> {{orderDetails?.orderDate | date: 'medium'}}
    </div>
    <div class="col col-md-6 col-sm-12 col-xs-12 pb-1">
        <strong>Total Amount</strong>
        &euro;{{orderDetails?.grandTotal / 100}}
    </div>
    <div class="col col-md-6 col-sm-12 col-xs-12 pb-1">
      <strong>Admin's Commission </strong>
      &euro;{{orderDetails?.application_fee_amount / 100}}
    </div>
  </div>
</div>

        </div>
      </div>
      <div class="card mb-2">
        <div class="card-body pl-0 pr-0 pt-2">


                <div class="card-title card-modale-title pl-3 pr-3">
                  <h2 class="tetle-hedding">
                    <mat-icon class="icon-allign">shopping_cart</mat-icon>
                    Order Items</h2>
                </div>
               <div class="card-content pl-3 pr-3">
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of orderItems">
                      <td>{{item.productName}}</td>
                      <td>{{item.quantity}}</td>
                      <td>&euro;{{item.totalPrice}}</td>
                      <td>&euro;{{item.totalPrice * item.quantity}}</td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <strong>Subtotal</strong>
                      </td>
                      <td>&euro;{{orderDetails?.totalAmount / 100}}</td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <strong>Vat Charge</strong>
                      </td>
                      <td>&euro;{{orderDetails?.taxAmount / 100}}</td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <strong>Grand Total</strong>
                      </td>
                      <td>&euro;{{orderDetails?.grandTotal / 100}}</td>
                    </tr>
                    <tr>
                      <td colspan="4">
                        <div class="row">
                          <div class="col">
                            <strong>Payment Status</strong>
                          </div>
                          <div class="col text-right">
                            <span class="alert alert-success padding-5" *ngIf="orderDetails?.status == 'OrderPlace'">Paid</span>
                            <span class="alert alert-success padding-5" *ngIf="orderDetails?.status == 'PaymentIniciated'">Not Paid</span>
                            </div>
                        </div>
                      </td>

                    </tr>
                    <tr>
                      <td colspan="4">
                        <div class="row">
                          <div class="col">
                            <strong>Transaction ID</strong>
                          </div>
                          <div class="col text-right">{{orderDetails?.paymentIntentId}}</div>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>
