<table class="table table-responsive-sm table-hover table-outline mb-0" width="100%">
  <thead class="thead-light">
    <tr>
      <!-- <th class="text-center">#SN</th> -->
      <th class="text-center">Order Id</th>
      <th class="text-center">Customer</th>
      <th class="text-center">Store</th>
      <th class="text-center">Total Amount</th>
      <th class="text-center">Status</th>
      <th class="text-center">Date</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of orderCustomerInternalService.orderList | paginate: paginationService.paginationConfig; let i = index">
      <!-- <td>{{item.id}}</td> -->
      <td>{{item.orderNumber}}</td>
      <td (click)="method_for_redirecting('user', item)">{{item.user?.email}}</td>
      <td (click)="method_for_redirecting('vendor', item)">{{item.vendors?.storeName}}</td>
      <td>€{{item.grandTotal/100}}</td>
      <td>{{item.status}}</td>
      <td>{{item.orderDate | date: 'medium'}}</td>
      <td>
        <a class="pr-3" (click)="method_for_redirecting('viewDetails', item)" ><i class="fa fa-eye" aria-hidden="true"></i></a>
        <!-- <a><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
      </td>
    </tr>
    <tr class="text-center w-100" style="height: 50px;" rowspan="8"  *ngIf="!orderCustomerInternalService.orderList?.length">
      <td class="text-center" colspan="7">
        No record avalaible
      </td>
    </tr>
  </tbody>
</table>
<div class="row" *ngIf="orderCustomerInternalService.orderList.length">
  <div class="col-md-12 pt-2 pb-3">
    <div class="col-md-6 float-left">
    <div class="page-status float-left pt-1">
      <span class="pagenation-status">
        <span *ngIf="paginationService.total_page == 0">0</span>
        <span *ngIf="paginationService.total_page !=0">{{paginationService.paginationConfig.currentPage}}</span>-{{paginationService.total_page}} of {{paginationService.total_count}} items</span>
    </div>
  </div>

    <div class="col-md-6 float-left">
      <select class="form-control form-control-sm pagination-showe-entries pagination-dropdown number-input float-right ml-4" name="page-size" id="pageSize" (change)="method_for_change_pagination_dropdown()" [(ngModel)]="paginationService.paginationConfig.itemsPerPage" name="pagination">
        <option *ngFor="let item of paginationService['pagination_dropdown']" [value]="item">{{item}}</option>
      </select>
    <pagination-controls class="pagination float-right" (pageChange)="pageChanged($event)"></pagination-controls>

  </div>
  </div><!-- col-md-12 -->
</div>
