
<div class="modal-header pt-2 pb-2 pl-2">
    <h2 class="modal-title mb-0" id="exampleModalCenteredLabel">{{parentObj.id ? 'Update' :'Add'}} {{parentObj.type}} Categories</h2>
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body float-left w-100 p-0 pt-3">

    <form class="float-left mt-1 w-100 mb-0" [formGroup]="updateDetailsForm" (ngSubmit)="method_for_updateDetails()">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0 float-left w-100">
            <div class="col-4 float-left cursor-pointer">
                <img class="cursor-pointer" (click)="uploadCustomerImage()" src="{{neighborhoodsApiService.config.imageBaseUrl}}{{url}}" width="100%" class="rounded mx-auto " onerror="this.src = 'assets/img/placeholder.png'">
            </div>
            <div class="col-8 float-left">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput name="Name" placeholder="Name" formControlName="name" >
                <mat-error *ngIf="f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </mat-error>
               </mat-form-field>

               <div class="d-flex">
                <mat-label class="pr-3">Status</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="isActive">
                  <mat-radio-button class="mr-3" value="true">Active</mat-radio-button>
                  <mat-radio-button value="false">Inactive</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
        </div>
        <div class="modal-footer float-left mt-3 w-100 pl-0 pr-0">
            <div class="col-lg-12 mt-0 btn-wrapper">
            <button mat-raised-button color="primary" [disabled]="updateDetailsForm.invalid" type="submit">Save</button>
        </div>
        </div>
    </form>
</div>
