<div class="card border-0">
  <div class="card-body">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="mr-0">
            <div class="card-title card-modale-title w-100">
              <h2 class="tetle-hedding mb-0">Supplier Information</h2>
            </div>
            <!-- <h2></h2> -->
          </mat-panel-title>
          <!-- <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
          </mat-panel-description> -->
        </mat-expansion-panel-header>

        <form class="float-left mt-1 w-100 " [formGroup]="supplierInformation" (ngSubmit)="goToSupplierInfo()">
          <div class="m-1">
            <div class="mt-1">
              <div class="col-lg-6 col-md-12 float-left">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput name="firstName" placeholder="First Name" formControlName="firstName">
                  <!-- <mat-error *ngIf="firstName.errors" class="invalid-feedback">
                                  <div *ngIf="firstName.errors.required">First Name is required</div>
                              </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-12 float-left">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput name="lastName" placeholder="Last Name" formControlName="lastName">
                  <!-- <mat-error *ngIf="lastName.errors" class="invalid-feedback">
                                  <div *ngIf="lastName.errors.required">Last Name is required</div>
                              </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-lg-12 col-md-12 float-left">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Designation</mat-label>
                  <mat-select name="designation" placeholder="Designation" formControlName="designation">
                    <mat-option *ngFor="let item of designationList" value="{{item.name}}">{{item.name}}</mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="designation.errors" class="invalid-feedback">
                                  <div *ngIf="designation.errors.required">Designation is required</div>
                              </mat-error> -->
                </mat-form-field>
              </div>


              <div class="col-lg-12 col-md-12 float-left">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Business Email Address</mat-label>
                  <input matInput name="businessEmailAddress" placeholder="Business Email Address" [disabled]="true"
                    formControlName="email">
                  <mat-error *ngIf="f.errors" class="invalid-feedback">
                                  <div *ngIf="f.errors.required">Business Email Address is required</div>
                              </mat-error>
                    <mat-error *ngIf="f.errors && f.errors.unique">
                      Email has been taken. Please try with another email.
                    </mat-error>
                </mat-form-field>
              </div>


            </div>
          </div>


          <mat-action-row>
            <button mat-raised-button class="btn btn-primary" type="submit">Next</button>
          </mat-action-row>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel class="mt-2" [expanded]="step === 1" hideToggle [disabled]="supplierInformation.invalid">
        <mat-expansion-panel-header>
          <mat-panel-title class="mr-0">
            <div class="card-title card-modale-title w-100">
              <h2 class="tetle-hedding mb-0">Store Information</h2>
            </div>
          </mat-panel-title>
          <!-- <mat-panel-description>Type the country name<mat-icon>map</mat-icon></mat-panel-description> -->
        </mat-expansion-panel-header>
        <form class="float-left mt-1 w-100 " [formGroup]="storeInformation" (ngSubmit)="become_a_vendor()">
          <div class="mt-1">
            <div class="row">
              <div class="col-6 pl-0 pr-0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left w-100 p-0">
                  <div class="col-lg-12 col-md-12 float-left">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Business Name</mat-label>
                      <input matInput name="businessName" placeholder="Business Name" formControlName="businessName">
                      <!-- <mat-error *ngIf="businessName.errors" class="invalid-feedback">
                                          <div *ngIf="businessName.errors.required">Business Name is required</div>
                                      </mat-error> -->
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12 col-md-12 float-left">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>About The Store</mat-label>
                      <textarea matInput name="aboutTheStore" formControlName="aboutUs"
                        placeholder="About The Store" ></textarea>
                      <!-- <mat-error *ngIf="aboutTheStore.errors" class="invalid-feedback">
                                          <div *ngIf="aboutTheStore.errors.required">About The Store is required</div>
                                      </mat-error> -->
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12 col-md-12 float-left">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Business Location on Google Map*</mat-label>
                      <input type="text" placeholder="Enter your business name" formControlName="businessGoogleAddress"
                        ngx-google-places-autocomplete matInput (onAddressChange)="handleAddressChange($event)">
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Business Address</mat-label>
                      <input matInput name="businessAddress" placeholder="Business Address"
                        formControlName="businessAddress">
                      <!-- <mat-error *ngIf="businessAddress.errors" class="invalid-feedback">
                                          <div *ngIf="businessAddress.errors.required">Business Address is required</div>
                                      </mat-error> -->
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-12 float-left">
                    <ng-select appearance="outline" placeholder="Country" [items]="countryList" bindLabel="name"
                      bindValue="id" formControlName="countryId" (change)="method_for_change_in_country($event)">
                    </ng-select>
                  </div>
                  <div class="col-lg-6 col-md-12 float-left">
                    <ng-select appearance="outline" placeholder="State" [items]="stateList" bindLabel="name"
                      bindValue="id" formControlName="stateId" (change)="method_for_change_in_state($event)">
                    </ng-select>
                  </div>
                  <div class="col-lg-6 col-md-12 float-left">
                    <ng-select appearance="outline" placeholder="City" [items]="cityList" bindLabel="name"
                      bindValue="id" formControlName="cityId" (change)="method_for_change_in_city($event)"></ng-select>
                  </div>
                  <div class="col-lg-6 col-md-12 float-left">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Postal Code</mat-label>
                      <input matInput name="postal_code" placeholder="Postal Code" formControlName="postalCode">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12 col-md-12 float-left">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Business Registration Number</mat-label>
                      <input matInput name="businessRegistrationNumber" placeholder="Business Registration Number"
                        formControlName="RegistrationNo">
                      <!-- <mat-error *ngIf="businessRegistrationNumber.errors" class="invalid-feedback">
                                          <div *ngIf="businessRegistrationNumber.errors.required">Business Registration Number is required</div>
                                      </mat-error> -->
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-12 float-left">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Business Phone Number</mat-label>
                      <input matInput name="businessPhoneNumber" placeholder="Business Phone Number"
                        formControlName="venderMobileNo">
                      <!-- <mat-error *ngIf="businessPhoneNumber.errors" class="invalid-feedback">
                                          <div *ngIf="businessPhoneNumber.errors.required">Business Phone Number is required</div>
                                      </mat-error> -->
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-12 float-left">
                    <ng-select appearance="outline" placeholder="Main Business Area" [items]="vaendorCategoriesList"
                      bindLabel="name" bindValue="id" formControlName="categoriesId"></ng-select>
                  </div>
                </div>

              </div>
              <div class="col-6 pr-0">
                <google-map [center]="center" [width]="width" [zoom]="zoom" (mapClick)="addMarker($event)">
                  <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                    [options]="markerOptions"></map-marker>
                </google-map>
                <!-- <lib-google-maps-angular style="height: 200px; width: 200px;" (markerClicked)="markerClicked($event)" [markers]="markers" [latLong]="latLong" ></lib-google-maps-angular> -->
              </div>
            </div>

            <div class="row">
              <div class="col-4 float-left w-100">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Store Name</mat-label>
                  <input matInput name="storeName" placeholder="Store Name" formControlName="storeName">
                  <!-- <mat-error *ngIf="storeName.errors" class="invalid-feedback">
                                  <div *ngIf="storeName.errors.required">Store Name is required</div>
                              </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-4 float-left w-100 ">
                <!-- <ng-select appearance="outline" placeholder="Store Address Type" [items]="storeAddressType_List" bindLabel="name" bindValue="id" formControlName="storeAddressType" ></ng-select> -->
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Store Address Type</mat-label>
                  <mat-select name="designation" placeholder="Designation" formControlName="storeAddressType">
                    <mat-option *ngFor="let item of storeAddressType_List" value="{{item.name}}">{{item.name}}
                    </mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="storeAddressType.errors" class="invalid-feedback">
                                  <div *ngIf="storeAddressType.errors.required">Store Address Type is required</div>
                              </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-4 float-left w-100 ">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Store Address</mat-label>
                  <input matInput name="storeAddress" placeholder="Store Address" formControlName="storeAddress">
                  <!-- <mat-error *ngIf="storeAddress.errors" class="invalid-feedback">
                                  <div *ngIf="storeAddress.errors.required">Store Address is required</div>
                              </mat-error> -->
                </mat-form-field>
              </div>
            </div>

          </div>

          <mat-action-row>
            <button mat-raised-button color="primary" class="pl-0" (click)="prevStep(0)">
              <mat-icon>keyboard_arrow_left</mat-icon>Previous
            </button>
            <button mat-raised-button class="btn btn-primary" type="submit">Save</button>
          </mat-action-row>
        </form>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
