<div class="bg-background text-center">
  
    <div class="col-sm-12 text-left p-0">     
      <div class="bg-images text-center">
        <div class="container">
       <h1 class="h1-tag pb-2"> Term & Conditions</h1>
       <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random.</p>
      </div>
    </div>
  </div>


  <div class="container">
    <span class="effective-date d-flex pt-4">Effective date: August 1, 2020</span>
    <div class="ziczak-img"></div>

    <div class="introduction-box mt-2 pb-3 text-left">
      <span [innerHtml]="termCondition"></span>
    </div>

  <!-- <div class="introduction-box mt-2 pb-3 text-left">

      <h3>INTRODUCTION </h3>

      <p>These general terms and conditions (the "Terms") apply between you as a customer (the "User", "You") and Neighbourgoods Oy, business ID: 3144186-1, address Maasälväntie 16 O 89, 00710 Helsinki ("Neighbourgoods'', "us"), when ordering home goods or services, food, crafts and other products (together the "Products") via www.neighbourgoods.fi or Neighbourgoods’s webserver or downloadable mobile application (together the "Platform"). By registering a user account with Neighbourgoods or by using the Platform and/or receiving Supply (defined below), you confirm that you have read and agree to the Terms. </p>
      <p>Products sold via the Platform are intended for personal use and are not to be resold or transferred. </p>
      <p>These Terms constitute the entire agreement between You and Neighbourgoods of all matters to which the Terms refer to. By ordering Products through the Platform or by otherwise using the Platform, you express to have accepted these Terms. By accepting these Terms, you are aware that we can send You emails or text messages in relation to Your order. </p>
      <p>Neighbourgoods reserves the right to update these Terms at any time. The updated terms shall apply from the effective date and shall be applied to orders that have been made on or after the effective date of the new Terms. </p>
      <p>If You have any questions regarding these Terms, You may always contact our customer service, whose contact details can be found later in these Terms. </p>

      <h3 class="mt-4">BECOMING A CUSTOMER</h3>
      <p>To be able to order Products through the Platform You are required to: </p>
      <ul class="text-ul">
          <li>Provide Your name, address, telephone number, e-mail address, payment details and other information required to make a purchase; </li>
          <li>Be at least 18 years old; </li>
          <li>Be the lawful owner of any debit/credit card used to make the purchase.</li>
      </ul>

      <p>By registering as a user on our Platform, You simultaneously create a personal user account and a password. You must keep the user account credentials and password confidential. You shall be held personally responsible for any purchase events made using Your user account and/or credentials, and you commit to inform Neighbourgoods promptly if Your credentials and/or password are obtained by a third party, in which event Neighbourgoods shall reserve the right to close or delete Your user account credentials without advance notification. </p>
      <p>You shall be responsible for ensuring that the purchase and account information provided by You in connection with the purchase event are up-to date, complete and accurate. You shall be responsible for promptly updating Your account information and other information, such as e-mail address, so that we can complete Your purchase and contact You if necessary. </p>
      <p>You may not use any Neighbourgoods trademarks or brands beyond what is required to use the Platform or the Services. </p>

      <h3 class="mt-4">PRODUCTS AND SERVICES</h3>
      <p>By using the Platform, You can order any Products from time to time available on the Platform. </p>
      <p><i>Order from Vendors </i></p>

      <p>By ordering Products or services from the Vendors through the Platform, You enter into an agreement with the Vendor and accept these General Terms and Conditions and, where applicable, the Vendor’s own terms of sale. </p>
      <p>Neighbourgoods sells Products/ Services prepared by Neighbourgoods Vendors unless otherwise stated in these Terms. Neighbourgoods operates the Platform and administers the payments made through it. At the time of Your order, You pay for the Product including any transportation fees, directly to Neighbourgoods. You do not pay anything to the Vendor when you pick up the product or when it is delivered to you. </p>

      <h3 class="mt-4">2.1 Products offered</h3>
      <p>The range of Partners and Products available on the Platform varies from time to time. For this reason, we request that You check the Platform for up-to-date information on the Products. </p>
      <p>Neighbourgoods has the right to update the product specifications of the Products at its sole discretion at any time without advance notification. Additionally, Neighbourgoods reserves the right to change, suspend or discontinue the sale of any Product placed on the Platform. </p>


      <h3 class="mt-4">2.2 Order and Supply</h3>
      <p>All orders are made on the Platform by selecting the Product(s) You are willing to purchase. Your order is an offer to purchase the Products listed in Your order. The fulfillment of the order is subject to availability and requires Neighbourgoods’s approval and we may, in our sole discretion, choose to not accept orders. When You place an order to purchase a Product through the Platform, we will notify you by e-mail that the Partner has received information of Your order. In addition, the estimated delivery time of the Products is provided on the Platform. </p>
      <p>Neighbourgoods and Neighbourgoods’s Partners explicitly reserve that a Product may be out of stock at the time of placing the order, in which case the order may be cancelled, in whole or in part, and you will be refunded accordingly. Neighbourgoods does not accept orders for Products by e-mail or by live chat. Each order must be placed through the Platform. </p>
      <p>The risk for loss of or damage to the Product passes to You once the Product has been received by you. Neighbourgoods or its Partners shall not be liable for any loss or damage caused to the Product after you have received it. Payments made will not be refunded by Neighbourgoods’s Partners or Neighbourgoods if You fail to receive or pick up the Product from the agreed location. </p>


      <h3 class="mt-4">2.3 Terms for delivery </h3>
      <p><i>Pick-up:-</i></p>
      <p>For now, pick-up is the main option for you to get the Product or Service. If you have selected Pick-Up when placing the order, the Products are to be picked up by yourself at the Partner’s point of sale at the time specified on the Platform. The Partner may require that you identify yourself with valid identification when collecting the order. </p>
      <p>If the order is not picked up within a reasonable time period from the specified Pick-Up time you may be charged full price for the relevant Products and/or any other costs of Neighbourgoods or the Partner in relation to the order. </p>


      <h3 class="mt-4"><i>Delivery:-</i></h3>
      <p>Some Vendors may offer a delivery option. Neighbourgoods is not responsible for the delivery in any way and it is up to You to communicate the delivery details with the Vendor. The price of delivery is stated on the Platform. You are responsible for informing the Vendor of the delivery address, and agreeing on a specified time.  </p>
      <p>You are responsible to remain available to receive calls at the phone number submitted by you on the Platform. If you cannot be reached at the phone number provided by you and delivery cannot be completed, the delivery and the order may be cancelled. </p>
      <p> Neighbourgoods is entitled to charge a fee of 20 EUR (or, if the order value is less, the full order value) to cover for costs and expenses related to the cancellation of the order. This will be charged by way of reducing the amount which can be refunded due to the failed delivery of your order. Your refund may additionally be reduced by the amount corresponding to any Products that Neighbourgoods or the Partner is unable to resell. In case of problems, please contact the Vendor first and if the problem cannot be solved directly with them, get in touch with Neighbourgoods customer service. </p>


      <h3 class="mt-4">COSTS OF THE SUPPLY AND PAYMENT</h3>
      <p><b>Price</b></p>
      <p>Prices and payments on the Platform are presented in euros. </p>
      <p>The applicable prices of each Product and the delivery service are presented on the Platform at the time of ordering. The price will be displayed in the shopping cart before checkout and will be confirmed by a receipt sent by email. If the price quoted on the Platform is incorrect due to an obvious typo or other obvious error, the incorrect price shall not be binding on Neighbourgoods. Neighbourgoods reserves the right to change prices and/or the content and information of the Products and the Supply to apply for orders placed after the change has been made. In the event of significant changes to the Supply or to the Platform, these Terms will be updated, and a new version will be made available on the Platform. Please make sure to read the latest updated version of the Terms when placing an order. </p>
      <p>For orders placed via the Platform, a minimum order value may apply. The minimum order value may differ from Partner to Partner but is clearly stated in your cart before checkout and upon placing an order. Upon placing an order for Product(s) which does not in total exceed the minimum order value, Neighbourgoods will charge the Customer the difference between the total price of the Product(s) and the applicable minimum order value. Please note that these costs may not be refunded in the event of a return made to a Partner. </p>
      <p>In some cases, Neighbourgoods may limit the ability of Partners to offer different pricing for Products on the Platform compared to in their own sales channels. This is to ensure that You as a customer are only additionally paying for the specified delivery costs when ordering Products on the Platform, at the same time as Neighbourgoods will be able to operate a viable business model when offering customers to benefit from the efficiencies generated by our Platform in terms of facilitated search, increased choice and high service levels. We continually invest in the development and improvement of our Platform, and these limitations also balance the benefits that Partners derive from joining the Platform in terms of e.g. visibility and cost savings, against our investments in offering and improving our services. </p>


      <h3 class="mt-4"><b>PAYMENT</b></h3>
      <p>Unless expressly agreed otherwise, payments for all orders for the Products shall be made at the time of ordering by using a debit/credit card or by paying for the order directly via online banking or using other payment methods available on the Platform at any given time. </p>
      <p>Neighbourgoods is not the provider of online payment services. The Platform uses services of  secured payments provided by X2 concept and Stripe. Users and Vendors must agree to the applicable terms and conditions of the payment provider. These can be found at https://stripe.com/en-fi/privacy </p>
      <p>In case of a mistake, Neighbourhoods Customer Services must be informed immediately for the problem and we’ll try to find the best solution together. In connection with the orders placed from a Partner, Neighbourgoods will direct the payments You make on the Platform to the Partner. </p>

      <p><b>Personal data processing and data protection</b></p>
      <h3 class="mt-4">Withdrawal rights / refund rights </h3>
      <p>You may change Your mind for any reason or no reason and receive a refund of the amount paid by notifying us of withdrawal within 14 days of receiving the Product or a substantial part of it ("Cancellation Period"), unless the refund right to withdraw the Product is restricted by the Consumer Protection Act. </p>

      <p>The right of withdrawal does not apply </p>
      <ul class="text-ul">
          <li>when the ordered service has been completely performed before the end of the Cancellation Period on Your request or consent, </li>
          <li>to meals, groceries, foods and other hoom goods with short shelf life or perishable or expiring Products </li>
          <li>sealed and opened goods that cannot be returned after opening the package for health or hygiene reasons (e.g. homemade food or drinks...)  </li>
          <li>goods manufactured or modified in accordance with the consumer’s requirements or clearly made to meet personal needs, or </li>
          <li>the Supply of an individual newspaper, magazine or publication, or in other situations where there exists explicit exceptions under applicable laws and regulations. </li>
      </ul>

      <p>Your right to withdraw from Your purchase and receive a refund requires that the Product remains in unaltered conditions, with original packaging (if applicable) and provided that no seal has been broken. </p>
      <p>Please note that the Partner is responsible for handling returns regarding orders where the Partner is the seller. </p>

      <h3 class="mt-4">Exercising your withdrawal / refund rights</h3>
      <p>If You wish to exercise Your right to withdraw from a purchase, You must notify Vendor or Neighbourgoods within the Cancellation Period, that You wish to exercise Your withdrawal rights. Notice of the exercise of the withdrawal rights must be sent to contact@neighbourgoods.fi or to the address provided by Neighbourgoods’s customer service. </p>
      <p>In the notice, You must mention Your name, address and other necessary information, such as the order number, invoice number and name of the Product in question. To make a notice of withdrawal, You may use the standard form provided by the Finnish Consumer and Competition Authority available here. Remember that the form must be sent to Neighbourgoods Partner or Neighbourgoods, not to the Finnish Consumer and Competition Authority. </p>
      <p>Please note that if the order is returned to the Partner due to failure to deliver the order and You have not notified us of Your wish to exercise the right of withdrawal in advance of the attempted delivery, the order will be cancelled and we reserve the right to charge you for the costs in accordance with section above. </p>

      <b>Your responsibilities when exercising your withdrawal / refund rights </b>
      <p>When You exercise Your withdrawal rights, You are solely responsible for any return freight costs. Moreover, You are responsible for the condition of the Product from the time of its receipt as well as its return during delivery. The Product must be returned within 14 days of submitting the withdrawal notice to Neighbourgoods. Please, contact Our customer service for receiving the Product return address. </p>
      <p>You are obliged to handle the Products in Your possession carefully. You must pack the returned Products carefully so that they are not damaged during delivery. Please use packaging that adequately protects the Product from transport damage, suitable for the means of the return freight. All accessories related to the Product and the parts included in the package must be returned with the Product, including any original packaging and labels. If You have used, negligently handled or packaged the Product, or otherwise handled the Product beyond what is required to determine the nature, characteristics or functionality of the Product, You are responsible for compensating for any impairment of the returned Products up to the full price of the Products. </p>
      <p>Please note that when returning Products ordered from a Partner, it may be required that the return is made to the specific Store (location) from which the Product was delivered to the Customer. </p>


      <h3 class="mt-4">Approving returns and refunds </h3>
      <p>If Your return is approved, Neighbourgoods or Partner will promptly process the refund. Refunds will be made by using the same payment method as the Product has been paid for, unless otherwise expressly agreed. Further, if Your refund request is approved, Neighbourgoods  or the Partner will also be entitled (on case-by case-basis) to reduce the refund amount by an amount equal to the decrease in value of the Product that may have resulted in the Product being used or processed more than required to evaluate its features or performance. </p>
      <p>Neighbourgoods does not refund delivery or other service fees, discount codes or any costs related to the minimum value of the order. </p>


      <h3 class="mt-4">CUSTOMER SERVICE </h3>
      <p>Should You have any questions regarding the Platform, Products or ordering and Supply, please contact Neighbourgoods’s customer service. You can contact our Support Center via the Platform or by email at contact@neighbourgoods.fi. For updated information about Our customer service opening hours please see our website. </p>


      <h3 class="mt-4">NEIGHBOURGOODS’s RIGHT TO TERMINATE THE SUPPLIES </h3>
      <p>Neighbourgoods reserves the right to terminate the Supplies or suspend the use of the Platform from Customers who violate these Terms. Such termination takes place immediately and the Customer is notified by email. </p>


      <h3 class="mt-4">TRANSFER OF RIGHTS </h3>
      <p>Neighbourgoods may transfer its rights and obligations under the Terms to a third party, provided that the acquiring third party can be expected to fulfill the Terms from the Customer’s perspective in a satisfactory manner. </p>
      <p>The Customer may not transfer its rights and obligations under the Terms to any third party. </p>


      <h3 class="mt-4">LIABILITIES AND LIMITATIONS TO LIABILITY </h3>
      <p>You are liable to compensate Neighbourgoods for any direct and indirect damage suffered by Neighbourgoods as a result of Your breach of these Terms. </p>
      <p>Subject to mandatory law, in addition to what is stated in these Terms, Neighbourgoods’s liability to the Customer is determined as follows: </p>
      <ul class="text-ul">
        <li>Except as expressly set out in these Terms, Neighbourgoods makes no warranty as to the content, raw materials, ingredients or other information or services relating to the Products or any other Supply made using Neighbourgoods or the Platform. </li>
        <li>The Platform is provided for the Customer "as it is" without warranty of any kind. Therefore, Neighbourgoods does not warrant the functionality, availability, usability or security of the Platform or the Supply. We are not responsible for the suitability of the Products for the specific purpose You intend to use them. </li>
        <li>To the extent permitted by mandatory applicable law, Neighbourgoods shall not be liable for any direct or indirect or consequential damages, lost profits, loss of data or goodwill, or any other loss or damage arising out of Your use of the Platform or Our service, inability of using the Platform or Our services, or these Terms, regardless of whether the damage caused is based on a contract, infringement or other grounds. </li>
        <li>Neighbourgoods is not responsible for any unauthorized use or modification of the information You provide to Neighbourgoods, or information or material You receive. Furthermore, Neighbourgoods is not responsible for any criminal acts arising from the use of Neighbourgoods’s Supply services or services, such as threatening or defamatory, or any other obscene or harassing, offensive, inappropriate or illegal content or user activity. </li>
        <li>Please, note that these Terms do not affect Your statutory rights as a consumer, which cannot be removed or limited by a contract. Nor do these Terms preclude or limit liability that cannot be legally limited or excluded under mandatory law, such as liability for damage caused intentionally or through gross negligence.  </li>
        <li>In the case of the Vendor being a business, Neighbourgoods waives any liability rising from the Consumer Protection Act (38/1978) Chapter 12 Section 1. In this case, the agreement is made directly between the User and the Vendor and the Vendor has the liability towards the User as described in the Consumer Protection Act. This will be clearly marked on the ad by the Vendor to inform the User of the status of the Vendor.</li>
        <li>Neighbourgoods reserves the right to cancel the delivery and/or Supply of one or more Products if the information provided by the Customer during registration is incomplete or incorrect, the Partner is unable to fulfill the order, or in case of force majeure such as forthcoming pandemics, natural disaster, war, political unrest, strike, lockout, blockades or other cause of labor market disruption, fire, accident or other circumstances beyond Neighbourgoods’s reasonable control, or due to any other circumstances that substantially impede or impair the conditions for a Supply to be fulfilled. Neighbourgoods undertakes to notify the Customer as soon as possible of delay in Supply, or alternatively, of any cancellation. </li>
      </ul>


      <h3 class="mt-4">APPLICABLE LAW AND ARBITRATION </h3>
      <p>These Terms, the Platform, and purchase transactions made through the Platform or by using other Neighbourgoods services are governed by the Finnish law. </p>
      <p>Any disputes relating to these Terms, the Platform, and purchase transactions made through the Platform or using other Neighbourgoods services, are primarily resolved through negotiations. If the dispute cannot be settled, You can contact the consumer advice service of the Finnish Competition and Consumer Authority (https://www.kkv.fi/kuluttajaneuvonta/), and subsequently request for solution from the National Board for Consumer Disputes (www.kuluttajariita.fi). </p>
      <p>You can also submit Your dispute to the Online Dispute Resolution Forum at [http://ec.europa.eu/odr]. In connection with the matter, use our email address contact@neighbourgoods.fi </p>
      <p>You also have the right to bring the dispute before the Helsinki District Court or to the District Court of Your domicile. </p>




  </div> -->
  </div>

</div>
