.bg-background{
    background-color: white;
     height: 100%;
}
.bg-images{
    background-image: url(../../../assets/img/web-icons/hero-images-bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    max-width: 100%;  
  }
.effective-date{
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.9rem;
    font-weight: 500;
}
  .h1-tag{
    color: #2B2B2B;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 9%;
}
p{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 22px;
}
  .introduction-box{
    position: relative;
      h3{
        color: #2B2B2B;
        font-size: 1rem;
        font-weight: 600; 
      } 
      
  }
  .text-ul{
      padding-left: 25px;
  }
  .ziczak-img{
    position: relative;
  &::after{
    position: absolute;
    top: -12px;
    left: -120px;
    content: '';
    background-image: url(../../../assets/img/web-icons/zig-zag.svg);
    background-position: center left;
    background-repeat: no-repeat;
    width: 115px;
    height: 32px;

  }
}