<div class="app-body" >
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form class=" mt-3" [formGroup]="signUpForm" (ngSubmit)="method_for_signUp()">
              <h1 class="text-center mb-0">Register</h1>
              <h5 class="text-center">Create your account</h5>
              <p class="text-muted"></p>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>First Name*</mat-label>
                      <input matInput placeholder="First Name" formControlName="firstName">
                      <mat-error *ngIf="f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Last Name*</mat-label>
                      <input matInput placeholder="Last Name" formControlName="lastName">
                      <mat-error *ngIf="f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              <div class="input-group mb-1">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>E-mail address*</mat-label>
                  <input matInput formControlName="email" name="email" [errorStateMatcher]="matcher"
                      #emailControl placeholder="E-mail address">
                  <mat-error *ngIf="f.email.hasError && !f.email.hasError('required')">
                      Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="f.email.errors &&  f.email.errors.required">
                      Email is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="input-group mb-1">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Enter your password*</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" placeholder="Enter your password">
                  <button mat-icon-button matSuffix  type="button" (click)="$event.stopPropagation()" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error class="error-msz" *ngIf="f.password.errors" class="invalid-feedback">
                      <div class="error-mszsub" *ngIf="f.password.errors.required">Password is required</div>
                      <div class="col-lg-12 col-sm-12 col-xs-12 float-left mb-0 p-0 mt-0">
                          <div class="error-mszsub" *ngIf="f.password.errors.minlength">8 Digit is required</div>
                      </div>
                      <div class="col-lg-12 col-sm-12 col-xs-12 float-left text-left mb-0 p-0 mt-0">
                        <div class="error-mszsub" style="font-size:10px;" *ngIf="f.password.errors.pattern">Password must contains 1 alphabet, 1 number, and 1 special character.</div>
                      </div>
                      <div class="error-mszsub" *ngIf="f.password.errors.maxlength">Max Digit 25</div>
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-checkbox class="float-left rememberme-text mt-0" formControlName="termAndCondition" color="primary">I agree to the <a class="globalTextColour_purpul underline_textDecauration">Terms & Conditions</a> and
                <a class="globalTextColour_purpul underline_textDecauration">Privacy Policy</a>
              </mat-checkbox>
              <div class="float-left w-100 mt-0 mb-3">
                  <button mat-raised-button class="primary-btn w-100" style="height:50px" color="primary" type="submit">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
