.card-banner-container{
  position: relative;

.card-upload-image{
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 0;
  cursor: pointer;
  color: lightgray;
  visibility: hidden;
}

&:hover  .card-upload-image {
    visibility: visible;
  }

}


.card-list-info {
	li {
	 border: transparent;
     padding: 4px 0px 4px 0px;
     span {
          font-size: 12px;     	    
          font-weight: 400;
      }
      span.text-order{        
       font-weight: 500;
   }
     }
}


