<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-2"><strong> Customer Detail</strong></div>
    <div class="col text-right">
          <button class="btn btn-secondary" mat-raised-button type="button" (click)="method_for_redirect()"><i class="fa fa-undo" aria-hidden="true"></i> Back</button>
      </div>
  </div>
</NA-breadcrumb>

<div class="container-fluid ">
    <div class="row">
        <div class="col col-md-4 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-banner-container">
              <img *ngIf="!customerDetails?.profilePic?.url" src="../../../../assets/img/placeholder.png" class="card-img-top" alt="fdgdf">
              <img *ngIf="customerDetails?.profilePic?.url" src="{{neighborhoodsApiService.config.imageBaseUrl}}{{customerDetails?.profilePic.url}}" class="card-img-top" alt="fdgdf">
              <span class="card-upload-image" (click)="uploadCustomerImage()">
                  <mat-icon>photo_camera</mat-icon>
              </span>
            </div>
            <div class="card-body">
              <h3 class="text-center">{{customerDetails?.firstName}}</h3>
              <ul class="list-group list-group-flush card-list-info">
                <li class="list-group-item"><span class="text-order">Email</span> : <span *ngIf="customerDetails?.email">{{customerDetails.email}}</span> <span *ngIf="!customerDetails?.email">--</span></li>
                <li class="list-group-item"><span class="text-order">Mobile</span>: <span *ngIf="customerDetails?.phoneNo">{{customerDetails.phoneNo}}</span> <span *ngIf="!customerDetails?.phoneNo">--</span></li>
                <li class="list-group-item"><span class="text-order">Date Of Birth</span>: <span *ngIf="customerDetails?.dob">{{customerDetails.dob}}</span> <span *ngIf="!customerDetails?.dob">--</span></li>
                <li class="list-group-item"><span class="text-order">Country</span>: <span *ngIf="customerDetails?.addresses[0]?.country">{{customerDetails?.addresses[0].country.name}}</span> <span *ngIf="!customerDetails?.addresses.length">--</span></li>
                <li class="list-group-item"><span class="text-order">City</span>:  <span *ngIf="customerDetails?.addresses.length">{{customerDetails?.addresses[0].city.name}}</span> <span *ngIf="!customerDetails?.addresses.length">--</span></li>
                <li class="list-group-item"><span class="text-order">Address</span>: <span *ngIf="customerDetails?.addresses.length">{{customerDetails?.addresses[0].street1}}</span> <span *ngIf="!customerDetails?.addresses.length">--</span></li>

              </ul>
              <hr>
              <!-- <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                  <mat-option *ngFor="let c of actionList" [value]="c.id">{{c.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->
              <button class="btn btn-primary " mat-raised-button [routerLink]="['/home/customer/edit-customer/',customerDetails?.id]">Edit</button>
            </div>
          </div>
        </div>
        <div class="col col-md-8 col-sm-12 col-xs-12 nest-container">
          <!-- <router-outlet></router-outlet> -->
          <div class="card">
            <div class="card-body p-0">
              <NA-customer-order></NA-customer-order>
            </div>
          </div>
        </div>
    </div>
</div>

