<div class="app-body" style="min-height: 100vh;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body text-center">
                  <!-- <div class="card-title">Verify Email</div> -->
                  <div><img src="assets/old/img/android-icon-192x192.png" /></div>
                  <!-- -->

                  <div *ngIf="hasLoading;else other" class="text-center">
                    <mat-spinner [diameter]="75"></mat-spinner>
                  </div>
                  <ng-template #other>
                      <div *ngIf="hasVerfied">
                        <h1>Congratulation!!!!!!!</h1>
                        <div>Your email id has been verified. Now you can login and access services.For more info please feel free to contact with us.</div>
                      </div>
                      <div *ngIf="!hasVerfied">
                        <h1>Oops!!!!!!!</h1>
                        <div>Unable to Verify email. Please try to register or contact with your administrator</div>
                      </div>
                      <button class="btn btn-primary mt-3" [routerLink]="['/auth/login']">Continue To Login</button>
                  </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
