<cui-breadcrumb>
    <li class="breadcrumb-menu  w-100">

       <!-- <a class="btn" href="#"><i class="icon-speech"></i></a>
        <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
        <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a> -->
        <ng-content></ng-content>

    </li>
  </cui-breadcrumb>
  <!-- deprecation warning for 'app-breadcrumb' -->
  <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumb></app-breadcrumb>-->
    <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--<li class="breadcrumb-menu d-md-down-none">-->
      <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
        <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
        <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
        <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ol>-->
