<div class="bg-background text-center pb-4">
            <div class="col-sm-12 text-left p-0">
                <div class="bg-images top-header-img text-center">
                  <div class="container">
                 <h1 class="h1-tag pb-2"> List of Vendors</h1>
                 <p class="small-text">Reference site about Lorem Ipsum, giving information on its origins, as well as a random.</p>
                </div>
              </div>
            </div>

            <div class="vendor-details">
                <!-- <div>
                <NA-web-product-counter></NA-web-product-counter>
              </div> -->
                <div class="container">
                    <div class="setup-profile-container">
                        <!-- End of Setup tab section-->
                        <div class="setup-contant-body pl-0 pr-0">
                            <div class="user-profile">
                                <div class="plan-content" fxLayout="row wrap">
                                    <div class="col-md-3 col-sm-12 col-xs-12 float-left categories-box p-0">
                                        <div class="title-text details-title pb-3 pt-1 pl-3 pr-2">
                                            <h2 class="m-0">Filters</h2>
                                            <a class="reset-filter-link" href="javascript:volid();" (click)="resetFilter()">Reset Filters</a>
                                        </div>
                                        <div class="caterories-title pt-3">
                                            <span class="categories-view-text">Categories</span>
                                            <!-- <div class="select-vew pr-2">
                                            <a href="javascript:volid();" class="categories-select pr-2">Select all  </a>
                                                <a href="javascript:volid();" class="categories-select">Unselect all </a>
                                           </div> -->
                                        </div>
                                        <ul class="categories-list pl-0 mt-3 pl-2 mb-0">
                                            <li class="current" *ngFor="let cat of categoriesArray">
                                              <a href="javascript:volid();" (click)="select_vednors_on_the_basis_of_categories(cat)" [ngclass]="{ 'checked': cat.id == selectedCategoriesId}">{{cat.name}} ({{cat.vendorCount}})</a></li>
                                        </ul>
                                        <div class="caterories-title pt-3">
                                            <span class="categories-view-text">Ratings</span>
                                        </div>
                                    </div>
                                    <!-- End of Categories setction -->
                                    <div class="col-md-9 col-sm-12 col-xs-12 float-left pl-0 pr-0">
                                        <div class="details-vendor">
                                            <div class="title-text details-title pb-2 pt-0 pl-3 pr-2">
                                                <h2 class="mb-0">Vendors List ({{categoriesArray[0]?.vendorCount || 0}})</h2>
                                                <div class="search-section ml-0">
                                                    <input type="text"
                                                    class="search-input m-0 form-control form-control-sm ml-0"
                                                     placeholder="Search for here..."
                                                    debounce=""
                                                    [(ngModel)]="searchVendor" (change)="method_for_getting_vendors_categories()"/>
                                                </div>
                                            </div>
                                            <!-- End of vendor title setction -->
                                            <div class="categories-list-view d-flex w-100">
                                              <div class="categories-list-view-details d-flex w-100 pt-3 pb-3">
                                                <div class="col col-lg-3 col-md-4 col-sm-4 col-xs-6 " *ngFor="let vendor of vendorList">
                                                          <div>
                                                            <div class="card card-container web-card-body ">
                                                              <div class="card-body card-body-content card-filter-body">
                                                                <div class="card-gallery">
                                                                  <img *ngIf="!vendor?.bannerImage.length" src="assets/img/placeholder.png" >
                                                                  <img *ngIf="vendor?.bannerImage.length" src="{{neighborhoodsApiService.config.imageBaseUrl}}{{vendor?.bannerImage[0].bannerImage.url}}" />
                                                                </div>
                                                                <div class="card-filter-content pl-0 pr-0">
                                                                  <div class="filter-content mt-2 pb-2 pl-2 pr-2 text-left">
                                                                    <h3 class="card-hedding pointer mb-0" >
                                                                      <span [routerLink]="['/select-your-product/', vendor.id]">{{vendor.businessName}}</span>
                                                                      <em class="heart-icon">
                                                                        <img height="20" *ngIf="!vendor.favoriteVendors?.length" (click)="method_for_create_favroite_vendor(vendor)" src="../../../../../assets/img/web-icons/heart.svg" />
                                                                           <img height="20" *ngIf="vendor.favoriteVendors && vendor.favoriteVendors.length" (click)="method_for_delete_favorite_vendor(vendor.favoriteVendors)" src="../../../../../assets/img/web-icons/heart_small-fill.svg" />
                                                                      </em>
                                                                    </h3>
                                                                    <span class="card-small-text">{{vendor.categories?.name}}</span>
                                                                  </div>
                                                                  <div class="filter-content cart-ratting-box mt-2 pb-2 pl-2 pr-2">
                                                                     <div class="ratting-cell pr-4" >
                                                                        <span *ngIf="vendor.rating">{{vendor.rating}}</span>
                                                                        <span *ngIf="!vendor.rating">0</span>
                                                                      </div>
                                                                      <!-- <div class="ratting-cell pr-4">
                                                                        <span>35 min</span>
                                                                      </div> -->
                                                                      <div class="ratting-cell" *ngIf="vendor.priceForOne">
                                                                        <span>&euro; {{vendor.priceForOne}} for one</span>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                   </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of categories-list-view setction -->


                                </div>
                                <!-- End of User Profile section-->



                                <!-- End of setup form section  -->
                            </div>
                            <!-- End of setup contant body section  -->
                        </div>
                    </div>
                </div>
                </div>


    </div>
