.h1-tag{
    color: #2B2B2B;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 9%;
  }
  
  .small-text, .reset-filter-link{
    color: #2B2B2B;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 22px;
  }
  .reset-filter-link{
    color: #C94D3B;
    font-weight: 500;
    &:hover{
        // text-decoration: none;
    }
  }

.caterories-title{
    display: flex;
    justify-content: space-between;
    .categories-view-text, .categories-select{
        text-transform: uppercase;
        color: #92929D;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 22px;
     }
     .categories-select{
        color: #2B2B2B;
        position: relative;
        text-transform: capitalize;
        &::after{
            position: absolute;
            content: '';
            width: 1px;
            height: 12px;
            background-color: #92929D;
            top:3px;
            right:5px
        }  
        &:last-child::after{
            display: none;
        }      
     }

}


  .vendor-details{
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
.categories-box{
    min-height: 100vh;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
    // border-right:1px solid #D5D5DC;
}
.setup-profile-container{
    padding: 1rem 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    .setup-tab{
        width:100%;
        border-bottom: 1px solid #c2c4c5;
    }
    .setup-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        li {
            padding: 10px 8px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
            color:#2B2B2B;
            min-height: 50px;
            margin-right: 16px;         
          &.active {
            color: #49D3CC;
            border-bottom: 3px solid #49D3CC;
          }
          
        }
      }
     
}
.setup-contant-body{
    padding: 10px 20px;
    // border: 1px solid #dde6e9;
    width: 100%;
   
      .plan-content{
          padding:0;
          .title-text {
            h2 {
              font-size: 1.3rem;
              margin-bottom: 17.5px;
              font-weight:700;
            }
            p {
              font-size: 10.5pt;
            }
            .items-count{
                font-weight: 500;
            }
            &.card-items-details{
                border-bottom: 1px dashed #D5D5DC;
                .items-name{
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }
          }
      }
      &.facility-tab{
        width:65em;
      } 
}
.categories-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    li{
        padding: 0px 0px 1px;
        width: 100%;
        display: flex;
        &.current{
            color:#2B2B2B; 
            text-decoration: none;
            font-weight: 500;
            position: relative;
          
            
        }
        a{
            font-style: normal;
            font-weight: 400;
            color:#2B2B2B; 
            font-size: 14px;
            text-decoration: none;
            // border-left: 3px solid transparent;
            width: 100%;
            padding: 8px 10px 8px 5px;
            position: relative;
            &:hover, &:focus{
                color:#2B2B2B; 
                font-weight: 500;
                text-decoration: none;
                &::after{
                    position: absolute;
                    width:20px;
                    height: 20px;
                    content: '';
                    right: 10px;
                    top: 7px;
                    background-image: url(../../../assets/img/web-icons/check-icon.svg);
                    background-repeat: no-repeat;
                    background-position: right center;
                }

            }
           
            &.checked{
                color:#2B2B2B; 
                text-decoration: none;
                font-weight: 500;
                position: relative;               
                &::after{
                    position: absolute;
                    width:20px;
                    height: 20px;
                    content: '';
                    right: 10px;
                    top: 7px;
                    background-image: url(../../../assets/img/web-icons/check-icon.svg);
                    background-repeat: no-repeat;
                    background-position: right center;
                }
            }
          
        }
    }
}
.details-title{
    display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
border-bottom: 1px solid #c2c4c5;
} 

.details-vendor{
    border-right: 1px solid #D5D5DC;
    border-left: 1px solid #D5D5DC;
}
.categories-list-view{    
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    &-details{
        flex-wrap: wrap;
        align-items: stretch;
    }
}

.search-section{
    width: 35%;
   .search-input {
        background-color: #fff;
        border: 1px solid #D5D5DC;
        min-height: 44px;
        padding: 6px 15px;
        padding-left: 36px;
        border-radius: 4px;
        font-size: 14px;
        background-image: url(../../../assets/img/web-icons/search.svg);
        background-position: 6px center;
        background-repeat: no-repeat;
    }
}

.web-card-body{
    border: 1px solid #d0cfcf;
    box-shadow: none;
    .card-filter-body{
        padding: 0px;
        .card-gallery{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e8e8e8;
            max-height: 172px;
            overflow: hidden;
            img {
              max-width: 100%;
            }
            &.cheesy-card{
                background: #FEA70A;
                max-height: 172px;
                height: 172px;
            }
        }
       
        .card-filter-content{
            .card-hedding{
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                color: #2B2B2B;
                font-size: 1rem;
                font-weight: 500;
                line-height: 0;
                cursor: pointer;
            }
            .card-small-text{
                color: #a9a9a9;
                font-size: 0.7rem;
                font-weight: normal;
            }

            .cart-ratting-box{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .ratting-cell{
                color: #2B2B2B;
                font-size: 0.8rem;
                font-weight: 500;
                position: relative;
                  &::after{
                    background-color: #a9a9a9;
                    width: 1px;
                    height: 13px;
                    position: absolute;
                    right: 11px;
                    top: 3px;
                    content: "";
                  }
                  &:last-child::after{
                      background-color: transparent;
                  }

                }
            }
        }
    }
}
.card-filter{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

