.banner{
    margin-top:0px;
    &-content{
        position: relative;
        text-align: center;
        .banner-avatar{
            max-width: 100%;
            background-image: url(../../../assets/img/web-icons/become-a-vendor-banner.svg);
            background-position: center center;
            background-repeat: no-repeat;
            height: auto;
            min-height: 555px;
            position: sticky;
            background-size: cover;
            width: 100%;
        }
        .banner-tag, .banner-p-text, .avatar-logo, .banner-search, .signin-text{
            position: absolute;
            top: 34%;
            margin: auto;
            // left:9.4%;
            color:  #2B2B2B;
            font-size: 3rem;
            font-weight:500;
            letter-spacing: 0px;  
            
            .avatar-logo{
                width: 26px;
                height: auto;
                left: 38%;
                margin-top: -20px;
                top: 0px;
            }
        }

        .banner-p-text{
            top:43%;
            // left:9.4%;
            font-size: 1rem;
            font-weight: 400;
        }

        .banner-search{
            top:51%;
            // left:9.4%;
            background-color: #fff;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            padding:8px 15px;
            width:490px;
            min-height: 56px;

            .location-fild{
                position: relative;
                .select-location{
                    padding-left: 26px;
                    min-height: 41px;
                    border:none;
                    background-image: url(../../../assets/img/web-icons/pin.svg);
                    background-position: left center;
                    background-repeat: no-repeat;  
                }
                &::before{
                    position: absolute;
                    right: -10px;
                    top: 9px;
                    content: "";
                    width: 1px;
                    height: 23px;
                    background: #e4e7ea;
                }
            }
            .search{
                width:76%;
                .search-input{
                    min-height: 38px;
                    padding-left:2rem;
                    background-image: url(../../../assets/img/web-icons/massage-icon.svg);
                    background-position: 0px center;
                    background-repeat: no-repeat; 
                    font-size: 14px; 
                    border:none;
                    &::placeholder{
                        color:  #2B2B2B;
                    }
                }
            }
            .search-find-button{
                .btn-find{
                    color:  #2B2B2B;
                    padding:7px 15px;
                    font-size: 14px;
                    &:hover, &:focus{
                        color:#fff;
                    }                   
                }
            }
        }
        .signin-text{
            color: #2B2B2B;
            font-size: 0.83rem;
            font-weight: 400;
            top:63%;
            a{
                color:#49D3CC;

            }
        }
       
    }
}

// hedding & p text style css
.hedding-tag{
color: #2B2B2B;
font-size: 1.8rem;
font-weight: 700;
letter-spacing: 0.1rem;
}
.p-text{
    color: #2B2B2B;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
}

// Service section style css
.Service-partnership{
    flex-wrap: wrap;
    flex-direction: row;

   .vendor-rate {
            background-color: rgba(73, 211, 204, 0.15);
            min-height: 8em;
            padding: 25px;
            border-radius: 70px;
            text-align: center;
            
            width: 20em;

            &.right-cell{
                float: right;
                border-bottom-left-radius: 0px;
            }
            &.left-cell{
                float: left;
                border-top-right-radius: 0px;
            }
        .rate, .rate-text{
            color: #49D3CC;
            font-size: 2.3rem;
            font-weight: 600;
        }
        .rate-text{
            font-size: 1.3rem;
            font-weight: 500;
        }
   }
}

// Online brand style css
.online-section{
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

        .online{
                background: #FFFFFF;
                border: 1px solid #D5D5DC;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 12px 20px;
                &-tag{
                    font-size: 1rem;
                    font-weight: 600;
                    position: relative;

                   
                }

        }

        @media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
            .banner-tag{
              font-size: 2.4rem;
             }
                .banner-p-text{
                    font-size: 0.8rem;
                }


            .container.box-container {
                max-width: 100%;
            }
            .online-section{
                flex-direction: column;
                max-width: 100%;
            }
            .box-section{
                padding-left: 0px;
                padding-right: 16px !important;
            }           
        
        }   
        
        @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
            .banner-tag{
                font-size: 2.4rem !important;
                    top: 14% !important;
                    width: 92%;
               }
                  .banner-p-text{
                    font-size: 1rem !important;
                    top: 26% !important;
                  }
  
                  .signin-text{
                    top: 51% !important;
                  }
              .container.box-container {
                  max-width: 100%;
              }
              .online-section{
                  flex-direction: column;
                  max-width: 100%;
              }
              .box-section{
                  padding-left: 0px;
                  padding-right: 16px !important;
              }  
              .banner-search{
                width: 91% !important;
                top: 40% !important;
                .search{
                    width:66% !important;
                }
              }         
          
        }