<section class="banner">
  <div class="banner-content">
    <div class="banner-avatar">
    <div class="container">
      <div class="banner-box d-flex">
      <h1 class="banner-tag">
        <span class="mr-0">Become a Vendor</span>
      </h1>
      <p class="banner-p-text">
        Partner with the most powerful business platform to delight your
        customer.
      </p>

      <form [formGroup]="emailForm" (ngSubmit)="signUp()">
      <div class="banner-search d-flex">
        <div class="search ml-0">
          <input
            type="email"
            class="search-input form-control form-control-sm"
            placeholder="Enter busniness email address"
            formControlName="email"
          />
          <mat-error *ngIf="f.errors && f.touched">
            <h4 *ngIf="f.errors.required">This is required field</h4>
            <h4 *ngIf="f.errors.pattern || f.errors.email">This is inavlid email</h4>
            <h4 *ngIf="f.errors.unique">Email has been taken. Please try with another email.</h4>
          </mat-error>
         </div>
        <div class="search-find-button ml-3">
          <button class="btn btn-primary btn-find" type="submit" >
            Sign Up
          </button>
        </div>
      </div>
    </form>
      <span class="signin-text"
        >Already have an account?<a [routerLink]="['/auth/login']">
          Sign In</a
        ></span
      >
    </div>
    </div>
  </div>

  </div>
</section>

<!-- End Of cecome a vendor banner section -->

<section class="container">
  <div class="row w-100">
    <div class="Service-partnership mt-4 d-flex w-100">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 float-left">
        <h1 class="hedding-tag">
          <span class="mr-0">Become a Vendor</span>
        </h1>
        <p class="p-text">
          It's your brand, own it & grow it. Brand your store with your logo,
          your banner and your story. Your store will also have its own
          personalised Neighbourgoods URL.It's your brand, own it & grow it.
          Brand your store with your logo, your banner and your story. Your
          store will also have its own personalised Neighbourgoods URL.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 float-left">
        <div class="vendor-rate right-cell mb-3">
          <h3 class="rate pt-2">21,870+</h3>
          <span class="rate-text">Total Partner</span>
        </div>
        <div class="vendor-rate left-cell">
          <h3 class="rate pt-2">9.92/10</h3>
          <span class="rate-text">Avg.Customer Rating</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="Service-partnership mt-5 pt-5 mb-4 w-100">
    <h1 class="hedding-tag">
      <span class="mr-0">Your New Online Presence</span>
    </h1>
    <p class="p-text">
      It's your brand, own it & grow it. Brand your store with your logo, your
      banner and your story.
    </p>
  </div>

  <div
    class="Service-partnership online-section d-flex w-100"
    fxLayoutGap="16px"
  >
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pl-0">
      <div class="card border-0">
        <div
          class="card-body card-body-content online brand-section d-flex"
          fxLayoutGap="30px"
        >
          <div class="online-icon float-left pr-3">
            <img src="../../../assets/img/web-icons/brand-icon.svg" alt="" />
          </div>
          <div class="card-total float-left pt-3">
            <div class="online-tag h4">Your Brand</div>
            <p class="p-text online-tag-text">
              It's your brand, own it & grow it. Brand your store with your
              logo, your banner and your story. Your store will also have its
              own personalised Neighbourgoods URL
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 box-section pr-0">
      <div class="card border-0">
        <div
          class="card-body card-body-content online brand-section d-flex"
          fxLayoutGap="30px"
        >
          <div class="online-icon float-left pr-3">
            <img src="../../../assets/img/web-icons/brand-icon2.svg" alt="" />
          </div>
          <div class="card-total float-left pt-3">
            <div class="online-tag h4">Join the Ecommerce Boom</div>
            <p class="p-text online-tag-text">
              Ecommerce has been growing steadily over the last decade but in
              2020 growth has excellerated beyond all expectation , join the
              rush.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="Service-partnership online-section d-flex w-100"
    fxLayoutGap="16px"
  >
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pl-0">
      <div class="card border-0">
        <div
          class="card-body card-body-content online brand-section d-flex"
          fxLayoutGap="30px"
        >
          <div class="online-icon float-left pr-3">
            <img src="../../../assets/img/web-icons/brand-icon3.svg" alt="" />
          </div>
          <div class="card-total float-left pt-3">
            <div class="online-tag h4">Online Ordering</div>
            <p class="p-text online-tag-text">
              Allow people to order from you through Neighbourgoods. We'll be
              lauching marketing campaigns to reach new local people for you to
              delight.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 box-section pr-0">
      <div class="card border-0">
        <div
          class="card-body card-body-content online brand-section d-flex"
          fxLayoutGap="30px"
        >
          <div class="online-icon float-left pr-3">
            <img src="../../../assets/img/web-icons/brand-icon4.svg" alt="" />
          </div>
          <div class="card-total float-left pt-3">
            <div class="online-tag h4">Mobile Support</div>
            <p class="p-text online-tag-text">
              Neighbourgoods is designed to work well on mobile and on PC. We
              will soon be introducing a mobile app to make it even easier for
              customers to order from you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
