<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-2">
      <strong>Contact Us</strong>
    </div>
  </div>

</NA-breadcrumb>
<div class="container-fluid">
<div class="card">
  <div class="card-body p-0">
  <div>
    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <thead class="thead-light">
        <tr>
          <th style="width:8%">#SN</th>
          <th style="width:27%">Name</th>
          <th style="width:27%">Email</th>
          <th style="width:27%">Phone No</th>
          <th style="width:27%">Message</th>
         <th style="width:10%">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of contactUsInternalService.contactList; let i = index">
          <td >
            {{i+1}}
          </td>
          <td>{{item.firstName}}&nbsp; {{item.lastName}}</td>
          <td >
            <div *ngIf="!item.email">--</div>
            <div *ngIf="item.email">{{item.email}}</div>
          </td>
          <td>{{item.phoneNo}}</td>
          <td>{{item.massage}}</td>
          <td >
            <span><i class="fa fa-trash" aria-hidden="true" (click)="deleteContactUs(item)"></i></span>
          </td>
        </tr>
        <tr  *ngIf="contactUsInternalService.contactList.length == 0">
          <td colspan="6" class="text-center">
            <h4>No record found</h4>
          </td>
        </tr>
      </tbody>
  </table>

  </div>
</div>
</div>
</div>

