

<div class="col-md-5 col-sm-8 col-xs-12 mt-5" style="float: none; margin: auto" *ngIf="forgotPasswordForm">
  <div class="card-box pl-0 pr-0 pb-0 pt-2">
    <div class="card-title card-modale-title pl-3 pr-3 mb-4"><h2 class="tetle-hedding">Forgot Password</h2></div>
    <form id="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">

        <div class="col-md-12">
          <div class="form-group">
            <label>Email<span class="text-danger">*</span></label>
            <input

              type="email"
              class="form-control"
              name="currentPassword*"
              formControlName="email"
            />

            <mat-error class="error-msz" *ngIf="f?.email && f?.email.errors && (forgotPasswordForm.touched || forgotPasswordForm.dirty)" class="invalid-feedback1">
              <div class="error-mszsub" *ngIf="f?.email && f?.email.errors && f?.email.errors.required">Email is required</div>
              <div >
                <div class="error-mszsub" style="font-size:10px;" *ngIf="f?.email &&  f?.email.errors && f?.email.errors.pattern">Inavlid Email.</div>
              </div>
            </mat-error>
            <span class="font-13 text-muted"></span>
          </div>
        </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-footer pl-3 pr-3">
        <button
          type="submit"
          name="submit"
          class="btn btn-primary mr-3"
          [disabled]="forgotPasswordForm.invalid"
          >
          Submit
        </button>
        <button type="reset" class="btn btn-default" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
    </form>

    <!-- end row -->
  </div>
  <!-- end card-->
</div>
