<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-3">
      <strong> Setting</strong>
    </div>
  </div>
 
</NA-breadcrumb>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
        <div class="card-title card-modale-title">
          <h2 class="tetle-hedding">Set commission  and Privacy Policy</h2>
        </div>

      <form [formGroup]="settingForm" (ngSubmit)="ValidateSetting()">
          <div class="row">
            <div class="col col-md-4 col-sm-12 col-xs-12">
              <mat-form-field appearance="outline" class="w-100" formGroupName="transactionCharge">
                <mat-label>Transaction Charge</mat-label>
                <input type="number" matInput formControlName="metaValue">
                <mat-error></mat-error>
              </mat-form-field>
            </div>
            <div class="col col-md-4 col-sm-12 col-xs-12">
              <mat-form-field appearance="outline" class="w-100" formGroupName="commissionRate">
                <mat-label>Commission Rate (%)</mat-label>
                <input type="number" matInput formControlName="metaValue">
                <mat-error></mat-error>
              </mat-form-field>
            </div>
            <div class="col col-md-4 col-sm-12 col-xs-12">
              <mat-form-field appearance="outline" class="w-100" formGroupName="enableCommission">
                <mat-label>Commission on Orders</mat-label>
                <mat-select formControlName="metaValue">
                  <mat-option [value]="'true'">Enable</mat-option>
                  <mat-option [value]="'false'">Disable</mat-option>
                </mat-select>
                <mat-error></mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12" formGroupName="termCondition">
              <!-- <mat-form-field appearance="outline" class="w-100" >
                <mat-label>Terms & Conditions</mat-label>
                <textarea matInput cols="30" rows="5" formControlName="metaValue"></textarea>
                <mat-error>This is Required Field</mat-error>
              </mat-form-field> -->
              <label> </label>
              <div class="card-title card-modale-title">
                <h2 class="tetle-hedding" for="tandc">Terms & Conditions</h2>
              </div>
              <ck-editor name="tandc" [config]="config" formControlName="metaValue" skin="moono-lisa" language="en" ></ck-editor>
              <!-- <NA-na-ckeditor name="tandc" [config]="config" formControlName="metaValue"></NA-na-ckeditor> -->
            </div>
            <div class="col col-md-12 col-sm-12 col-xs-12 mt-3" formGroupName="privacyPolicy">
              <!-- <mat-form-field appearance="outline" class="w-100" >
                <mat-label>Privacy Policy</mat-label>
                <textarea matInput cols="30" rows="5" formControlName="metaValue"></textarea>
                <mat-error></mat-error>
              </mat-form-field> -->
              <!-- <label >Privacy Policy</label> -->
              <div class="card-title card-modale-title">
                <h2 class="tetle-hedding" for="pandc">Privacy Policy</h2>
              </div>
              <!-- <NA-na-ckeditor name="pandc" [config]="config" formControlName="metaValue"></NA-na-ckeditor> -->
              <ck-editor name="pandc" [config]="config" formControlName="metaValue" skin="moono-lisa" language="en" ></ck-editor>
            </div>
          </div>
          <div class="float-left mt-3 w-100 pl-0 pr-0">
            <div class="col-lg-12 pl-0 mt-0 btn-wrapper">
              <button style="line-height: 28px;" color="primary" class="btn btn-primary" [disabled]="this.counter > 0">Update</button>
          </div>
          </div>
      </form>
    </div>
  </div>
</div>
