.userprofile-input{
    background-color: #fff;
    border: 1px solid #D5D5DC;
    min-height: 48px;
    padding: 12px 15px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
    &:hover, &:focus{
        border: 1px solid #acc6f7;
    }
}