<div class="modal-header pt-2 pb-2 pl-2">
  <h2 class="modal-title mb-0" id="updateProfile" mat-dialog-title>Update Profile</h2>
  <button type="button" class="close" data-dismiss="modal" (click)="onNoClick()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<form id="updateProfile" [formGroup]="updateProfile" (ngSubmit)="updateProfileData()">
<div class="modal-body float-left w-100 p-0 pt-3">

<mat-dialog-content class="m-0 pl-3 pr-3">
  <div class="col-md-12 p-0">
    <div class="form-group">
      <label>First Name<span class="text-danger">*</span></label>
      <input

        type="text"
        class="form-control"
        name="firstName"
        formControlName="firstName"
      />

      <mat-error class="error-msz" *ngIf="f.firstName.errors" class="invalid-feedback1">
        <div class="error-mszsub" *ngIf="f.firstName.errors">This is required</div>
      </mat-error>
      <span class="font-13 text-muted"></span>
    </div>
  </div>

  <div class="col-md-12 p-0">
    <div class="form-group">
      <label>Middle Name<span class="text-danger">*</span></label>
      <input

        type="text"
        class="form-control"
        name="middleName"
        formControlName="middleName"
      />

      <mat-error class="error-msz" *ngIf="f.middleName.errors" class="invalid-feedback1">
        <div class="error-mszsub" *ngIf="f.middleName.errors">Invalid value</div>
      </mat-error>

      <span class="font-13 text-muted"></span>
    </div>
  </div>

  <div class="col-md-12 p-0">
    <div class="form-group">
      <label>Last Name<span class="text-danger">*</span></label>
      <input

        type="text"
        class="form-control"
        name="lastName"
        formControlName="lastName"
      />

      <mat-error class="error-msz" *ngIf="f.lastName.errors" class="invalid-feedback1">
        <div class="error-mszsub" *ngIf="f.lastName.errors">This is required</div>
      </mat-error>
      <span class="font-13 text-muted"></span>
    </div>
  </div>

  <div class="col-md-12 p-0">
    <div class="form-group">
      <label>Email<span class="text-danger">*</span></label>
      <input

        type="text"
        class="form-control"
        name="email"
        formControlName="email"
      />

      <mat-error class="error-msz" *ngIf="f.email.errors" class="invalid-feedback1">
        <div class="error-mszsub" *ngIf="f.email.errors">This is required</div>
      </mat-error>
      <span class="font-13 text-muted"></span>
    </div>
  </div>

</mat-dialog-content>

</div>

<div class="modal-footer float-left w-100 pl-0 pb-3 pr-0">
  <div class="col-lg-12 mt-0 btn-wrapper">
    <button
    type="submit"
    name="submit"
    class="btn btn-primary mr-3"
    [disabled]="updateProfile.invalid"
    >
    Submit
  </button>
  <button type="reset" class="btn btn-default" mat-dialog-close>
    Cancel
  </button>
    <!-- <button color="primary" class="btn checkout-btn" (click)="pay()" mat-raised-button>Pay</button> -->
  </div>
</div>

</form>
