<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-2">
      <strong>Product</strong>       
    </div>
    <div class="col text-right">
      <button type="button" color="primary" class="btn mr-0 pl-1 pr-2" mat-raised-button  (click)="backToDashbaord()"><mat-icon class="align-middle">close</mat-icon> Cancel</button>
      </div>
  </div>

</NA-breadcrumb>
<div class="container-fluid">
<div class="card">
  <div class="card-body">
    <form>
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [formGroup]="productDetail" [stepControl]="productDetail">
            <ng-template matStepLabel>Product Detail</ng-template>
             <div class="row">
                <div class="col col-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Produt Name</mat-label>
                        <input type="text" matInput formControlName="productName">
                        <mat-error>
                          This is Required field
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col col-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Select Category</mat-label>
                    <mat-select formControlName="categoriesId">
                      <mat-option>Select Category</mat-option>
                      <mat-option *ngFor="let cat of productCategory;" [value]="cat.id">{{cat.name}}</mat-option>
                    </mat-select>
                    <mat-error>
                      This is Required field
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col col-12">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>
                </div>
                <div class="col col-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Allergens</mat-label>
                    <input type="text" matInput formControlName="allergens">
                    <mat-error>
                      This is Required field
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col col-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Tags</mat-label>
                    <mat-chip-list #chipList aria-label="tag selection">
                      <mat-chip
                        *ngFor="let t of tags"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(t.tag)"
                      >
                        {{t.tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input
                        placeholder="New Tag..."
                        #tagInput
                        [formControl]="tagCtrl"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)"
                      />
                    </mat-chip-list>
                  </mat-form-field>
                </div>
             </div>
            <div>
              <button type="button" class="btn btn-primary" matStepperNext>Next</button>
            </div>

        </mat-step>
        <mat-step [formGroup]="pricingInfo" [stepControl]="pricingInfo">
            <ng-template matStepLabel>Pricing And Stock</ng-template>
            <div>
                <fieldset formArrayName="productPrices">
                  <div *ngFor="let billInfo of productBillList.controls; let i=index">

                    <div class="row" [formGroupName]="i">
                        <div class="col">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Produt Unit</mat-label>
                            <input type="number" formControlName="productUnit" matInput>
                            <mat-error>
                              This is Required field
                            </mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Unit Type</mat-label>
                            <mat-select formControlName="unitType">
                              <mat-option value="">Select Unit</mat-option>
                              <mat-option value="kg">kg</mat-option>
                              <mat-option value="ltr">ltr</mat-option>
                              <mat-option value="gram">gram</mat-option>
                              <mat-option value="ml">ml</mat-option>
                              <mat-option value="piece">piece</mat-option>
                              <mat-option value="dozen">dozen</mat-option>
                              <mat-option value="box">box</mat-option>
                            </mat-select>
                            <mat-error>
                              This is Required field
                            </mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Price Without VAT</mat-label>
                            <input type="number" matInput formControlName="unitPrice">
                            <mat-error>
                              This is Required field
                            </mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col">
                            <!-- <button class="btn btn-primary" type="button" (click)="addProductbill()"><mat-icon>add</mat-icon></button> -->
                            &nbsp;
                            <!-- <button class="btn btn-danger" type="button" *ngIf="productBillList?.controls?.length > 1" (click)="removeProduct(i)"><mat-icon>delete</mat-icon></button> -->
                        </div>
                    </div>
                  </div>
                </fieldset>

                <div class="row">
                  <div class="col">
                      <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Available Stock</mat-label>
                          <input matInput type="input" formControlName="avaliableStock">
                          <mat-error>This is required field</mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>VAT Available*</mat-label>
                      <mat-select formControlName="vatAvailable">
                        <mat-option value="yes">Yes</mat-option>
                        <mat-option value="no">No</mat-option>
                      </mat-select>
                      <mat-error>This is required field</mat-error>
                  </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>VAT Rate (%)*</mat-label>
                      <input matInput type="number" min="0" formControlName="vatRate">
                      <mat-error>This is required field</mat-error>
                  </mat-form-field>
                  </div>
                </div>

             <button color="primary" mat-raised-button  class="btn pl-2 pr-2 mr-2" matStepperPrevious><i class="fa fa-undo" aria-hidden="true"></i> Back</button>
              <button type="button" class="btn btn-primary" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [formGroup]="moreInfo" [stepControl]="moreInfo">
          <ng-template matStepLabel>More Info</ng-template>

            <div>
              <div class="mt-3">
                <mat-form-field appearance="outline">
                  <mat-label>Expiry Date (If Applicable)</mat-label>
                  <input matInput [matDatepicker]="picker" readonly formControlName="expiryDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                </div>

              <div class="mt-2">
                <label><strong>Status:</strong></label>
                <br>
                <mat-radio-group formControlName="status">
                  <mat-radio-button value="true">Availalbe</mat-radio-button>
                  <mat-radio-button value="false">Unavilable</mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="d-flex mt-3">
                <label class="mb-0 pr-2" style="padding-top:2px;"><strong>Age Range:</strong> </label>
                <mat-checkbox formControlName="ageRange" value="18">+18</mat-checkbox>
              </div>
            </div>

            <!-- <div class="mt-3">
                  <label>Product Image</label>
                  <input type="file" >
            </div> -->

            <div class="d-flex mt-3">
            <button color="primary" mat-raised-button  class="btn pl-2 pr-2 mr-2"  matStepperPrevious><i class="fa fa-undo" aria-hidden="true"></i> Back</button>
            <button type="button" class="btn btn-primary mr-2" (click)="stepper.reset()">Reset</button>
            <button  type="button" class="btn btn-primary" (click)="createUpdateProduct()">Submit</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>

    </form>

</div>
</div>
</div>

