.mat-dialog-content{
    overflow:inherit;
    margin: 0px;
}
.module{
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    .close-btn{
        position: absolute;
        top: -8px;
        right:0px;
        border: none;
        background: none;
        z-index: 999;
        &:hover, &:focus{
            background: none;
            box-shadow: none;
            outline: none;
        }
    }
}
.input-box{
    background: #FFFFFF;
    border: 1px solid #E2E2EA;
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 40px;
    padding: 10px;
}
.input-label{
    color: #92929D;
    font-size: 12px;
    text-transform: uppercase;
}
.forgot-link{
    text-decoration-line: underline;
    color: #49D3CC;
    &:hover, &:focus{
        text-decoration: none;
    }
}
.auth-btn{
    width:100%;
    min-height:43px;
    font-size: 0.9rem;
    color: #2B2B2B !important;
}
.signin-text{
    color: #2B2B2B;
    font-size: 0.83rem;
    font-weight: 400;
    top:63%;
    a{
        color:#49D3CC;

    }
}

.location-fild{
    position: relative;
    width: 100%;
    .select-location{
        background: #FFFFFF;
        border: 1px solid #E2E2EA;
        box-sizing: border-box;
        border-radius: 4px;
        min-height: 40px;
        padding: 10px;
    }   
}

.signup-vendor{
    background: rgba(255, 214, 63, 0.2) !important;
    color: #2B2B2B !important;
    border: none !important;
}