<div class="module-body">
  <div mat-dialog-content class="mat-typography" class="module">
    <button mat-dialog-close class="close-btn float-right"><img src="../../../../assets/img/web-icons/close.svg" alt=""> </button>
    <div class="col-md-11 pb-0 mx-auto text-center">
      <form class="mt-3" [formGroup]="signUpForm" (ngSubmit)="method_for_signUp()">
       
        <h1 class="text-center pt-4 mb-0"><img class="img-fluid" height="40" src="../../../../assets/img/web-icons/Logo.svg" alt=""></h1>
        <p class="text-muted pt-2 mb-4 pb-2">Enter your details to proceed further</p>
        <div class="input-group mb-1">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>First Name*</mat-label>
                <input matInput placeholder="First Name" formControlName="firstName">
                <mat-error *ngIf="f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Last Name*</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastName">
                <mat-error *ngIf="f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="input-group mb-1">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>E-mail address*</mat-label>
            <input matInput formControlName="email" name="email" [errorStateMatcher]="matcher" #emailControl placeholder="E-mail address">
            <mat-error *ngIf="f.email.hasError && !f.email.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="f.email.errors &&  f.email.errors.required">
                Email is required
            </mat-error>
          </mat-form-field>
        </div>  
        <div class="input-group mb-1">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Enter your password*</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" placeholder="Enter your password">
            <button mat-icon-button matSuffix  type="button" (click)="$event.stopPropagation()" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error class="error-msz" *ngIf="f.password.errors" class="invalid-feedback">
                <div class="error-mszsub" *ngIf="f.password.errors.required">Password is required</div>
                <div class="col-lg-12 col-sm-12 col-xs-12 float-left mb-0 p-0 mt-0">
                    <div class="error-mszsub" *ngIf="f.password.errors.minlength">8 Digit is required</div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 float-left text-left mb-0 p-0 mt-0">
                  <div class="error-mszsub" style="font-size:10px;" *ngIf="f.password.errors.pattern">Password must contains 1 alphabet, 1 number, and 1 special character.</div>
                </div>
                <div class="error-mszsub" *ngIf="f.password.errors.maxlength">Max Digit 25</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input-group mb-1">
          <div class="text-left w-50">
            <mat-checkbox class="float-left rememberme-text mt-0" formControlName="termAndCondition" color="primary">I agree to the <a class="globalTextColour_purpul underline_textDecauration">Terms & Conditions</a> and
              <a class="globalTextColour_purpul underline_textDecauration">Privacy Policy</a>
            </mat-checkbox>
          </div>           
        </div>  
        <button mat-button class="btn btn-primary auth-btn w-100 mt-2 mb-2">SignUp as Customer</button>
        <!-- <span class="signin-text pt-0">Already have an account?<a href="javascript:valid();">Sign in</a></span> -->
     <!-- <span></span> -->
      </form>
    </div>
    <!-- <button [routerLink]="['/auth/login']" mat-button  class="btn btn-primary signup-vendor w-100 mt-4 mb-0" >Sign in as Vendor</button> -->
  </div>
  <!-- <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  </div> -->
  </div>
  