<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-3">
      <strong> Vendor Category Request</strong>
    </div>
    <div class="col text-right">
      <button
        mat-raised-button
        *ngIf="logedInUser?.role == 'Vendor'"
        class="btn btn-primary"
        type="button"
        (click)="method_for_adding_categories()"
      >
        <mat-icon class="align-middle">add</mat-icon> Add Vendor Category
        Request
      </button>

      &nbsp;
      <button class="btn btn-secondary" mat-raised-button type="button" [routerLink]="['/home/categories/productCategories']">
        <i class="fa fa-undo" aria-hidden="true" ></i> Back
      </button>
    </div>
  </div>
</NA-breadcrumb>
<div class="container-fluid">
  <div class="card">
    <div class="m-0 mt-0">
      <NA-vendor-category-request-list></NA-vendor-category-request-list>
    </div>
  </div>
</div>
