<app-header
  [navbarBrandRouterLink]="['/']"
  [mobileSidebarToggler]="false"
  [sidebarToggler]="false"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/old/img/logo_2x.png', width: '90%', alt: 'Neighbourgroup Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'Neighbourgroup Logo'}"
  >
  <ul class="nav navbar-nav ml-auto mr-3">
    <li class="nav-item pr-3" placement="bottom right">
      <!-- <a  [routerLink]="['/auth/login']" [routerLinkActive]="['btn', 'btn-primary', 'active']" role="button"  >
        Login
      </a> -->
    </li>
    <!-- <li class="nav-item" placement="bottom right">
      <a [routerLink]="['/auth/signUp']" role="button" aria-haspopup="true" [routerLinkActive]="['btn', 'btn-primary', 'active']">
        Sign up
      </a>
    </li> -->
  </ul>
</app-header>
