<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-3">
      <strong>Product Category</strong>      
    </div>
    <div class="col text-right">      
      <button class="mr-3" mat-raised-button color="primary" type="button"  
      [routerLink]="['product-category-request']">Product Category Request</button>
      <button mat-raised-button class="btn btn-primary" type="button" 
      (click)="method_for_adding_categories()" ><mat-icon class="align-middle">add</mat-icon> Add Product Categories</button>
      </div>
  </div>

</NA-breadcrumb>

<div class="container-fluid">
  <div class="card">
    <div class="m-0 mt-0">
        <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th class="text-center" style="width:10%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productCategoriesInternalService.productVendorCategorieList | paginate: paginationService.paginationConfig; let i = index">
                <td>
                  <div class="d-inline-block thumbnail-list"><img src="{{neighborhoodsApiService.config.imageBaseUrl}}{{item?.images?.url}}" class="rounded mx-auto " onerror="this.src = 'assets/img/placeholder.png'"></div>
                   {{item.name}}
                </td>
                <td>
                  <span class="status-wrapper" 
                  [ngClass]="{'text-success status-active': item.isActive, 'text-danger status-isactive': !item.isActive}">
                  {{item.isActive ? 'Active' : 'Inactive'}}</span>
                </td>
                <td style="text-align: center;">
                  <span  class="cursor-pointer" (click)="method_for_updating_categories(item)">
                    <mat-icon>edit</mat-icon>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row" *ngIf=" productCategoriesInternalService.productVendorCategorieList.length">
            <div class="col-md-12 pt-2 pb-3">
              <div class="col-md-6 float-left">
              <div class="page-status float-left pt-1">
                <span class="pagenation-status">
                  <span *ngIf="paginationService.total_page == 0">0</span>
                  <span *ngIf="paginationService.total_page !=0">{{paginationService.paginationConfig.currentPage}}</span>-{{paginationService.total_page}} of {{paginationService.total_count}} items</span>
              </div>
            </div>
           
              <div class="col-md-6 float-left">
                <select class="form-control form-control-sm pagination-showe-entries pagination-dropdown number-input float-right ml-4" name="page-size" id="pageSize" (change)="method_for_change_pagination_dropdown()" [(ngModel)]="paginationService.paginationConfig.itemsPerPage" name="pagination">
                  <option *ngFor="let item of paginationService['pagination_dropdown']" [value]="item">{{item}}</option>
                </select>
              <pagination-controls class="pagination float-right" (pageChange)="pageChanged($event)"></pagination-controls>
              
            </div>
            </div><!-- col-md-12 -->
          </div><!-- row -->
    </div>
</div>
</div>
