.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 10px 0 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1001;
   }

   .navbar-right {
    color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center{
    margin: auto;
  }


  .list-style-none{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-right {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      padding: 10px 16px;

      a{
        color: black;
        position: relative;
        padding: 0.2em 0;
        cursor: pointer;
        &:hover{
          color: #FFD540;
          // font-weight: bold;
          text-decoration: none;
        }
      }
            /* Fade in */
        a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: #FFD540;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
        }

        a:hover::after,
        a:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
        }


    }

    .signin{
        background-color: #FFD540;
        border-radius: 4px;
        .singin-link{
            color: black;
            &:hover{
                color: #ffffff;
                // font-weight: bold;
                text-decoration: none;
              }
          }
    }
.cart{
    position: relative;
    margin-right: 20px;
    .cart-link{
        &::before{
            position: absolute;
            right: -18px;
            top: 2px;
            content: "";
            width: 1px;
            height: 23px;
            background: #e4e7ea;
        }
    }
 .cart-icon{
     position: relative;
     .cart-img{
        position: relative;
        margin-top: -2px;
     }
     &::before{
        position: absolute;
        right: 3px;
        top: -4px;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: black;
    }

 }

}



  }
