<div class="container-fluid background-bg pl-0 pr-0">  
    <NA-web-banner></NA-web-banner>
</div>
<div class="container-fluid background-bg">
  <div class="container">
  <NA-web-cart></NA-web-cart>
</div>
</div>
<div class="container-fluid background-bg pl-0 pr-0">
<NA-web-news-letter></NA-web-news-letter>
</div>
