.status-wrapper{
  padding: 3px;
}

.thumbnail-list{
  width: 60px;
  vertical-align: middle;
  padding: 5px;
  img{
    width: 100%;
    background: #ffd63f;
  }
}
.cursor-pointer{
  .material-icons {
    font-size: 16px;
  }
}

td{
  padding:0;
}

