<h2 mat-dialog-title>Update Order Status</h2>
<mat-divider></mat-divider>
<form #f='ngForm'  (ngSubmit)="changeStatus(deliveryStatus)">
<div mat-dialog-content>

    <mat-form-field class="mt-3 w-100" appearance="outline">
      <mat-label>Select Status</mat-label>
      <mat-select [(ngModel)]="deliveryStatus" name="selectedStatus" required>
          <mat-option value="Confirmed">Confirmed</mat-option>
          <mat-option value="Delivered">Delivered</mat-option>
          <mat-option value="Cancelled">Cancelled</mat-option>
      </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions [align]="'start'">
  <button mat-button-raised class="btn btn-primary" [disabled]="f.invalid">Submit</button>
</div>
</form>
