footer {
  background-color: white;
  color: gray;
  padding: 15px;
  border-top: 1px solid #E2E2EA;
  .footer-hedding{
    color: #010101;
  }
  .footer-nav{
    padding: 0px;
    list-style: none;
    li{
    padding:4px 0px;
    list-style: none;    
    a{  
      text-decoration: none;
      color: #010101;
    &:hover{
      color: #FFD540;
      text-decoration: none;
    }
  }
  }
}
}