<footer class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 pt-4 pr-5">
        <img height="50" src="../../../../assets/old/img/logo_2x.png" />
        <div class="pt-3 pb-3 pr-5 mr-2">

        </div>
        <ul class="footer-nav list-style-none d-flex">
            <li class="pr-3"><a href="https://www.facebook.com/neighbourgoodsfinland" target="_blank"><img src="../../../../assets/img/web-icons/facebook.svg" alt=""></a></li>
            <li class="pr-3"><a href="javascript:valid();"><img src="../../../../assets/img/web-icons/twitter.svg" alt=""></a></li>
            <li><a href="https://www.instagram.com/neighbourgoods.fi/" target="_blank"><img src="../../../../assets/img/web-icons/pinterest.svg" alt=""></a></li>
          </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-sx-12">
        <h4 class="text-left footer-hedding"><strong> Quick Links</strong></h4>
        <ul class="footer-nav list-style-none">
            <li><a [routerLink]="['become-a-vendor']" *ngIf="!loginUserData">Beconme a Vendor</a></li>
            <!-- <li><a [routerLink]="['team']">Our Team</a></li> -->
            <!-- <li><a [routerLink]="['gallery']">Gallery</a></li> -->
            <li><a [routerLink]="['contact-us']">Contact Us</a></li>
            <!-- <li><a [routerLink]="['user-profile']">Profile</a></li> -->
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-sx-12">
        <h4 class="text-left footer-hedding"><strong> Other</strong></h4>
        <ul class="footer-nav list-style-none">
            <li><a [routerLink]="['privacy-policy']">Privacy Policy</a></li>
            <li><a [routerLink]="['term-and-condition']">Terms and Conditions</a></li>
            <!-- <li><a [routerLink]="['disclaimer']">Disclaimer</a></li> -->
            <!-- <li><a [routerLink]="['faq']">FAQ</a></li> -->
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-sx-12">
        <h4 class="text-left footer-hedding"><strong>Available On</strong></h4>
        <ul class="footer-nav list-style-none">
            <li><a href="javascript:valid();"><img src="../../../../assets/img/web-icons/App Store.svg" alt=""></a></li>
            <li><a href="javascript:valid();"><img src="../../../../assets/img/web-icons/Play Store.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="text-center">© Pwoered By X2Concept Oy Finland</p>
  </footer>
