/* You can add global styles to this file, and also import other style files */

@import "~angular-notifier/styles";
@import "~@ng-select/ng-select/themes/material.theme.css";

.mat-dialog-container{
    padding: 0px;
}
a, button{
    cursor: pointer;
}
.mat-icon-button{
 &:hover, &:focus{
     border:none;
     outline: none;
     box-shadow: none;
 }
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper{
    margin-top: 3px;
}
.invalid-feedback{
    margin-top: 0px !important;
    font-size: 100% !important;
}
.ng-select.ng-select-single .ng-value-container{
    margin-top: 6px;
}