<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-3">
      <strong>Sales Report</strong>
    </div>
  </div>
</NA-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-md-2">
      <div class="card card-container">
        <div class="card-body card-body-content">
          <div class="card-total float-left">
            <div class="h4 mb-0">
              &euro;{{ paymentInternalService.totalSales / 100 }}
            </div>
            <small class="text-muted text-uppercase font-weight-bold"
              >Total Sales</small
            >
          </div>
          <div class="card-icon">
            <div
              class="
                avatar-lg
                rounded-circle
                bg-soft-info
                border-info
                d-flex
                align-items-center
                justify-content-center
                border
                dashboard-icon
                h1
                text-muted
                float-right
                mb-0
              "
            >
              <i class="icon-people"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-3 col-sm-6 col-md-2">
      <div class="card card-container">
        <div class="card-body card-body-content">
          <div class="card-total float-left">
            <div class="h4 mb-0">
              &euro;{{ paymentInternalService.totalApplicationFees / 100 }}
            </div>
            <small class="text-muted text-uppercase font-weight-bold"
              >Total App Fee Received</small
            >
          </div>
          <div class="card-icon">
            <div
              class="
                avatar-lg
                rounded-circle
                bg-soft-success
                border-success
                d-flex
                align-items-center
                justify-content-center
                border
                dashboard-icon
                h1
                text-muted
                float-right
                mb-0
              "
            >
              <i class="icon-user-follow"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th style="width: 20%">Vendor Store</th>
            <th style="width: 20%">Order Id</th>
            <th style="width: 15%">Amount</th>
            <th style="width: 13%">App Fee</th>
            <th style="width: 20%">Status</th>
            <th style="width: 12%">Date/Time</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of paymentInternalService.paymentDetailsData
                | paginate: paginationService.paginationConfig;
              let i = index
            "
          >
            <td>{{ item.vendors?.storeName }}</td>
            <td>{{ item.orders?.orderNumber }}</td>
            <td>&euro;{{ item.paymentObj?.amount / 100 }}</td>
            <td>&euro;{{ item.paymentObj?.application_fee_amount / 100 }}</td>

            <td>{{ item.status }}</td>
            <td>{{ item.paymentObj?.created | date }}</td>
          </tr>
          <!-- <tr *ngIf="paymentInternalService.paymentDetailsData.length == 0">
              <td colspan="5" class="text-center">No Record Found</td>
            </tr> -->
        </tbody>
      </table>
      <div class="row" *ngIf="paymentInternalService.paymentDetailsData.length">
        <div class="col-md-12 pt-2 pb-3">
          <div class="col-md-6 float-left">
            <div class="page-status float-left pt-1">
              <span class="pagenation-status">
                <span *ngIf="paginationService.total_page == 0">0</span>
                <span *ngIf="paginationService.total_page != 0">{{
                  paginationService.paginationConfig.currentPage
                }}</span
                >-{{ paginationService.total_page }} of
                {{ paginationService.total_count }} items</span
              >
            </div>
          </div>

          <div class="col-md-6 float-left">
            <select
              class="
                form-control form-control-sm
                pagination-showe-entries pagination-dropdown
                number-input
                float-right
                ml-4
              "
              name="page-size"
              id="pageSize"
              (change)="method_for_change_pagination_dropdown()"
              [(ngModel)]="paginationService.paginationConfig.itemsPerPage"
              name="pagination"
            >
              <option
                *ngFor="let item of paginationService['pagination_dropdown']"
                [value]="item"
              >
                {{ item }}
              </option>
            </select>
            <pagination-controls
              class="pagination float-right"
              (pageChange)="pageChanged($event)"
            ></pagination-controls>
          </div>
        </div>
        <!-- col-md-12 -->
      </div>
      <!-- row -->
    </div>
  </div>
</div>
