// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";



/*======= Style the customize scrollbar bar ========*/
::-webkit-scrollbar {
  width: 5px;
  background: #fff;
  width: 5px;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: #D5D5DC;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2b2b2b;
}
::-webkit-scrollbar-thumb:active {
  background-color: #2b2b2b;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
body::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  outline: 1px solid rgba(239, 246, 253, 0.75);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #2b2b2b;
}

// ------Style the Custom checkbox
.checkbox-input {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    .checkbox-text {
      font-size: 13px;
    }
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 6px;
    display: inline-block;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(239, 246, 253, 0.75);
    border-radius: 4px;
  }

  // Box hover
  &:hover + label:before {
    background: transparent;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.034);
  }

  // Box checked
  &:checked + label:before {
    background: #2b2b2b;
    border: 1px solid transparent;
  }

  // Disabled state label.
  &:disabled + label {
    color: #2b2b2b;;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #2b2b2b;;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 8px;
    background: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #fff, 4px 0 0 #fff,
      4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff,
      4px -8px 0 #fff;
    transform: rotate(45deg);
  }
}
// ------ End Custom checkbox styles





.btn-primary,
.mat-raised-button.mat-primary {
  background-color: #ffd540 !important;
  border: 1px solid #ffd540 !important;
  box-shadow: none !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  // line-height: 36px;
  &:hover,
  &:focus {
    background-color: #fdc501 !important;
    border: 1px solid #fdc501 !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-secondary,
.mat-raised-button.mat-primary {
  background-color: #49d3cc !important;
  border-color: #49d3cc !important;
  box-shadow: none !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  &:hover,
  &:focus {
    background-color: #27c5bd !important;
    border-color: #27c5bd !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
.btn-default {
  border: 1px solid rgb(228 231 234) !important;
  box-shadow: none !important;
  font-size: 14px;
  font-weight: 500;
  &:hover,
  &:focus {
    background-color: #f4f5f7 !important;
    border-color: rgb(190 193 195) !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-docs-link{
          background: #3f51b5;
          padding: 0.375rem 0.75rem;
          border-radius: 4px;
          line-height: 22px;
          box-shadow: none !important;
          color: #fff;
          &:hover, &:focus{
              background: #3646a0;
              color: #fff;
          }
}

.sidebar {
  color: #fff;
  // background: #55D6CF;
  .nav-link:hover {
    color: #fff !important;
    background: #16b690;
  }
  a.active.nav-link {
    * {
      color: #ffd540;
    }
    .nav-icon {
      color: #ffd540 !important;
    }
    position: relative;
  }

  a.active.nav-link:hover {
    * {
      color: #fff;
    }
    .nav-icon {
      color: #fff !important;
    }
  }
  a.active.nav-link:before {
    content: "";
    width: 5px;
    background: #ffd540;
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
  }
}

// .app-body{
//   background-color: #55D6CF;
// }
.cursor-pointer {
  cursor: pointer;
}
//  Style of the breadcrumb css
.breadcrumb {
  padding: 0.3rem 1rem;
  min-height: 50px;
  justify-content: center;
  align-items: center;
}
.breadcrumb-row {
  align-items: center;
}
//  Style of the Card css
.card {
  &.card-container {
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 0.25rem;
  }
}
.card-body-content {
  transition: all 0.2s;
  &:hover {
    box-shadow:0 0 11px 0 rgb(154 161 171 / 22%);
    transition: all 0.4s;
  }
}
.card-modale-title {
  .tetle-hedding {
    padding-bottom: 0px;
    border-bottom: 2px solid #e4e7ea;
    position: relative;
    font-size: 14px;
    &::before {
      position: absolute;
      background-color: #2f353a;
      min-width: 60px;
      height: 4px;
      content: "";
      left: 0px;
      bottom: -3px;
    }
  }
}
.card-footer {
  background-color: #fff;
}
.mat-h2,
.mat-title,
.mat-typography h2 {
  font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;
}

//  Style of the table css
.table {
  &-outline {
    border: 1px solid #eef2f5;
  }
  th,
  td {
    border-color: #eef2f5;
    font-size: 13px;
  }
  .thead-light th {
    background-color: #fafbff;
    border-color: #eef2f5;
  }
}

.table-hover tbody tr:hover {
  background-color: #fafbff;
}
.dataTables_length {
  label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
  }
  select {
    width: auto;
    display: inline-block;
  }
}
.status-active{
    padding: 0.35em 0.5em;
    border-radius: 2px;
    font-weight: 500;
}

.status-isactive{
  padding: 0.35em 0.5em;
  border-radius: 2px;
  font-weight: 500;
  color:#fff;
  background:#f86262;
}
.page-status{
  .pagenation-status{
    font-size: 12px;
  }
}
.pagination-showe-entries{
 width:65px;
}
.material-icons{
  font-size: 22px;
}




// input filed style css
.form-control:focus {
  box-shadow: none;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgb(47 53 58 / 43%);
}
input:-internal-autofill-selected {
  background-color: #fff;
}
input:-webkit-autofill {
  background-color: #fff;
}

/* Loader css start here */
.loader_wrapper {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
}

.loader {
  border: 10px solid #e2e2e2; /* Light grey */
  border-top: 10px solid #ffd540; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100000;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loader css end here */

.disabled-action{
  cursor: none;
  pointer-events: none;
  color: lightgrey;
}

.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover{
  background-color: rgb(0 0 0 / 0%) !important;
}

.modal-header{
  .modal-title{
    font-size:0.9rem;
    font-weight: 500;
    color:#2B2B2B;
  }
}


.number-add, .input-config {
  background-color: transparent;
  text-align: center;
  border: 1px solid #F4AC00;
}

.number-section {
  padding:0px;
  display: flex;
  justify-content: flex-end;
}


.disabledBox {
  background: #eaeaea;
  border: 1px solid #d6d6d6;
  color: transparent;

}

.input-config{
  height: 35px;
  vertical-align: bottom;
  border-top: 1px solid #F4AC00;
  border-bottom: 1px solid #F4AC00;
  width: 28px;
 
}
/* Chrome, Safari, Edge, Opera */
input.input-config::-webkit-outer-spin-button,
input.input-config::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

/* Firefox */
input.input-config[type=number] {
  -moz-appearance: none;
  -moz-appearance:textfield;
  position: relative;
}
input.input-config[type=number]::-moz-inner-spin-button,
input.input-config[type=number]::-moz-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.number{
      &-add{
          background: rgba(244, 172, 0, 0.15);
          border: 1px solid #F4AC00;  
          padding: 3px 8px;

          i.fa{
            font-size: 12px;
          }
          &:hover, &:focus{
            outline: none;
            box-shadow: none;            
          }
                 
          &.increase{
            border-radius: 4px 0px 0px 4px;
          }
          &.decrease{
            border-radius: 0px 4px 4px 0px;
          }
      }
}
.more-btn{
  color:#2B2B2B !important;
}
.close{
  border:none;
  box-shadow: none;
  outline: none;
  &:hover, &:focus{
      border:none;
      box-shadow: none;
      outline: none; 
  }
}

// top header banner Style css
.top-header-img{
  background-image: url(../assets/img/web-icons/hero-images-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:350px;
  max-width: 100%;  
}
