<div class="modal-header">
    <h5 class="modal-title d-flex">Profile Picture</h5>

    <button type="button" class="close"  (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
</div><!-- modal-header -->


<div class="modal-body">


    <div class="upload-btn">
        <label for="browse-file" class="btn btn-upload btn-primary">
            <!-- <img src="./../../../assets/icon-add.svg" alt="icon"> -->
            Upload Photo
            <input class="d-none" type="file" (change)="fileChangeEvent($event)" id="browse-file">
        </label>
    </div><!-- upload-btn -->


    <div class="row">
        <div class="col-md-6 cropper">
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [containWithinAspectRatio]="containWithinAspectRatio"
                [aspectRatio]="1 / 1"
                [resizeToWidth]="100"
                [cropperMinWidth]="100"
                [onlyScaleDown]="true"
                [roundCropper]="false"
                [canvasRotation]="canvasRotation"
                [transform]="transform"
                [alignImage]="'left'"
                [style.display]="showCropper ? null : 'none'"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()">
            </image-cropper>
        </div>
    
        <div class="col-md-6 preview-column">
            <div class="preview">
                <img [src]="croppedImage" class="img-thumbnail"  [style.border]="croppedImage ? '1px solid #E2E2EA' : 'none'">
                <p>Preveiw - Profile Picture</p>
            </div><!-- preview / col -->
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-light" (click)="cancel()">Back</button>
        <button class="btn btn-save theme-bg" (click)="method_for_uploadImage()">Save</button>
    </div>




</div>