.background-bg{
    background-color:#fff;
  }

.vendor{
    width: 100%;
    &-filter{
        border-bottom: 1px solid #e4e5e6;
        .vendor-hedding{
                color: #2B2B2B;
                font-size: 1.8rem;
                font-weight: 700;
                letter-spacing: 0.1rem;
            }
           .filter{
                    display: flex;
                    position: relative;
                    padding: 0px 0px 0px 0px;
                    align-items: center;
                    align-content: center;
               li{
                    padding: 0px 10px;
                    list-style: none;
                    position: relative;
                    display: flex;
                   a{
                       color: #2B2B2B;

                       &:hover, &:focus{
                        color: #2B2B2B;
                        text-decoration: none;
                       }
                   }

                   .select-location{
                       height: calc(1.2em + 0.75rem + 2px);
                       border: none;
                       color: #ffc107;
                       font-weight: 500;
                       padding-left: 1px;
                        // &::placeholder{
                        //     color:#ffc107;
                        // }
                }
               }
               .filter-icon{
                   padding-left: 31px;
                        &::before{
                            background-image: url(../../../../../assets/img/web-icons/Filter.svg);
                            background-position: 0px center;
                            background-repeat: no-repeat;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            left:0px;
                            top: 0px;
                            content: '';
                        }


               }
               .favorite-icon{
                      padding-left: 31px;
                   &::before{
                    background-image: url(../../../../../assets/img/web-icons/heart.svg);
                    background-position: 0px center;
                            background-repeat: no-repeat;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            left:0px;
                            top: 0px;
                            content: '';
                   }


               }
           }
    }
}

.web-card-body{
    border: 1px solid #d0cfcf;
    box-shadow: none;
    .card-filter-body{
        padding: 0px;
        .card-gallery{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e8e8e8;
            max-height: 202px;
            overflow: hidden;
            img {
              max-width: 100%;
              min-width: 100%;
            }
        }
        .card-filter-content{
            .card-hedding{
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                color: #2B2B2B;
                font-size: 1rem;
                font-weight: 500;
                line-height: 0;
                cursor: pointer;
            }
            .card-small-text{
                color: #a9a9a9;
                font-size: 0.7rem;
                font-weight: normal;
            }

            .cart-ratting-box{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .ratting-cell{
                color: #2B2B2B;
                font-size: 0.8rem;
                font-weight: 500;
                position: relative;
                  &::after{
                    background-color: #a9a9a9;
                    width: 1px;
                    height: 13px;
                    position: absolute;
                    right: 11px;
                    top: 3px;
                    content: "";
                  }
                  &:last-child::after{
                      background-color: transparent;
                  }

                }
            }
        }
    }
}
.card-filter{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}


@media (max-width: 768px){
    .web-card-body{

         .card-filter-body{

            .card-gallery{
                max-height: 290px;
            }
       }
    }
}

@media (max-width: 576px){
    .web-card-body{

        .card-filter-body{

           .card-gallery{
               max-height: 370px;
           }
      }
   }
}