<section class="vendor vendor-card-bg pt-2">
  <div class="vendor-filter pt-3 pb-0">
    <h1 class="vendor-hedding mb-2">Vendor Food & Crafts</h1>
    <ul class="filter mb-2">
      <!-- <li class="filter-icon">
        <a class="pt-1" href=""><strong>Filter :</strong></a>
      </li> -->
      <!-- <li class="filter-select mt-1 pl-0 mr-4">
        <select name="location" id="cars" class="select-location custom-select-md form-control">
          <option value="Rating 4.0+">Rating 4.0+</option>
          <option value="India">India</option>
        </select>
      </li> -->
      <!-- <li class="favorite-icon ml-2">
        <a class="pt-1" href=""><strong>Favorite</strong></a>
      </li> -->
    </ul>
  </div>

  <div class="card card-filter mt-3 mb-4 pt-3 pb-3" style="border: none;">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let vendor of webVendorListInternalService.vendorList">
      <div class="card card-container web-card-body ">
        <div class="card-body card-body-content card-filter-body">
          <div class="card-gallery">
            <img *ngIf="!vendor?.bannerImage.length" src="../../../../assets/img/placeholder.png" >
            <img *ngIf="vendor?.bannerImage.length" src="{{neighborhoodsApiService.config.imageBaseUrl}}{{vendor?.bannerImage[0].bannerImage.url}}" />
          </div>
          <div class="card-filter-content pl-0 pr-0">
            <div class="filter-content mt-2 pb-2 pl-2 pr-2">
              <h3 class="card-hedding pointer mb-0" >
                <span [routerLink]="['/select-your-product/', vendor.id]">{{vendor.businessName}}</span>
                <em class="heart-icon">
                  <img height="20" *ngIf="!vendor.favoriteVendors?.length" (click)="method_for_create_favroite_vendor(vendor)" src="../../../../../assets/img/web-icons/heart.svg" />
                  <img height="20" *ngIf="vendor.favoriteVendors && vendor.favoriteVendors.length" (click)="method_for_delete_favorite_vendor(vendor.favoriteVendors)" src="../../../../../assets/img/web-icons/heart_small-fill.svg" />
                </em>
              </h3>
              <span class="card-small-text">{{vendor.categories?.name}}</span>
            </div>
            <div class="filter-content cart-ratting-box mt-2 pb-2 pl-2 pr-2">
               <div class="ratting-cell pr-4" >
                  <em class="ratting-icon">
                    <img src="../../../../../assets/img/web-icons/star.svg" alt="">
                  </em>
                  <span *ngIf="vendor.rating">{{vendor.rating}}</span>
                  <span *ngIf="!vendor.rating">0</span>
                </div>
                <!-- <div class="ratting-cell pr-4">
                  <span>35 min</span>
                </div> -->
                <div class="ratting-cell" *ngIf="vendor.priceForOne">
                  <span>&euro; {{vendor.priceForOne}} for one</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="text-center w-100" *ngIf="webVendorListInternalService.vendorList.length">
    <button color="primary" class="btn btn-primary more-btn" style="line-height: 28px;" [routerLink]="['/store']"
    >View More Vendors</button>
  </div>
  </div>

<!-- End of Card row one-->
<!-- <div class="card card-filter mb-0 pt-3 pb-3">
  <div class="col-lg-3 col-sm-6 col-md-2">
    <div class="card card-container web-card-body mb-0">
      <div class="card-body card-body-content card-filter-body">
        <div class="card-gallery">
          <img src="../../../../../assets/img/web-icons/gallery.svg" />
        </div>
        <div class="card-filter-content pl-0 pr-0">
          <div class="filter-content mt-2 pb-2 pl-2 pr-2">
            <h3 class="card-hedding mb-0">
              National Gallery & Arts
              <em class="heart-icon"
                ><img
                  height="20"
                  src="../../../../../assets/img/web-icons/heart.svg"
                />
              </em>
            </h3>
            <span class="card-small-text">Craft, Picture</span>
          </div>
          <div class="filter-content cart-ratting-box mt-2 pb-2 pl-2 pr-2">
             <div class="ratting-cell pr-4">
               <em class="ratting-icon"><img src="../../../../../assets/img/web-icons/star.svg" alt=""></em>
               <span>4.5</span>
             </div>
             <div class="ratting-cell pr-4">
              <span>35 min</span>
            </div>
            <div class="ratting-cell">
              <span>&euro; 25.00 for one</span>
            </div>
            </div>


        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-md-2">
    <div class="card card-container web-card-body mb-0">
      <div class="card-body card-body-content card-filter-body">
        <div class="card-gallery">
          <img src="../../../../../assets/img/web-icons/gallery.svg" />
        </div>
        <div class="card-filter-content pl-0 pr-0">
          <div class="filter-content mt-2 pb-2 pl-2 pr-2">
            <h3 class="card-hedding mb-0">
              National Gallery & Arts
              <em class="heart-icon"
                ><img
                  height="20"
                  src="../../../../../assets/img/web-icons/heart.svg"
                />
              </em>
            </h3>
            <span class="card-small-text">Craft, Picture</span>
          </div>
          <div class="filter-content cart-ratting-box mt-2 pb-2 pl-2 pr-2">
             <div class="ratting-cell pr-4">
               <em class="ratting-icon"><img src="../../../../../assets/img/web-icons/star.svg" alt=""></em>
               <span>4.5</span>
             </div>
             <div class="ratting-cell pr-4">
              <span>35 min</span>
            </div>
            <div class="ratting-cell">
              <span>&euro; 25.00 for one</span>
            </div>
            </div>


        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-md-2">
    <div class="card card-container web-card-body mb-0">
      <div class="card-body card-body-content card-filter-body">
        <div class="card-gallery">
          <img src="../../../../../assets/img/web-icons/gallery.svg" />
        </div>
        <div class="card-filter-content pl-0 pr-0">
          <div class="filter-content mt-2 pb-2 pl-2 pr-2">
            <h3 class="card-hedding mb-0">
              National Gallery & Arts
              <em class="heart-icon"
                ><img
                  height="20"
                  src="../../../../../assets/img/web-icons/heart.svg"
                />
              </em>
            </h3>
            <span class="card-small-text">Craft, Picture</span>
          </div>
          <div class="filter-content cart-ratting-box mt-2 pb-2 pl-2 pr-2">
             <div class="ratting-cell pr-4">
               <em class="ratting-icon"><img src="../../../../../assets/img/web-icons/star.svg" alt=""></em>
               <span>4.5</span>
             </div>
             <div class="ratting-cell pr-4">
              <span>35 min</span>
            </div>
            <div class="ratting-cell">
              <span>&euro; 25.00 for one</span>
            </div>
            </div>


        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-md-2">
    <div class="card card-container web-card-body mb-0">
      <div class="card-body card-body-content card-filter-body">
        <div class="card-gallery">
          <img src="../../../../../assets/img/web-icons/gallery.svg" />
        </div>
        <div class="card-filter-content pl-0 pr-0">
          <div class="filter-content mt-2 pb-2 pl-2 pr-2">
            <h3 class="card-hedding mb-0">
              National Gallery & Arts
              <em class="heart-icon"
                ><img
                  height="20"
                  src="../../../../../assets/img/web-icons/heart.svg"
                />
              </em>
            </h3>
            <span class="card-small-text">Craft, Picture</span>
          </div>
          <div class="filter-content cart-ratting-box mt-2 pb-2 pl-2 pr-2">
             <div class="ratting-cell pr-4">
               <em class="ratting-icon"><img src="../../../../../assets/img/web-icons/star.svg" alt=""></em>
               <span>4.5</span>
             </div>
             <div class="ratting-cell pr-4">
              <span>35 min</span>
            </div>
            <div class="ratting-cell">
              <span>&euro; 25.00 for one</span>
            </div>
            </div>


        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End of Card row one-->


</section>
