.background-bg{
    background-color:#fff;
  }
.banner{
            margin-top:0px;
            background-image: url(../../../../../assets/img/web-icons/hero-image.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 558px;
            display: flex;
            align-content: center;
    &-content{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top:8%;
        .banner-avatar{
            max-width: 100%;
            height: auto;
            min-height: 500px;
            position: sticky;
            background-size: cover;
        }
        .banner-tag, .banner-p-text, .avatar-logo, .banner-search{           
            margin: auto;
            color: black;
            font-size: 3rem;
            font-weight: 500;
            letter-spacing: 0px;  
            
            .avatar-logo{
                width: 26px;
                height: auto;
                left: 38%;
                margin-top: -20px;
            }
        }

        .banner-p-text{
            font-size: 1.2rem;
            text-transform: capitalize;
            font-weight: 400;
        }

        .banner-search{
            background-color: #fff;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            padding:12px 15px;
            width: 47%;
            min-height: 65px;
            justify-content: space-between;

            .location-fild{
                position: relative;
                .select-location{
                    padding-left: 26px;
                    min-height: 41px;
                    border:none;
                    background-image: url(../../../../../assets/img/web-icons/pin.svg);
                    background-position: left center;
                    background-repeat: no-repeat;  
                }
                &::before{
                    position: absolute;
                    right: -10px;
                    top: 9px;
                    content: "";
                    width: 1px;
                    height: 23px;
                    background: #e4e7ea;
                }
            }
            .search{
                width:63%;
                .search-input{
                    min-height: 41px;
                    padding-left:2rem;
                    background-image: url(../../../../../assets/img/web-icons/search.svg);
                    background-position: 0px center;
                    background-repeat: no-repeat; 
                    font-size: 14px; 
                    border:none;
                    &::placeholder{
                        color: black;
                    }
                }
            }
            .search-find-button{
                .btn-find{
                    color: black !important;
                    padding: 9px 24px;
                    font-size: 14px;
                    &:hover, &:focus{
                        color:#fff;
                    }                   
                }
            }
        }
       
    }
}


@media (max-width: 768px){
    .banner-content {
        padding-top: 17%;
    .banner-search {
        width: 80%;
    }
    .banner-tag{
        font-size: 2.3rem;
    }
    .banner-p-text{
        font-size: 1.1rem;
    }
}

}

@media (max-width: 576px){
    .banner-content {
        
        .banner-search {
            width: 100%;
        }
        .banner-tag{
            font-size: 2.3rem;
        }
        .banner-p-text{
            font-size: 1.1rem;
        }
    }
}