<section class="banner">
  <div class="container">
    <div class="banner-content">
      <!-- <img class="banner-avatar" src="../../assets/img/web-icons/hero-image.svg" alt="">   -->
      <h1 class="banner-tag">
        <span class="mr-1">Order with</span> <em class="avatar-logo"><img src="../../../../../assets/img/web-icons/app-icon.svg" alt=""> </em>Neighourgoods
      </h1>
      <p class="banner-p-text pt-3 pb-3">we provide handmade food and crafts and personal sales.</p>

      <div class="banner-search d-flex mt-4">
        <!-- <div class="location-fild">
          <select name="location" id="cars" class="select-location custom-select-md form-control">
            <option value="Location">Location</option>
            <option value="India">India</option>
          </select>
        </div> -->
        <div class="search ml-0">
          <input type="text" class="search-input form-control form-control-sm ml-20" placeholder="Search for Vendor / Food / Crafts" debounce [delay]="700" (func)="method_for_change_in_filter()" [(ngModel)]="webVendorListInternalService.searchVendor" debounce="">
        </div>
        <div class="search-find-button ml-3">
          <button class="btn btn-primary btn-find" type="button" >Find</button>
        </div>
      </div>
    </div>
</div>
</section>
