<NA-breadcrumb >
  <div class="row breadcrumb-row">
    <div class="col col-md-3">
      <strong>Order</strong>
    </div>  
    <div id="data-table_filter" class="dataTables_filter d-flex justify-content-end pr-3 pt-0">
      <label class="label-data search-label d-flex justify-content-center align-items-center mb-0">
       <!-- <input type="text" class="form-control form-control-sm ml-2" placeholder="Search here..." debounce [delay]="700"> -->
        </label>
    </div>
    <div class="col text-right pr-0">
      <button type="button" mat-raised-button (click)="paymentInternalService.method_for_generating_CSV()" class="btn btn-primary">Export CSV</button>
    </div>
  </div>
</NA-breadcrumb>
<router-outlet></router-outlet>
