



<div class="w-100">

    <div class="mb-4 float-right">
        <button mat-raised-button color="primary" type="button" (click)="method_for_add_address()" >Add Address</button>
    </div>



    <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of addressList">
            <td>{{item.street1}} {{item.street2}}, {{item.city?.name}} {{item.state?.name}} {{item.country?.name}}  ({{item.postalCode}})</td>
          </tr>
        </tbody>
    </table>
</div>