
<div class="modal-header pt-2 pb-2 pl-2">
    <h2 class="modal-title mb-0" id="exampleModalCenteredLabel"><mat-icon class="align-middle">add</mat-icon> {{parentObj.id ? 'Update' :'Add'}} {{parentObj.type}} Categories Request</h2>
    <button type="button" class="close" data-dismiss="modal" (click)="cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body float-left w-100 p-0 pt-3">

    <form class="float-left mt-1 w-100 mb-0" [formGroup]="updateDetailsForm" (ngSubmit)="method_for_updateDetails()">
     
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left w-100">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput name="Name" placeholder="Name" formControlName="name" >
                <mat-error *ngIf="f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </mat-error>
               </mat-form-field>
            </div>
        <div class="modal-footer float-left mt-3 w-100 pl-0 pr-0">
            <div class="col-lg-12 mt-0 btn-wrapper">
                <button mat-raised-button color="primary" type="submit">Save</button>
            </div>
         </div>

       

    </form>
</div>
