<NA-breadcrumb>
  <div class="row breadcrumb-row">
    <div class="col col-md-2">
      <strong>Product</strong>
    </div>

    <div class="col text-right pr-0">
      <!-- <button type="button" color="primary" class=" btn mr-2"  mat-raised-button (click)="method_for_getting_pay ()"><mat-icon class="align-middle">add</mat-icon>Pay For product</button> -->
      <button type="button" class="btn btn-primary mr-3" mat-raised-button [routerLink]="['add-product']"><mat-icon class="align-middle">add</mat-icon> Add Product</button>

      </div>
  </div>

</NA-breadcrumb>
<div class="container-fluid">
<div class="card">
  <div class="card-body p-0">
  <div>
    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <thead class="thead-light">
        <tr>
          <th style="width:8%">#SN</th>
          <th style="width:27%">Product Name</th>
          <th style="width:22%">Selling Price</th>
          <th  style="width:20%">Available Stock</th>
          <th  style="width:13%">Status</th>
          <th style="width:10%">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of productInternalService.productList; let i = index">
          <td >
            {{i+1}}
          </td>
          <td >
            <div *ngIf="!item.productName">--</div>
            <div *ngIf="item.productName">{{item.productName}}</div>
          </td>
          <td >
              <div>{{item.email}}</div>
          </td>
          <td >
            <div *ngIf="!item.status">Not Available</div>
            <div *ngIf="item.status">Available</div>
          </td>
          <td >
            <div class="text-success status-active" *ngIf="item.isActive">Active</div>
            <div class="text-danger status-active"*ngIf="!item.isActive">InActive</div>
          </td>
          <td >
            <span [routerLink]="['product-detail', item.id]" ><i class="fa fa-eye" aria-hidden="true"></i></span>
            &nbsp;
            <span><i class="fa fa-trash" aria-hidden="true" (click)="deleteProduct(item)"></i></span>
          </td>
        </tr>
        <tr  *ngIf="productInternalService.productList.length == 0">
          <td colspan="6" class="text-center">
            <h4>No record found</h4>
          </td>
        </tr>
      </tbody>
  </table>

  </div>
</div>
</div>
</div>

