<div class="" style="    background-color: white; min-height: 85vh; height: 100%;">
    <header>
      <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
    </header>
    <div>
      <div class="row">
        <div class="left col-lg-4">
          <div class="photo-left">
            <img class="photo" src="https://images.pexels.com/photos/1804796/pexels-photo-1804796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            <div class="active"></div>
          </div>
          <h4 class="name">{{loginUserData.firstName}} {{loginUserData.middleName}} {{loginUserData.lastName}}</h4>
          <!-- <p class="info">UI/UX Designer</p> -->
          <p class="info">{{loginUserData.email}}</p>
          <div class="stats row">
            <div class="stat col-xs-4" style="padding-right: 50px;">
              <p class="number-stat">0</p>
              <p class="desc-stat">Followers</p>
            </div>
            <div class="stat col-xs-4">
              <p class="number-stat">0</p>
              <p class="desc-stat">Following</p>
            </div>
            <div class="stat col-xs-4" style="padding-left: 50px;">
              <p class="number-stat">0</p>
              <p class="desc-stat">Uploads</p>
            </div>
          </div>
          <p class="desc">Hi ! My name is Jane Doe. I'm a UI/UX Designer from Paris, in France. I really enjoy photography and mountains.</p>
          <div class="social">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            <i class="fa fa-tumblr-square" aria-hidden="true"></i>
          </div>
        </div>
        <div class="right col-lg-8">
        <ul class="nav">
            <li (click)="method_for_redirect ('address')">Details</li>
            <!-- <li class="selected">Collections</li>
            <li>Groups</li>
            <li>About</li> -->
          </ul>
          <!-- <span class="follow">Follow</span> -->
            <div class="mt-5 mr-5">
              <router-outlet class="w-100"></router-outlet>
            </div>
        </div>
    </div>
  </div>