 /* Remove the navbar's default margin-bottom and rounded borders */
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: white;
    color: gray;
    padding: 15px;
  }
  
  #basic-addon2{
    background-color: white;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;}
  }
  
  .search-field {
    width: 80%;
    margin: auto;
  }
  
  .card-image-title{
    mat-icon{
      height: auto;
      width: auto;
      font-size: 100px;
      color: white;
    }
    background-color: #4AD3CC;
  }
  
  
  .center{
    margin: auto;
  }
  
  
  .list-style-none{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right {
    color: gray;
    li{
      padding: 10px;
      a{
        color: gray;
        &:hover{
          color: #FFD540;
          font-weight: bold;
        }
      }
    }
  }
  
  
  .btn-default{
    background: gray;
    color: white;
  }

  .bg-images{
    background-image: url(../../../assets/img/web-icons/hero-images-bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
    max-width: 100%;
  }
  